@media only screen and (max-width: 640px) {
	#stylized input {
		margin: 0px 200px 20px 0;
		width: 360px;
		height:100%;
				}
				}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
    margin: 0 auto;
    width: 530px;
    padding: 25px;
}
	/* ----------- basic ----------- */
	#basic{
		border:solid 2px #DEDEDE;	
	}
	#basic h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#basic p{
		font-size:11px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #dedede;
		padding-bottom:10px;
	}
	#basic label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:140px;
		float:left;
	}
	#basic .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:140px;
	}
	#basic input{
		float:left;
		width:200px;
		margin:2px 0 30px 10px;
	}
	#basic button{ 
		clear:both;
		margin-left:150px;
		background:#888888;
		color:#FFFFFF;
		border:solid 1px #666666;
		font-size:11px;
		font-weight:bold;
		padding:4px 6px;
	}


	/* ----------- stylized ----------- */
	#stylized{
		border: solid 2px #fff;
		background: #fff;
		border-radius: 10px;

	}
	#stylized h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#stylized p{
		font-size:11px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #b7ddf2;
		padding-bottom:10px;
	}
	#stylized label{
		display: block;
		font-weight: bold;
		text-align: left;
		width: 196px;
		margin-left: -28px;
		line-height: 19px;

	}
	#stylized .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:140px;
	}
	#stylized input{
		float: left;
		font-size: 14px;
		font-weight: bold;
		padding: 10px 2px;
		border: solid 1px #000;
		width: 500px;
		margin: 0px 200px 20px -30px;
	}
	#stylized button{ 
		clear: both;
		margin-left: 170px;
		width: 150px;
		height: 31px;
		background: #444;
		text-align: center;
		line-height: 31px;
		color: #FFFFFF;
		font-size: 11px;
		font-weight: bold;
	}
	
