@media only screen and (max-width: 960px) {
	.header-inner h1.headline {
		font-size: 78px;
		margin: 120px 0 0 0;
	}
	.text-block-left, .text-block-right {
		padding: 0px 0px 20px 0px;
	}
	h2 {
		font-size: 50px;
	}
	p.subheading {
		font-size: 18px;
	}
	.team-photo img {
		width: 160px;
	}
	section {
		padding: 40px 0;
	}
}

@media only screen and (max-width: 720px) {
	.header-inner h1.headline {
		font-size: 25px;
		margin: 0;
		width: 180px;
	}

	
@media only screen and (max-width: 720px) {
	.header-inner h2.headline2 {
		font-size: 17px;
		margin: 8px 0;
		width: 414px;
	}
	}

@media only screen and (max-width: 640px) {
		#cbp-fwslider {
			margin: 0;
			width: 640px;
			height:475px;
		}
		}	

@media only screen and (max-width: 640px) {
		.responsive-img, .responsive-vid {
			margin: 35px 0 ;
			width: 600px;
			height:100%;
		}
		}	
@media only screen and (max-width: 640px) {
	.alt-background {
			margin: 35px 0 ;
			width: 640px;
			height:100%;
		}
		}
@media only screen and (max-width: 640px) {
	#stylized input {
		margin: 0px 200px 20px 0 !important;
		width: 360px !important;
		height:100%;
				}
				}

@media only screen and (max-width: 640px) {
	.media-form {
		margin: 0;
		width: 400px;
		height:100%;
		}
	}
@media only screen and (max-width: 640px) {
	#stylized label {
		margin-left: 0 !important;

		}
	}
								

	.team-photo img {
		width: 220px;
	}
	section {
		padding: 0px 0;
	}
}

@media only screen and (max-width: 480px) {
	.header-inner h1.headline {
	    font-size: 17px;
    	margin: 20px 0 0 0;
    	width: 70%;
	}

	h2.headline2{

		width: 50%;
		font-size: 12px;

	}

	p.subheading {
		font-size: 14px;
	}
}

