/*********************************************************************************************

Project : rwdgrid - responsive grid system for your next project
URI: http://rwdgrid.com/
Version: 1.0
Author: Vineeth G S 
Author URI: http://www.gsvineeth.com
Github URI: https://github.com/gsvineeth/rwdgrid/

**********************************************************************************************

1.  Normalize.css            
2.  Grid 1200px 
3.  Grid 960px
4.  Grid 720px
5.  Grid lt 720px/ Mobile 
6.  Responsive Image


**********************************************************************************************/


/********************************************************************************************* 
1. normalize.css v2.0.1 | MIT License | git.io/normalize
*********************************************************************************************/   

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font size within `section` and `article` contexts in
 * Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************************************************************************************* 

2.  Grid 1200px

*********************************************************************************************/

.container-16, .container-12 {
	margin:0 auto;
	width: 1200px;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
	display:flex;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.beta {
	margin-left: 0;
	margin-right: 0;
}
.container-16 .grid-1 {
	width:55px;
}
.container-16 .grid-2 {
	width:130px;
}
.container-16 .grid-3 {
	width:205px;
}
.container-16 .grid-4 {
	width:280px;
}
.container-16 .grid-5 {
	width:355px;
}
.container-16 .grid-6 {
	width:430px;
}
.container-16 .grid-7 {
	width:505px;
}
.container-16 .grid-8 {
	width:580px;
}
.container-16 .grid-9 {
	width:655px;
}
.container-16 .grid-10 {
	width:730px;
}
.container-16 .grid-11 {
	width:805px;
}
.container-16 .grid-12 {
	width:880px;
}
.container-16 .grid-13 {
	width:955px;
}
.container-16 .grid-14 {
	width:1030px;
}
.container-16 .grid-15 {
	width:1105px;
}
.container-16 .grid-16 {
	width:1180px;
}
.container-12 .grid-1 {
	width:80px;
}
.container-12 .grid-2 {
	width:180px;
}
.container-12 .grid-3 {
	width:280px;
}
.container-12 .grid-4 {
	width:380px;
}
.container-12 .grid-5 {
	width:480px;
}
.container-12 .grid-6 {
	width:580px;
}
.container-12 .grid-7 {
	width:680px;
}
.container-12 .grid-8 {
	width:780px;
}
.container-12 .grid-9 {
	width:880px;
}
.container-12 .grid-10 {
	width:980px;
}
.container-12 .grid-11 {
	width:1080px;
}
.container-12 .grid-12 {
	width:1180px;
}

/********************************************************************************************* 

3.  Grid 960px (mediaqueries)

*********************************************************************************************/

@media only screen and (min-width: 960px) and (max-width: 1199px) {
.container-16, .container-12 {
	width: 960px;
}
.container-16 .grid-1 {
	width:40px;
}
.container-16 .grid-2 {
	width:100px;
}
.container-16 .grid-3 {
	width:160px;
}
.container-16 .grid-4 {
	width:220px;
}
.container-16 .grid-5 {
	width:280px;
}
.container-16 .grid-6 {
	width:340px;
}
.container-16 .grid-7 {
	width:400px;
}
.container-16 .grid-8 {
	width:460px;
}
.container-16 .grid-9 {
	width:520px;
}
.container-16 .grid-10 {
	width:580px;
}
.container-16 .grid-11 {
	width:640px;
}
.container-16 .grid-12 {
	width:700px;
}
.container-16 .grid-13 {
	width:760px;
}
.container-16 .grid-14 {
	width:820px;
}
.container-16 .grid-15 {
	width:880px;
}
.container-16 .grid-16 {
	width:940px;
}
.container-12 .grid-1 {
	width:60px;
}
.container-12 .grid-2 {
	width:140px;
}
.container-12 .grid-3 {
	width:220px;
}
.container-12 .grid-4 {
	width:300px;
}
.container-12 .grid-5 {
	width:380px;
}
.container-12 .grid-6 {
	width:460px;
}
.container-12 .grid-7 {
	width:540px;
}
.container-12 .grid-8 {
	width:620px;
}
.container-12 .grid-9 {
	width:700px;
}
.container-12 .grid-10 {
	width:780px;
}
.container-12 .grid-11 {
	width:860px;
}
.container-12 .grid-12 {
	width:940px;
}
}
	
/********************************************************************************************* 

4.  Grid 720px (mediaqueries)

*********************************************************************************************/

@media only screen and (min-width: 720px) and (max-width: 959px) {
.container-16, .container-12 {
	width: 720px;
}
.container-16 .grid-1 {
	width:25px;
}
.container-16 .grid-2 {
	width:70px;
}
.container-16 .grid-3 {
	width:115px;
}
.container-16 .grid-4 {
	width:160px;
}
.container-16 .grid-5 {
	width:205px;
}
.container-16 .grid-6 {
	width:250px;
}
.container-16 .grid-7 {
	width:295px;
}
.container-16 .grid-8 {
	width:340px;
}
.container-16 .grid-9 {
	width:385px;
}
.container-16 .grid-10 {
	width:430px;
}
.container-16 .grid-11 {
	width:475px;
}
.container-16 .grid-12 {
	width:520px;
}
.container-16 .grid-13 {
	width:565px;
}
.container-16 .grid-14 {
	width:610px;
}
.container-16 .grid-15 {
	width:655px;
}
.container-16 .grid-16 {
	width:700px;
}
.container-12 .grid-1 {
	width:40px;
}
.container-12 .grid-2 {
	width:100px;
}
.container-12 .grid-3 {
	width:160px;
}
.container-12 .grid-4 {
	width:220px;
}
.container-12 .grid-5 {
	width:280px;
}
.container-12 .grid-6 {
	width:340px;
}
.container-12 .grid-7 {
	width:400px;
}
.container-12 .grid-8 {
	width:460px;
}
.container-12 .grid-9 {
	width:520px;
}
.container-12 .grid-10 {
	width:580px;
}
.container-12 .grid-11 {
	width:640px;
}
.container-12 .grid-12 {
	width:700px;
}
}
	

/********************************************************************************************* 

5.  Grid lt 720px / Mobile (mediaqueries)

*********************************************************************************************/
	
@media only screen and (max-width: 719px) {
.container-12, .container-16 {
	width: 90%;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
	width:100%;
	margin-left: 0px;
	margin-right: 0px;
}
.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.beta {
	margin-left: 0;
	margin-right: 0;
}
.container-16 .grid-1, .container-16 .grid-2, .container-16 .grid-3, .container-16 .grid-4, .container-16 .grid-5, .container-16 .grid-6, .container-16 .grid-7, .container-16 .grid-8, .container-16 .grid-9, .container-16 .grid-10, .container-16 .grid-11, .container-16 .grid-12, .container-16 .grid-13, .container-16 .grid-14, .container-16 .grid-15, .container-16 .grid-16, .container-12 .grid-1, .container-12 .grid-2, .container-12 .grid-3, .container-12 .grid-4, .container-12 .grid-5, .container-12 .grid-6, .container-12 .grid-7, .container-12 .grid-8, .container-12 .grid-9, .container-12 .grid-10, .container-12 .grid-11, .container-12 .grid-12 {
	width:100%;
}
}


/********************************************************************************************* 

6.  Responsive Image

*********************************************************************************************/


img.scale, img.responsive {
	max-width: 100%;
	height: auto;
}
