html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Base Styles*/

body {
	background: #fff;
	color: #222;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.container {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 0;
}

.alt-background {
	background: #656d7a;
	overflow: auto;
}

.parallax {
	background: #222;
}

.responsive-img, .responsive-vid {
    width: 100%;
    height: auto;
    margin: 80px 0;
}

.video-container {
	max-width: 820px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.hr {
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #eee;
	margin: 60px 0;
}

.round-corners {
	border-radius: 4px;
}

input:focus {
	outline: none;
}

/*Typography*/

.text-block-left, .text-block-right {
    padding: 0;
    width: 538px;
    float: right;
    margin: 0 10px 0 0;
}

.text-block-center {
	text-align: center;
	width: auto;
	max-width: 580px;
	margin: 0 auto;
}

h2 {
	font-size: 60px;
	font-weight: 100;
	margin: 20px 0;
}

.headline3 {
    font-size: 60px;
    margin: 0 0 20px 60px;
	color: #04686c;
	font-family: 'Arial Rounded MT'; 
	font-weight: bold; 
	font-style: normal;
}

h3 {
	font-size: 48px;
	font-weight: 100;
	margin: 20px 0;
}

h4 {
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0;
}

h5 {
	font-size: 20px;
	font-weight: 400;
	margin: 10px 0;
}

h6 {
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
}

p.subheading {
	font-size: 17px;
	color: #000;
	margin: -10px 0 20px 63px;
	font-family: 'Arial Rounded MT'; 
	font-weight: bold; 
	font-style: normal;
	width: 400px;
}

p {
	color: #000;
    font-size: 17px;
    line-height: 15px;
}

strong, em {
	font-weight: 400;
}

.button {
	display: inline-block;
	padding: 8px 30px;
	text-decoration: none;
	background: none;
	border-radius: 3px;
	border: 2px solid #f7cc4b;
	color: #f7cc4b;
	font-weight: 400;
}

.button:hover {
	text-decoration: none;
	border: 2px solid #f7cc4b;
	background: #f7cc4b;
	color: #fff;
}

.alt-background h2, .parallax h2 {
	color: #fff;
}

.alt-background p.subheading {
	color: #222;
}

.alt-background p {
	color: #fdf5db;
}

.alt-background .button {
	border: 2px solid #fff;
	color: #fff;
}

.alt-background .button:hover {
	border: 2px solid #fff;
	background: #fff;
	color: #f7cc4b;
}

/*Header*/

.header {
	position: absolute;
	top: 0;
	padding-top: 1px;
	color: #fff;
	width: 100%;
}

.header-inner {
	position: absolute;
	top: 100px;
	left: 10%;
	right: 10%;
	text-align: center;
	width: 80%;
}

.header-inner h1.headline {
    color: #fff;
    font-size: 60px;
    line-height: 1em;
    margin: 140px 0 0 -150px;
    text-align: left;
    background: #01a4ab;
    border-radius: 4px;
    width: 455px;
	padding: 10px;
	font-family: 'Arial Rounded MT'; 
	font-weight: bold; 
	font-style: normal;
}



.header-inner h1.headline span {
	color: #f7cc4b;
}


h2.headline2 {

	background: #01a4ab;
    color: #fff;
    border-radius: 4px;
    font-size: 24px;
    width: 590px;
    height: 30px;
    line-height: 30px;
	margin: 15px 0 0 -150px;
	font-family: 'Arial Rounded MT'; 
	font-weight: bold; 
	font-style: normal;
}


/*Top Bar & Navigation*/

.header .top-bar {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #222;
	background-color: rgba(0, 0, 0, .35);
	height: 100px;
	z-index: 1;
}

.site-title {
	float: left;
	width: 25%;
}

.site-title a {
	font-size: 48px;
	margin-top: 12px;
	display: block;
	color: #fff;
	text-decoration: none;
}

.site-title img {
	margin-top: 32px;
}

.header .top-nav {
	float: right;
	margin-top: 36px;
}


.top-nav li a {
	display: block;
	text-decoration: none;
	color: #bbb;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.top-nav li a:hover {
	color: #fff;
}

.nav-collapse a {
	color: #fff;
	text-decoration: none;
	float: left;
	width: 100%;
}


@media only screen and (max-width: 960px) {
	.nav-collapse {
		top: 0px;
	}
	.nav-collapse li a {
		margin: 0;
		padding: 20px 0;
		text-indent: 20px;
		background: #333;
		width: 100%;
		font-size: 16px;
	}
	.nav-collapse li a:hover {
		background: #f7cc4b;
	}
}

.js .nav-collapse {
		overflow: visible;
}

@media screen and (min-width: 960px) {
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav-toggle {
		display: none;
	}
	.nav-collapse ul {
		width: auto;
	}
	.nav-collapse li {
		width: auto;
	}
}

@font-face {
	font-family: "responsivenav";
	src:url("../fonts/responsivenav.eot");
	src:url("../fonts/responsivenav.eot?#iefix") format("embedded-opentype"),
		url("../fonts/responsivenav.ttf") format("truetype"),
			url("../fonts/responsivenav.woff") format("woff"),
			url("../fonts/responsivenav.svg#responsivenav") format("svg");
	font-weight: normal;
	font-style: normal;
}

.nav-toggle {
	background: #333;
	margin-top: 22px;
	text-decoration: none;
	text-indent: -999px;
	position: relative;
	overflow: hidden;
	width: 70px;
	height: 55px;
	float: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav-toggle:before {
	color: #fff;
	font-family: "responsivenav", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 28px;
	text-transform: none;
	position: absolute;
	content: "â‰¡";
	text-indent: 0;
	text-align: center;
	line-height: 55px;
	speak-as: none;
	width: 100%;
	top: 0;
	left: 0;
}

.nav-toggle.active::before {
	font-size: 24px;
	content:"x";
}

/*Slider*/

.cbp-fwslider {
	margin: 0px;
	padding: 0px;
	height: 860px;
	background-position: cover;
}
 
.cbp-fwslider ul li		{
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: 800px;
}
 
.cbp-fwslider nav {
	display: none;
}

.cbp-fwslider nav span {
	top: 40%;
	color: #999;
	background: none;
	font-size: 50px;
}
 
.cbp-fwslider nav span:hover {
	color: #fff;
	background: none;
}
 
.cbp-fwdots {
	bottom: 150px;
}
 
.cbp-fwdots span {
	background: #999;
	width: 14px;
	height: 14px;
	margin: 0 7px;
}
 
.cbp-fwdots span:hover {
	background: #bbb;
}
 
.cbp-fwdots span.cbp-fwcurrent {
	background: #fff;
	box-shadow: none;
}

/*Parallax*/

section.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.parallax-1 {
  background-image: url("../images/background-1.jpg");
}
section.parallax-2 {
  background-image: url("../images/background-2.jpg");
}
section.parallax-3 {
  background-image: url("../images/background-3.jpg");
}

/*Team*/

.team-member {
	text-align: center;
	padding-top: 20px;
}

.team-photo img {
	border-radius: 4999px;
	margin-bottom: 20px;
}

p.job-role {
	margin-top: 6px;
	padding: 0;
	color: #f7cc4b;
	font-weight: 400;
}

/*Owl Carousel*/

.owl-theme .owl-controls .owl-page span{
	background: #909090;
}

.alt-background .owl-theme .owl-controls .owl-page span{
	background: #fff;
}

/*Portfolio*/

.portfolio-item {
	text-align: center;
	position: relative;
	margin: 20px 0 60px;
}

.portfolio-item img {
	width: 95%;
}

.portfolio-item .fa {
	position: absolute;
	top: 35%;
	left: 42%;
	font-size: 1.8em;
	line-height: 2em;
	width: 60px;
	height: 60px;
	color: #222;
	background: #fff;
	border-radius: 4999px;
	display: none;
}

.portfolio-item:hover > a .zoom-icon {
	display: block;
}

/*Achievements*/

.achievement {
	text-align: center;
	padding-top: 20px;
}

.achievement .fa {
	margin-bottom: 10px;
}

.achievement h3 {
	color: #f7cc4b;
	font-size: 84px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.achievement p {
	margin-top: -10px;
	font-weight: 400;
}

/*Testimonials*/

.quote {
	text-align: center;
}

blockquote {
	display: block;
	font-size: 27px;
	line-height: 1.4em;
	max-width: 960px;
	margin: 0 auto;
}

blockquote span {
	color: #f7cc4b;
}


/*Mailing List*/

.mailing-list input {
	display: block;
	width: 100%;
	margin: 0 20px 10px 0;
	padding: 10px 0;
	border: 1px solid #333;
}

.mailing-list input[type=text] {
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	text-indent: 10px;
	border-radius: 4px;
}

.mailing-list input[type=button], .mailing-list input[type=submit] {
	border: 2px solid #222;
	width: 100%;
	background: #222;
	color: #fff;
	border-radius: 4px;
	margin: 0 auto;
}

.mailing-list input[type=button]:hover, .mailing-list input[type=submit]:hover {
	background: #fff;
	border: 2px solid #fff;
	color: #f7cc4b;
}


/*Footer*/

.footer {
	background: #222;
	display: block;
	padding: 40px 0;
	text-align: center;
}

.footer p em {
	color: #f7cc4b;
}

.footer .social {
	margin: 0 auto;
}

.footer .social li {
	display: inline-block;
}

.footer .social li a {
	display: block;
	width: 44px;
	height: 44px;
	margin: 10px 6px;
	text-align: center;
	border: 1px solid #333;
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4999px;
	line-height: 1.8em;
	font-size: 1.5em;
}

.footer .social li a:hover {
	color: #f7cc4b;
	border-color: #f7cc4b;
}


th, td {
	padding: 5px;
	text-align: left;
  }

.imgcss img{ margin: 0px 10px 10px 0;}
.imgcss2 img{
    margin: 80px 30px 0px 0px;
    width: 15%;
}

.font-six{

	color: white;
    font-size: 22px;
	font-weight: bold;
	font-family: 'Arial Rounded MT'; 
	font-style: normal;
}

.width-fix{

	width: fit-content;
}