<!DOCTYPE html>
<html lang="pt-br">
<head>
    <?php echo $this->HeadTitle() ."\n"; ?>
    <base href="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Language" content="pt-br"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="format-detection" content="telephone=no">

	<meta name="author" content="<?php echo Zend_Registry::get('config')->project; ?>" />
	<meta name="reply-to" content="contato@vm2.com.br" />	

	<?php echo $this->HeadMeta(); ?>	
	<meta name="robots" content="index,follow" />

  <script src="scripts/lib/jquery-1.11.1.min.js"></script>
    <script src="scripts/lib/modernizr-2.8.2.js"></script>
    <script type="text/javascript" src="scripts/jquery.blockUI.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/jquery.colorbox-min.js"></script>
    <script src="scripts/jquery.bxslider.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/block.js"></script>
    <!--<script src="scripts/easyzoom.js"></script>-->
    <script src="scripts/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="scripts/responsivo.js"></script>
    <script src="scripts/slick.js"></script>
    <script src="scripts/jquery.zoom.min.js"></script>
    <script src="scripts/sweetalert2.min.js"></script>
   
   
    <?php echo $this->HeadScript() ."\n"; ?>   
    
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/colorbox.css">
    <link rel="stylesheet" href="styles/block.css">
    <link rel="stylesheet" href="styles/easyzoom.css">
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/responsivo.css">
    <link rel="stylesheet" href="styles/sweetalert2.min.css"/>

    <!-- CSS DO TABLET -->
    <link rel="stylesheet" href="styles/styles-tablet.css">
     <?php echo $this->HeadStyle() ."\n"; ?>
    
	<?php echo $this->HeadLink() ."\n"; ?>
	
</head>
<body>
	<?php echo $this->render('topo.phtml'); ?>
	<?php echo $this->layout()->content . "\n"; ?>
	<?php echo $this->render('rodape.phtml'); ?>
</body>
</html>