<footer class="footer-default">
	<p>Copyright 2010-2014 Antilhas Embalagens</p>

	<?php if (Zend_Auth::getInstance()->hasIdentity()) { ?>

		<?php
			$tipoUser = $this->Usuario()->getLogin()->getIdentity()->getGrupo()->getTipo();
			$baseLoja = $this->Usuario()->getLogin()->getIdentity()->getLoja();
			$redeNome = '';
			$uf = '';
			$tipoLoja = '';

			if ($tipoUser == 'RE') {
				$baseLoja = $this->Usuario()->getLogin()->getIdentity()->getRede();
				$redeNome = $baseLoja->getNome();
			} elseif ($tipoUser == 'GL') {
				$baseLoja = $this->Usuario()->getLogin()->getIdentity()->getGrupoLoja();
				$redeNome = $baseLoja->getNome();
			} else {
				$redeNome = $baseLoja->getGrupo()->getRede()->getNome();
				$uf = $baseLoja->getEnderecoPadrao()->getEndereco()->getUf();
				$tipoLoja = $baseLoja->getTipo()->getNome();
			}
		?>

		<script type="text/javascript">
			var lz_data = {
				overwrite:true,
				0:'<?php echo $this->Usuario()->getLogin()->getIdentity()->getLogin() ?>', 
				1:'<?php echo $baseLoja->getCodigo() ?>',
				2:'<?php echo $baseLoja->getGrupo()->getNome() ?>',
				3:'<?php echo $redeNome ?>',
				4:'<?php echo $uf ?>',
				5:'<?php echo $tipoLoja ?>',
				111:'<?php echo $this->Usuario()->getLogin()->getIdentity()->getNome() ?>', 
				112:'<?php echo $this->Usuario()->getLogin()->getIdentity()->getEmail() ?>', 
				113: '',
				114:'',
				textlink:true
			};
		</script>

		<script type="text/javascript" id="2c9e5ec0e4bfc6169fec0e7d3d697460" src="http://antilhaspedidos.com.br/livezilla/script.php?id=2c9e5ec0e4bfc6169fec0e7d3d697460" defer></script>
	<?php } ?>
</footer>