<header class="header-default">
  <div class="container">
    <a href="<?php echo $this->BaseUrl(); ?>" class="header-default-logo" title="Antilhas | Nosso mundo &eacute; inovar o seu">
      <img src="images/desktop/antilhas.png" alt="Antilhas | Nosso mundo &eacute; inovar o seu">
    </a>

    <nav class="btns-topo">
      <ul class="header-default-menu-fast inline-block">
        <li>
          <a href="<?php echo $this->BaseUrl(); ?>" class="icon-home" title="P&aacute;gina Inicial">P&aacute;gina Inicial</a>
        </li>
        <li>
          <a href="<?php echo $this->BaseUrl(); ?>/ajuda" class="icon-help" title="Ajuda">Ajuda</a>
        </li>
        <li class="borda-none">
          <a href="http://www.antilhas.com.br" target="_blank" class="icon-antilhas-cinza-escuro" title="Site Antilhas">Site Antilhas</a>
        </li>
      </ul>

      <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div id="sacola-responsivo"></div>

    </nav>
    <?php if (!isset($this->validacao)) { ?>
      <?php if ($this->Usuario()->getLogin()->getIdentity()->getGrupo()->getTipo() == 'RE') { ?>
        <a class="header-default-logo-client" title="<?php echo ($this->Usuario()->getLogin()->getIdentity()->getRede() ? $this->Usuario()->getLogin()->getIdentity()->getRede()->getNome() : ''); ?>">
          <img src="<?php echo ($this->Usuario()->getLogin()->getIdentity()->getRede()->getImagem() ? $this->Usuario()->getLogin()->getIdentity()->getRede()->getImagem()->getBasePath() : 'images/desktop/quem-disse-berenice.jpg'); ?>" width="99" height="50" alt="<?php echo $this->Usuario()->getLogin()->getIdentity()->getRede()->getNome(); ?>" class="img-cliente">
        </a>
      <?php } elseif ($this->Usuario()->getLogin()->getIdentity()->getGrupo()->getTipo() == 'GL') { ?>
        <a class="header-default-logo-client" title="<?php echo ($this->Usuario()->getLogin()->getIdentity()->getGrupoLoja()->getRede()->getNome() ? $this->Usuario()->getLogin()->getIdentity()->getGrupoLoja()->getRede()->getNome() : ''); ?>">
          <img src="<?php echo ($this->Usuario()->getLogin()->getIdentity()->getGrupoLoja()->getRede()->getImagem() ? $this->Usuario()->getLogin()->getIdentity()->getGrupoLoja()->getRede()->getImagem()->getBasePath() : 'images/desktop/quem-disse-berenice.jpg'); ?>" width="99" height="50" alt="<?php echo $this->Usuario()->getLogin()->getIdentity()->getGrupoLoja()->getRede()->getNome(); ?>" class="img-cliente">
        </a>
      <?php } elseif ($this->Usuario()->getLogin()->getIdentity()->getGrupo()->getTipo() == 'LO') { ?>
        <a class="header-default-logo-client" title="<?php echo ($this->Usuario()->getLogin()->getIdentity()->getLoja()->getGrupo()->getRede() ? $this->Usuario()->getLogin()->getIdentity()->getLoja()->getGrupo()->getRede()->getNome() : ''); ?>">
          <img src="<?php echo ($this->Usuario()->getLogin()->getIdentity()->getLoja()->getGrupo()->getRede()->getImagem() ? $this->Usuario()->getLogin()->getIdentity()->getLoja()->getGrupo()->getRede()->getImagem()->getBasePath() : 'images/desktop/quem-disse-berenice.jpg'); ?>" width="99" height="50" alt="<?php echo $this->Usuario()->getLogin()->getIdentity()->getLoja()->getGrupo()->getRede()->getNome(); ?>" class="img-cliente">
        </a>
      <?php } else { ?>
        <a class="header-default-logo-client" title="">
          <img src="images/desktop/quem-disse-berenice.jpg" width="99" height="50" alt="" class="img-cliente">
        </a>
      <?php } ?>

      <?php if ($this->Usuario()->getLogin()->hasIdentity()) { ?>
        <div class="suport">
          <span class="header-default-update-client icon-arrow-down">
            <span>Ol&aacute;,</span>
            <?php echo $this->Usuario()->getLogin()->getIdentity()->getNome(); ?>
            <?php if ($this->Usuario()->getLogin()->hasMasterUser() && $this->Usuario()->getLogin()->getIdentity()->getCodigo() != $this->Usuario()->getLogin()->getMasterUser()->getCodigo()) { ?>
              (<?php echo $this->Usuario()->getLogin()->getMasterUser()->getNome(); ?>)
            <?php } ?>
            <ul class="header-default-sub-menu">
              <?php if ($this->Usuario()->getLogin()->hasMasterUser()) { ?>
                <li><a href="<?php echo $this->BaseUrl(); ?>/acesso-administrador" title="Logar como outro usu&aacute;rio">Logar como</a></li>
              <?php } ?>
              <li><a href="<?php echo $this->FriendlyUrl('alterar-dados', 'usuario', $this->Usuario()->getLogin()->getIdentity()->getCodigo()); ?>" title="Alterar dados">Alterar dados</a></li>
              <li><a href="<?php echo $this->BaseUrl(); ?>/dados-da-loja" title="Alterar dados">Dados da Loja</a></li>
              <li><a href="<?php echo $this->BaseUrl(); ?>/gerenciamento-de-usuarios" title="Criar usu&aacute;rios">Gerenciar Usu&aacute;rios</a></li>
              <li><a href="<?php echo $this->BaseUrl(); ?>/logout" class="border-none pull-right sair" title="Sair">Sair</a></li>

            </ul>
          </span>
          <br>
          <!--<a href="<?php echo $this->BaseUrl(); ?>/logout" class="border-none pull-right sair" title="Sair"><i class="demo-icon icon-cancel">&#xe802;</i>Sair</a>-->
        </div>
      <?php } ?>
    <?php } ?>
    <nav class="menu-responsivo">
      <ul>
        <li id="fazer-pedido">
          <p>Fa&ccedil;a seu Pedido</p><span></span><span></span>
        </li>
        <li id="produto">
          <p>Produtos</p><span></span><span></span>
        </li>
        <li id="comunicado">
          <p>Comunicados</p><span></span><span></span>
        </li>
        <li id="financeiro">
          <p>Financeiro</p><span></span><span></span>
        </li>
        <li id="relatorio">
          <p>Relat&oacute;rio</p><span></span><span></span>
        </li>
        <li id="central">
          <p>Central de Atendimento</p><span></span><span></span>
        </li>
        <li>
          <?php if (!isset($this->validacao)) { ?>
            <?php if ($this->Usuario()->getLogin()->hasIdentity()) { ?>
              <ul class="config-usuarios">
                <li>CONFIGURA&ccedil;&otilde;ES</li>
                <li> Ol&aacute;, <?php echo $this->Usuario()->getLogin()->getIdentity()->getNome(); ?>
                  <?php if ($this->Usuario()->getLogin()->hasMasterUser() && $this->Usuario()->getLogin()->getIdentity()->getCodigo() != $this->Usuario()->getLogin()->getMasterUser()->getCodigo()) { ?>
                    (<?php echo $this->Usuario()->getLogin()->getMasterUser()->getNome(); ?>)
                  <?php } ?>
                </li>
                <li>
                  <?php if ($this->Usuario()->getLogin()->hasMasterUser()) { ?>
                    <a href="<?php echo $this->BaseUrl(); ?>/acesso-administrador" title="Logar como outro usu&aacute;rio"><i class="demo-icon icon-users">&#xe800;</i> Logar como</a>
                  <?php } ?>
                </li>
                <li><a href="<?php echo $this->FriendlyUrl('alterar-dados', 'usuario', $this->Usuario()->getLogin()->getIdentity()->getCodigo()); ?>"><i class="demo-icon icon-arrows-cw">&#xe803;</i>Alterar Dados</a></li>
                <li><a href="<?php echo $this->BaseUrl(); ?>/dados-da-loja"><i class="demo-icon icon-database">&#xf1c0;</i> Dados da Loja</a></li>
                <li><a href="<?php echo $this->BaseUrl(); ?>/gerenciamento-de-usuarios" title="Criar usu&aacute;rios"><i class="demo-icon icon-user-plus">&#xf234;</i> Gerenciar usu&aacute;rios</a></li>
                <li><a href="<?php echo $this->BaseUrl(); ?>/logout" class="border-none" title="Sair"><i class="demo-icon icon-cancel">&#xe802;</i> Sair</a></li>
                <li></li>
              </ul>
            <?php } ?>
        </li>
      <?php } ?>
      </ul>
    </nav>
    <nav class="sub-responsivo">
      <ul id="sub-1">
        <li id="pedido-voltar"><span class="span1"></span><span class="span2"></span>
          <p class="paragraph">Fa&ccedil;a seu Pedido</p>
        </li>
        <li>
          <p class="ativo"><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos">Fazer Pedido</p></a>
        </li>
        <li>
          <p class="ativo"><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/meus-pedidos">Meus Pedidos</p></a>
        </li>
        <li>
          <p class="ativo"><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/vitrine">Pedidos Compuls&oacute;rios</p></a>
        </li>
      </ul>

      <ul id="sub-2">
        <li id="produtos-voltar"><span class="span1"></span><span class="span2"></span>
          <p class="paragraph">Produtos</p>
        </li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/produtos/catalogo" title="Cat&aacute;logo de Embalagens">
            <p class="ativo">Cat&aacute;logo de Embalagens</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/produtos/videos" title="V&iacute;deos">
            <p class="ativo">V&iacute;deos</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/produtos/historico" title="Hist&oacute;rico de Produtos">
            <p class="ativo">Hist&oacute;rico de produtos</p>
          </a></li>
      </ul>

      <ul id="sub-3">
        <li id="comunicacao-voltar"><span class="span1"></span><span class="span2"></span>
          <p class="paragraph">Comunica&ccedil;&atilde;o</p>
        </li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/comunicados/comunicados-disponibilizados" title="Comunicados Ativos">
            <p class="ativo">Comunicados Ativos</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/comunicados/noticias" title="Hist&oacute;rico de Linhas">
            <p class="ativo">Not&iacute;cia</p>
          </a></li>
      </ul>

      <ul id="sub-4">
        <li id="financeiro-voltar"><span class="span1"></span><span class="span2"></span>
          <p class="paragraph">Financeiro</p>
        </li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/financeiros" title="2&#170; Via de Boleto">
            <p class="ativo">2&#170; via do Boleto</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/danfes" title="Danfes">
            <p class="ativo">Danfes</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/relatorios-gerenciais" title="Gerenciais" class="border-none">
            <p class="ativo">Gerenciais</p>
          </a></li>
      </ul>

      <ul id="sub-5">
        <li id="relatorio-voltar"><span class="span1"></span><span class="span2"></span>
          <p class="paragraph">Relat&oacute;rios</p>
        </li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/pedidos-analiticos" title="Vis&atilde;o de Pedidos">
            <p class="ativo">Vis&atilde;o de Pedidos</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/royalties" title="Royalties">
            <p class="ativo">T&iacute;tulos</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/reclamacoes" title="reclama&ccedil;&otilde;es" class="border-none">
            <p class="ativo">Reclama&ccedil;&otilde;es</p>
          </a></li>
      </ul>

      <ul id="sub-6">
        <li id="central-voltar"><span class="span1"></span><span class="span2"></span>
          <p class="paragraph">Central de Atendimento</p>
        </li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/duvidas-frequentes" title="D&uacute;vidas Frequentes">
            <p class="ativo">D&uacute;vidas Frequentes</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/politica-de-troca-e-devolucao" title="Pol&iacute;tica de Troca e Devolu&ccedil;&atilde;o">
            <p class="ativo">Pol&iacute;tica de Troca e Devolu&ccedil;&atilde;o</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/ouvidoria" title="Ouvidoria">
            <p class="ativo">Ouvidoria</p>
          </a></li>
        <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/contato" title="Contato">
            <p class="ativo">Contato</p>
          </a></li>

        <li>
          <p class="ativo">Dados Cadastrais</p>
        </li>
      </ul>
    </nav>

  </div>
</header>
<nav class="menu-main">
  <div class="container">
    <ul class="main inline-block">
      <li>
        <a href="javascript:;" class="pedido" title="Fa&ccedil;a seu pedido">Fa&ccedil;a seu pedido</a>
        <ul class="submenu">
          <li><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos" title="Fazer Pedidos">Fazer Pedidos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/pedidos-salvos" title="Pedidos Salvos" class="border-none">Pedidos Salvos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/meus-pedidos" title="Meus Pedidos" class="border-none">Meus Pedidos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/vitrine" title="Pedidos Compuls&oacute;rios" class="border-none">Pedidos Compuls&oacute;rios</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="produtos" title="Produtos">Produtos</a>
        <ul class="submenu">
          <li><a href="<?php echo $this->BaseUrl(); ?>/produtos/catalogo" title="Cat&aacute;logo de Embalagens">Cat&aacute;logo de Embalagens</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/produtos/videos" title="V&iacute;deos">V&iacute;deos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/produtos/historico" title="Hist&oacute;rico de Produtos">Hist&oacute;rico de Produtos</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="comunicados" title="Comunicados">Comunicados</a>
        <ul class="submenu">
          <li><a href="<?php echo $this->BaseUrl(); ?>/comunicados/comunicados-disponibilizados" title="Comunicados Ativos">Comunicados Ativos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/comunicados/noticias" title="Hist&oacute;rico de Linhas">Not&iacute;cias</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="financeiro" title="Financeiro">Financeiro</a>
        <ul class="submenu">
          <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/financeiros" title="2&#170; Via de Boleto">2&#170; Via de Boleto</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/danfes" title="Danfes">Danfes</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/relatorios-gerenciais" title="Gerenciais" class="border-none">Gerenciais</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="relatorios" title="Relatorios">Relat&oacute;rios</a>
        <ul class="submenu">
          <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/pedidos-analiticos" title="Vis&atilde;o de Pedidos">Vis&atilde;o de Pedidos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/royalties" title="Royalties">T&iacute;tulos</a></li>
          <li><a href="<?php echo $this->BaseUrl(); ?>/relatorios/reclamacoes" title="reclama&ccedil;&otilde;es" class="border-none">Registro de Atendimento</a></li>
        </ul>
      </li>
      <li class="border-none">
        <a href="javascript:;" class="atendimento" title="Central de Atendimento">Central de Atendimento</a>
        <ul class="submenu">
          <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/duvidas-frequentes" title="D&uacute;vidas Frequentes">D&uacute;vidas Frequentes</a></li>
          <!--<li><a href="<?php echo $this->BaseUrl(); ?>/politica-de-troca-e-devolucao.pdf" title="Pol&iacute;tica de Troca e Devolu&ccedil;&atilde;o">Pol&iacute;tica de Troca e Devolu&ccedil;&atilde;o</a></li>-->
          <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/politica-de-troca-e-devolucao" title="Pol&iacute;tica de Troca e Devolu&ccedil;&atilde;o">Pol&iacute;tica de Troca e Devolu&ccedil;&atilde;o</a></li>

          <li><a href="<?php echo $this->BaseUrl(); ?>/central-de-atendimento/contato" title="Contato">Contato</a></li>

          <?php if (!isset($this->validacao)) { ?>
            <li><a href="<?php echo $this->FriendlyUrl('alterar-dados', 'usuario', $this->Usuario()->getLogin()->getIdentity()->getCodigo()); ?>" title="Dados Cadastrais" class="border-none">Dados Cadastrais</a></li>
          <?php } ?>
        </ul>
      </li>
    </ul>
    <?php if (!isset($this->validacao)) { ?>
      <ul class="shopping-bag inline-block sacola-ativa">
        <li>
          <a href="" class="icon-bag" title="">Minhas Compras</a>
          <div class="shopping-bag-products">
            <ul>
              <?php foreach ($this->MinhaSacola()->getItens() as $key => $loja) { ?>
                <?php if (count($loja['itens'])) { ?>
                  <li><a>
                      <h4><?php echo $loja['dados']->getNomeReduzido(); ?></h4>
                    </a></li>
                  <?php if (App_Plugin_Login::getInstance()->getIdentity()->getGrupo()->getTipo() == 'LO') { ?>
                    <?php foreach ($loja['itens'] as $item) { ?>
                      <li>
                        <a href="" title="">
                          <div class="shopping-bag-products-content">
                            <?php if ($item->getProduto()->getImagem()) { ?>
                              <img src="<?php echo $item->getProduto()->getImagem()->getBasePath(); ?>" width="98" height="98" alt="">
                            <?php } ?>
                            <h4><?php echo $item->getProduto()->getDescricao(); ?></h4>
                            <p class="description">Qtde: <?php echo $item->getQtde(); ?></p>
                            <?php $valorProd = App_Funcoes_Calculo::calculo($item->getPreco(), $item->getProduto()->getCcf(), $loja['dados']->getIcms(), $item->getProduto()->getAliquotaIpi()); ?>
                            <p class="description">Valor Unit: <?php echo App_Funcoes_Money::toCurrency($valorProd); ?></p>
                          </div>
                          <p class="price">R$ <?php echo App_Funcoes_Money::toCurrency($item->getPrecoTotal(true)); ?></p>
                        </a>
                      </li>
                    <?php } ?>
                  <?php } else { ?>
                    <li>
                      <a href="" title="">
                        <div class="shopping-bag-products-content">
                          <p class="description">R$ <?php echo App_Funcoes_Money::toCurrency($this->MinhaSacola()->getValorLoja($loja['dados'])); ?></p>
                        </div>
                      </a>
                    </li>
                  <?php } ?>
                <?php } ?>
              <?php } ?>
            </ul>
            <div class="shopping-bag-products-price-final">
              <p><span>Valor total do pedido:</span> <span>R$ <?php echo App_Funcoes_Money::toCurrency($this->MinhaSacola()->getValor()); ?></span></p>
              <a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos" class="btn" title="Prosseguir">Prosseguir</a>
            </div>
          </div>
        </li>
      </ul>
    <?php } ?>
  </div>
</nav>

<?php if (!isset($this->validacao)) { ?>
  <ul class="sacola-responsiva-aberta inline-block">
    <li>
      <div class="shopping-bag-products">
        <ul>
          <?php foreach ($this->MinhaSacola()->getItens() as $key => $loja) { ?>
            <?php if (count($loja['itens'])) { ?>
              <li><a>
                  <h4><?php echo $loja['dados']->getNomeReduzido(); ?></h4>
                </a></li>
              <?php if (App_Plugin_Login::getInstance()->getIdentity()->getGrupo()->getTipo() == 'LO') { ?>
                <?php foreach ($loja['itens'] as $item) { ?>
                  <li>
                    <a href="" title="">
                      <div class="shopping-bag-products-content">
                        <?php if ($item->getProduto()->getImagem()) { ?>
                          <img src="<?php echo $item->getProduto()->getImagem()->getBasePath(); ?>" width="98" height="98" alt="">
                        <?php } ?>
                        <h4><?php echo $item->getProduto()->getDescricao(); ?></h4>
                        <p class="description">Qtde: <?php echo $item->getQtde(); ?></p>
                        <?php $valorProd = App_Funcoes_Calculo::calculo($item->getPreco(), $item->getProduto()->getCcf(), $loja['dados']->getIcms(), $item->getProduto()->getAliquotaIpi()); ?>
                        <p class="description">Valor Unit: <?php echo App_Funcoes_Money::toCurrency($valorProd); ?></p>
                      </div>
                      <p class="price">R$ <?php echo App_Funcoes_Money::toCurrency($item->getPrecoTotal(true)); ?></p>
                    </a>
                  </li>
                <?php } ?>
              <?php } else { ?>
                <li>
                  <a href="" title="">
                    <div class="shopping-bag-products-content">
                      <p class="description">R$ <?php echo App_Funcoes_Money::toCurrency($this->MinhaSacola()->getValorLoja($loja['dados'])); ?></p>
                    </div>
                  </a>
                </li>
              <?php } ?>
            <?php } ?>
          <?php } ?>
        </ul>
        <div class="shopping-bag-products-price-final">
          <p><span>Valor total do pedido:</span> <span>R$ <?php echo App_Funcoes_Money::toCurrency($this->MinhaSacola()->getValor()); ?></span></p>
          <a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos" class="btn" title="Prosseguir">Prosseguir</a>
        </div>
      </div>
    </li>
  </ul>
<?php } ?>