<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title><?php echo Zend_Registry::get('config')->project; ?></title>
</head>

<body>
	<table width="683" style="width:683px;" align="center" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td colspan="11"><img src="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/images/email/topo.jpg" border="0"></td>
		</tr>
		<tr>
			<td width="1" bgcolor="#f0f0f0" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#eaeaea" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#e2e2e2" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#d8d8d8" style="font-size:0px;"> </td>
			<td width="6" bgcolor="#ffffff" style="font-size:0px;"> </td>
			<td bgcolor="#fdf9f8" style="background-color:#ffffff; width:663px;" width="663">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td width="42" style="width:42px;">&nbsp;</td>
						<td valign="top" height="40" style="color:#d55e24; font-size:13px; font-family:Verdana; font-weight:bold;"><p><strong><?php echo Zend_Registry::get('config')->project; ?> - Esqueci minha senha</strong></p></td>
						<td width="42" style="width:42px;">&nbsp;</td>
					</tr>
					<tr>
						<td width="42" style="width:42">&nbsp;</td>
						<td style="font-family:Verdana; font-size:11px; color:#7A7A7A;">
							<p>
								<br />Prezado(a) <strong><?php echo $this->usuario->getNome(); ?></strong>,<br /><br />
								Foi solicitado o envio de sua senha do painel administrativo do site <?php echo Zend_Registry::get('config')->project; ?>.
								<br /><br />
								<b>Login:</b> <?php echo $this->usuario->getLogin(); ?> <br />
								<b>Senha:</b> <?php echo $this->senha; ?>
							</p>
							<br />
							<p>
								Para acessar nosso site clique no link abaixo: <br /><br />
				                <a href="<?php echo Zend_Registry::get('config')->paths->admin->base; ?>"><?php echo Zend_Registry::get('config')->paths->admin->base; ?></a>
							</p>
						</td>
						<td width="42" style="width:42">&nbsp;</td>
					</tr>
				</table>
			</td>
			<td width="6" bgcolor="#ffffff" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#d8d8d8" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#e2e2e2" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#eaeaea" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#f0f0f0" style="font-size:0px;"> </td>
		</tr>
		<tr>
			<td colspan="11"><img src="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/images/email/rodape.jpg" border="0"></td>
		</tr>
	</table>
</body>
</html>