@media screen and (max-width: 999px) {
  .center {
    margin: 0 auto;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .inline-block {
    list-style: none;
  }
  .clear {
    clear: both;
  }
  .inline-block li {
    display: block;
    float: left;
  }
  .overflow {
    overflow: hidden;
  }
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  .box-shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }
  .help {
    padding: 38px 30px 0;
  }
  .help .title-default {
    margin-bottom: 30px;
  }
  .help p {
    font: 1.4em 'sourcesanspro-regular';
    padding-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
  }
}
