@media screen and (max-width: 999px) {
  .pagination {
    margin: 0 auto;
  }
  .list-questions-select{
  	width:100%;
  	padding-bottom:20px;

  }
  .list-questions-select>li{
  	float: left;
  }
  .title-page-other {
    background-color: #404451;
    padding: 35px 0;
  }
  .title-page-other h2 {
    font: 2.2em 'sourcesanspro-semibold';
    color: #ffffff;
    padding-left: 19px;
  }
  .content-pagination {
    background-color: #fff;
  }
  .list-questions li {
    list-style: none;
    background-color: #ffffff;
  }
  .list-questions li a .list-questions-title {
    height: 60px;
  }
  .list-questions li a .list-questions-title p {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
    line-height: 60px;
    float: left;
    padding-left: 19px;
  }
  .list-questions li a .list-questions-title p span {
    font: 1.5em 'sourcesanspro-semibold';
    color: #393939;
  }
  .list-questions li a .list-questions-title .icon-open {
    float: right;
    margin: 12px 19px 0 0;
  }
  .list-questions li .list-questions-answers {
    display: none;
    background-color: #d4d4d4;
    cursor: default;
    padding-bottom: 30px;
  }
  .list-questions li .list-questions-answers p {
    font: 1.4em 'sourcesanspro-regular';
    color: #393939;
    padding: 40px 108px 0 47px;
  }
  .list-questions li:nth-child(odd) {
    background: #efefef;
  }
}
