@media screen and (max-width: 999px) {
.center {
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inline-block {
  list-style: none;
}
.inline-block li {
  display: block;
  float: left;
}
.overflow {
  overflow: hidden;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.contact-us {
  overflow: hidden;
  padding-top: 36px;
  padding-bottom: 100px;
}
.contact-us .box-1 {
  width: 540px;
  overflow: hidden;
  margin: 0 auto;
}
.contact-us .box-1 h3 {
  float: left;
}
.contact-us .box-2 {
  width: 540px;
  margin: 0 auto;
  overflow: hidden;
}
.contact-us .box-2 h3 {
  font: 3.2em 'proximanova-bold';
  color: #0f3e62;
  margin-bottom: 30px;
}
.contact-us .box-2 p {
  margin-top: 20px;
  font: 1.4em 'sourcesanspro-regular';
  color: #393939;
}

.contact-us .box-2 iframe {
  width: 100%;
}

::-webkit-input-placeholder {
  color: #393939;
}
:-moz-placeholder {
  color: #393939;
  opacity: 1;
}
::-moz-placeholder {
  color: #393939;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #393939;
}
}
