@media screen and (max-width: 999px) {
  .pagination {
    margin: 0 auto;
  }
  .title-default {
    margin-left: 19px;
  }
  .filter-history-products li {
    margin-left: 19px;
    height: 33px;
    margin-bottom: 20px;
  }
  .history-products {
    overflow: hidden;
    padding-top: 30px;
    background-color: #efefef;
  }
  .history-products ul {
    overflow: hidden;
  }
  .history-products ul li {
    width: 217px;
    height: 290px;
    margin: 0 19px 47px 19px;
  }

  .history-products-list li figure {
    height: 108px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .history-products ul li figure img {
    border: 1px solid #dadada;
    height: 100%;
  }
  .history-products ul li .attributes {
    overflow: hidden;
    list-style: none;
  }
  .history-products ul li .attributes li {
    height: auto;
    font: 1.4em 'sourcesanspro-regular';
    margin-bottom: 4px;
  }
  .history-products ul li .attributes li strong {
    font: 1em 'sourcesanspro-bold';
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
