@media screen and (max-width: 999px) {
  .controls.constrols-historico-comunicados li:first-child {
    float: none;
  }
  .controls.constrols-historico-comunicados li {
    margin-left: 19px;
  }
  .controls.constrols-historico-comunicados li + li + li {
    margin-left: 30px;
  }
  .pagination {
    margin: 0 auto;
  }
  .communicated {
    padding-top: 30px;
    background-color: #efefef;
  }
  .communicated ul {
    overflow: hidden;
  }
  .communicated ul li {
    list-style: none;
    width: 290px;
    height: 361px;
    margin: 0 40px 80px;
  }
  .communicated ul li h4 {
    margin: 15px 0;
    font: 2.2em 'sourcesanspro-semibold';
  }
  .communicated ul li span {
    margin: 15px 0;
    font: 1.6em 'sourcesanspro-semibold';
    color: #77c4fd;
    display: block;
  }
  .communicated ul li p {
    font: 1.4em 'sourcesanspro-semibold';
    color: #393939;
    height: 72px;
    display: block;
    margin-bottom: 32px;
    overflow: hidden;
  }
  .communicated.available .title-default {
    color: #005595;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 5px;
    margin: 0 19px 40px 19px;
  }
  .communicated.available h2 {
    margin: 0 19px 0 19px;
  }
  .notify-available {
    background-color: #ffffff;
    padding: 50px 0;
    overflow: hidden;
  }
  .notify-available .notify-available-item {
    padding-left: 19px;
  }
  .notify-available .notify-available-item img {
    float: left;
  }
  .notify-available .notify-available-item div {
    width: 225px;
    float: left;
    margin-left: 19px;
  }
  .notify-available .notify-available-item div h3 {
    font: 2.8em 'sourcesanspro-semibold';
    color: #393939;
    margin-bottom: 20px;
  }
  .notify-available .notify-available-item div span {
    font: 1.8em 'sourcesanspro-bold';
    color: #64bdff;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
    width: 135px;
    margin-bottom: 30px;
    display: block;
  }
  .notify-available .notify-available-item div .btn {
    float: left;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
