@media screen and (max-width: 999px) {
  .request-detail {
    width: 100%;
    max-width: 694px;
    margin: 36px auto;
  }
  .table-request-detail {
    width: 100%;
    border: 1px solid #e7e7e7;
    margin-bottom: 45px;
  }
  .table-request-detail tr td {
    vertical-align: middle;
    text-align: center;
    font-family: 'sourcesanspro-semibold';
    color: #393939;
  }
  .table-request-detail thead.main-head tr td {
    height: 46px;
    background-color: #404451;
    color: #ffffff;
    font-size: 2.2em;
  }
  .table-request-detail thead.sub-head tr td {
    height: 31px;
    background-color: #dadada;
    font-size: 1.6em;
  }
  .table-request-detail tbody tr td {
    height: 49px;
    font-size: 1.5em;
    border-right: 1px solid #e7e7e7;
  }
  .table-request-detail tbody tr td:last-child {
    border-right: 0;
  }
  .table-request-detail tbody tr td.num-pedido {
    font-size: 2.4em;
    color: #1089e3;
  }
  .table-request-detail tbody tr td .btn {
    font: 0.8em 'proximanova-bold';
  }
  .table-request-detail tbody tr td.status {
    position: relative;
    width: 298px;
  }
  .table-request-detail tbody tr td.status:hover .tooltip {
    display: block;
    top: -50px;
    right: -260px;
  }
  .table-request-detail tbody tr td.status .tooltip {
    text-align: left;
  }
  .table-request-detail tbody tr td.status .tooltip h5 {
    font: 1.4em 'sourcesanspro-semibold' !important;
    text-transform: uppercase;
  }
  .table-request-detail tbody tr td.status .tooltip a {
    text-decoration: underline;
  }
  .status{
    display: block;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .status>section{
    position: relative;
    background: #a6a6a6;
    background: -moz-linear-gradient(left, #a6a6a6 0%, #747474 77%, #747474 77%, #5f5f5f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a6a6a6), color-stop(77%,#747474), color-stop(77%,#747474), color-stop(100%,#5f5f5f));
    background: -webkit-linear-gradient(left, #a6a6a6 0%,#747474 77%,#747474 77%,#5f5f5f 100%);
    background: -o-linear-gradient(left, #a6a6a6 0%,#747474 77%,#747474 77%,#5f5f5f 100%);
    background: -ms-linear-gradient(left, #a6a6a6 0%,#747474 77%,#747474 77%,#5f5f5f 100%);
    background: linear-gradient(to right, #a6a6a6 0%,#747474 77%,#747474 77%,#5f5f5f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#5f5f5f',GradientType=1 );
    width: 25%;
    float: left;
    height: 48px;
  }
  .status>section>p{
    color: #fff;
    width: 90px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }
  .status>section>span{
    background:#fff url("../../images/btn-new/proc-grey.png") center center no-repeat;
    background-size: 65% auto;
    margin:0 auto;
    display: block;
    position: absolute;
    content:"";
    height:26px;
    width: 26px;
    bottom:-20px;
    border-radius:50%;
    border:2px solid #374b5b;
    left:42%;
  }
  .status>.processado{background: #4780c5;
    background: -moz-linear-gradient(left,  #4780c5 0%, #325e92 77%, #325e92 77%, #264973 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4780c5), color-stop(77%,#325e92), color-stop(77%,#325e92), color-stop(100%,#264973));
    background: -webkit-linear-gradient(left,  #4780c5 0%,#325e92 77%,#325e92 77%,#264973 100%);
    background: -o-linear-gradient(left,  #4780c5 0%,#325e92 77%,#325e92 77%,#264973 100%);
    background: -ms-linear-gradient(left,  #4780c5 0%,#325e92 77%,#325e92 77%,#264973 100%);
    background: linear-gradient(to right,  #4780c5 0%,#325e92 77%,#325e92 77%,#264973 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4780c5', endColorstr='#264973',GradientType=1 );}
  .status>.processado>span{
    background:#fff url("../../images/btn-new/processado.png") center center no-repeat;
    background-size: 65% auto;
  }
}