@media screen and (max-width: 999px) {
  .filter-meus-pedidos li + li {
    margin-left: 10px;
  }
 .table .theader .coluns>.col-1, .table .tbody .coluns>.col-1{
    width: 10%;
  }
  .table .theader .coluns>.col-2, .table .tbody .coluns>.col-2{
    width: 9%;
  }
  .table .theader .coluns>.col-3, .table .tbody .coluns>.col-3{
    width: 10%;
  }
  .table .theader .coluns>.col-4, .table .tbody .coluns>.col-4{
    width: 8%;
  }
  .table .theader .coluns>.col-5, .table .tbody .coluns>.col-5{
    width: 8%;
  }
  .table .theader .coluns>.col-6, .table .tbody .coluns>.col-6{
    width: 16%;
  }
  .table .theader .coluns>.col-7, .table .tbody .coluns>.col-7{
    width: 10%;
  }

  .table .theader .coluns>.col-8, .table .tbody .coluns>.col-8{
    width: 10%;
  }

  .table .tbody .coluns>.col-1 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-5 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-7 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-8 {
    text-align: center;
  }
  .table-meus-pedidos .icon-lupa {
    margin: 5px 0 0 20px;
  }
  .pagination {
    margin: 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
