@media screen and (max-width: 999px) {
  .center {
    margin: 0 auto;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .inline-block {
    list-style: none;
  }
  .clear {
    clear: both;
  }
  .inline-block li {
    display: block;
    float: left;
  }
  .overflow {
    overflow: hidden;
  }
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  .box-shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }
  .col-1 {
    width: 17%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 10%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 10%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    width: 17%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-5 {
    width: 11%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    width: 17%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .filter-notas-fiscais li {
    margin-right: 30px;
  }
  .pagination {
    margin: 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
