@media screen and (max-width: 999px) {
  .theader .col-1 {
    text-align: center;
    width: 61%;
  }
  .tbody .col-1 {
    text-align: left;
    padding-left: 20px;
    width: 60%;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 15%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 18%;
  }
  .pagination {
    margin: 0 auto;
  }
}
