@media screen and (max-width: 999px) {
  .pagination {
    margin: 0 auto;
  }
  .theader .col-1 {
    text-align: center;
  }
    .table .tbody .coluns .col-1 {
    text-align: left;
    border-right: 1px solid #393939;
  }
  .table .tbody .coluns>li{
    padding-top:22px;  }
  .table .tbody .coluns .col-2 {
    width: 155px;
    text-align: center;
    border-right: 1px solid #393939;
  }
 .table .tbody .coluns  .col-3 {
    width: 133px;
    text-align: center;
    padding-top:0;
  }
  .col-3 .icon-file {
    margin: 7px 0 0 40px;
  }
  .table .tbody .coluns .col-1, .table .theader .coluns .col-1{
    width: 56%;
    box-sizing:border-box;
    padding-left: 17px;
    padding-right: 17px;
  }
  .table .tbody .coluns .col-2, .table .theader .coluns .col-2 {
    box-sizing:border-box;
    width: 155px;
    }
}
