@media screen and (max-width: 999px) {
.col-1 {
  width: 165px;
  padding: 5px;
}
.col-2 {
  width: 125px;
  text-align: center;
}
.col-3 {
  width: 202px;
  text-align: center;
}
.col-4 {
  width: 251px;
}
.tbody {
  height: auto;
}
.tbody .col-2 {
  border-left: 1px solid #4b4b4b;
  border-right: 1px solid #4b4b4b;
}
.tbody .col-3 {
  border-right: 1px solid #4b4b4b;
}
}
