@media screen and (max-width: 999px) {
  .videos {
    padding-top: 30px;
    background-color: #efefef;
  }
  .videos .videos-main {
    padding: 0 35px 0 19px;
    overflow: hidden;
  }
  .videos .videos-main iframe {
    /*width: 510px;
    height: 290px;*/

  }
 .videos .videos-main .videos-description {
  width: 63% !important;
  height: auto;
  margin: 0 auto;
  text-align: justify
  }
  .videos .videos-main .videos-description h4 {
    font: 2.8em 'sourcesanspro-semibold';
    color: #393939;
  }
  .videos .videos-main .videos-description .date {
    display: block;
    font: 1.8em 'sourcesanspro-bold';
    color: #ae6ff4;
    width: 140px;
    margin-top: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e1e1e1;
  }
  .videos .videos-main .videos-description p {
    margin-top: 17px;
    font: 1.4em 'sourcesanspro-regular';
    color: #393939;
  }
  .pagination {
    margin: 0 auto;
  }
  .constrols-video li {
    margin-left: 19px;
  }
  .constrols-video li:first-child {
    float: none;
  }
  .constrols-video li + li {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .videos-other {
    overflow: hidden;
    margin-top: 50px;
  }
  .list-videos {
    overflow: hidden;
  }
  .list-videos li {
  /*  width: 196px;
    height: 192px;
    margin: 0 29px 35px;*/
  }
  .list-videos li h5 {
    font: 1.8em 'sourcesanspro-semibold';
    color: #393939;
    margin-top: 15px;
  }
  .list-videos li span {
    font: 1.2em 'sourcesanspro-bold';
    color: #89cafb;
  }
  .videos-inactive {
    overflow: hidden;
    padding: 50px 0;
    background-color: #e5e5e5;
  }
  .videos-inactive .title-default {
    padding-left: 19px;
    margin-bottom: 30px;
  }
  .videos-inactive .list-videos li {
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 0 29px 35px;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }

  .list-videos li div{width: 60%;float: left;}
  .list-videos li div:last-child{width: 40%; float: right;}
}

@media screen and (max-width: 800px) {
 .videos .videos-main .videos-description {
    margin-top: 50px;
    width: 100%!important;
  }

.list-videos li{width: 100% !important; max-width:500px!important;}
.list-videos li img{width: 100% !important; max-width: 350px!important;}

}
