@media screen and (max-width: 999px) {
  .filter-xml li {
    margin-right: 30px;
  }
  .pagination {
    margin: 0 auto;
  }
  .col-1 {
    width: 100px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-2 {
    width: 144px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-3 {
    width: 159px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-4 {
    width: 214px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-5 {
    width: 335px;
  }
  .col-5 a {
    margin-left: 50px;
  }
  .col-5 a + a {
    margin-left: 0;
    margin-right: 20px;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
