<li>
	<a href="<?php echo $this->friendlyUrl('noticia', $this->noticia->getCodigo(), $this->noticia->getTitulo()); ?>" title="<?php echo $this->noticia->getTitulo(); ?>">
		<h4><?php echo $this->noticia->getTitulo(); ?></h4>
		<p><?php echo App_Funcoes_Texto::cortar($this->noticia->getDescricao(), 80); ?></p>
		<span><?php echo App_Funcoes_Date::conversion($this->noticia->getDataCadastro()); ?></span>
	</a>
</li>