.menu-responsivo{display: none;}
.slide-img, .slide-responsivo, .table-responsive, .sub-responsivo{display: none}
.gradient-table, .form-responsivo, .sacola-responsiva-aberta{display: none;}
.form-auto{display: block}
.responsivo, .responsivo-danfes{display: none}
body{overflow-x: hidden}
body .msg-rolar{
		display: none;
	}


@media (max-width:450px){
	/*topo*/
	.header-default-logo-client img, .img-cliente{display: none!important;}
	.btni.voltar { margin-left: 22px;  position: relative;}
	.breadcrumb, .icone-topo{display: none !important;}
}

@media (max-width:700px){
	/*Meus pedidos Formulário*/
	.form-auto{display: none!important}
	.form-responsivo{display: block!important; width: 100%;}
	.form-responsivo .btn-responsivo{background-color: #64bdff; height: 35px;  padding: 9px 12px;  text-align: center; font: 13px "proximanova-regular";border: 0;cursor: pointer; 
									text-transform: uppercase;display: inline-block;height: 46px;box-sizing: border-box;background-position: 15% 50%;background-repeat: no-repeat;font-weight: bold; color: #fff;}
	.ul-responsivo{width: 100%; display: block;}
	.ul-responsivo li{width: 100%;display: list-item; margin-bottom: 18px; text-transform: uppercase!important; color: #393939 !important; font: 1.2em 'proximanova-bold' !important; appearance: none; -moz-appearance: none; -webkit-appearance: none; border: 0; background: transparent; display: block;}
	.ul-responsivo li:last-child{margin-bottom: 0 !important }
	.ul-responsivo li select{width: 100% !important; max-width: 640px; background: transparent; margin-right: 10px;  -webkit-appearance:  none; -moz-appearance: none; appearance: none; border: 1px solid #64bdff; text-transform: uppercase!important; color: #393939 !important; font: 1.2em 'proximanova-bold' !important; padding: 10px;}
	.skin-responsivo{background: url("../images/desktop/bg-select.png") 95% no-repeat; z-index: 99999; }
	.row >.ul-responsivo{float: left!important}
	.ul-responsivo li input{width: 99%;  border: 1px solid #64bdff; text-transform: uppercase!important; color: #393939 !important; font: 1.2em 'proximanova-bold' !important; padding-top: 10px; padding-bottom: 10px; }
	.row{width: 85%; display: block; margin: 0 auto}
	.voltar {margin-left: 20px;}
	

/*Página Boleto*/
	.form-responsivo .filter{width: 100%;}
	.form-responsivo .filter .select-2, .form-responsivo .filter .input-size-6, .select select{width: 100%!important;}
	.form-responsivo .filter .input-2{padding: 0!important;}
	.form-responsivo .filter .placeholder::-webkit-input-placeholder, .form-responsivo .filter .placeholder::-moz-input-placeholder, .form-responsivo .filter .placeholder:-moz-input-placeholder {padding-left:50px; color: #fff;}
	.icone-topo{display: none !important;}

/* Página Catálogo */
	.margem{margin-left: 10% !important;}
}


@media (max-width: 600px){
	.breadcrumb{display: none;}
	.title-page > .container > h2 {  margin: 15px 0 0 8px;}
	.img-cliente{display: none}
	.slide-home{display: none;}
	.footer-default{bottom: 0 !important;}
	.titulo-responsivo{top: -15px !important; position: relative;}
	.coluns-responsive{position: relative; width: 100%!important; text-align: left!important; padding-left: 20px;}
	

}


@media (max-width: 768px){

	/* topo */
	.btns-topo{width: 110px;}
	.header-default-logo img{width: 130px; height: auto;}
	.suport{display: none;}
	.header-default-menu-fast{display: none;} 
	.header-default-logo-client{padding-left: 20px; width: 50px; }
	.header-default-logo-client img{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; width: 50px; height: 50px; top: -10px;position: relative;}

	#nav-icon1 {width: 50px; height: 50px; position: relative; top: -20px;  -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg);
  				transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; float: left; background: #005595; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
	#nav-icon1 span { display: block; position: relative; ;height: 2px;  width: 60%; margin: 0 auto; background: #fff;  border-radius: 9px;  opacity: 1;  left: 0;  -webkit-transform: rotate(0deg);
	  				-moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  transform: rotate(0deg);  -webkit-transition: .25s ease-in-out;  -moz-transition: .25s ease-in-out;  -o-transition: .25s ease-in-out;
	  				transition: .25s ease-in-out;}

	#nav-icon1 span:nth-child(1) { top: 14px; }
	#nav-icon1 span:nth-child(2) {  top: 22px;}
	#nav-icon1 span:nth-child(3) {  top: 30px;}
	#nav-icon1.open span:nth-child(1) {  top: 23px;  -webkit-transform: rotate(135deg);  -moz-transform: rotate(135deg);  -o-transform: rotate(135deg);  transform: rotate(135deg);}
	#nav-icon1.open span:nth-child(2) { opacity: 0;  left: -60px;}
	#nav-icon1.open span:nth-child(3) {  top: 20px;  -webkit-transform: rotate(-135deg);  -moz-transform: rotate(-135deg);  -o-transform: rotate(-135deg);  transform: rotate(-135deg);}

	#sacola-responsivo {background: url('../images/responsivo/sacola.png') #545a6b no-repeat; background-position: center center;top: -20px; width: 50px; height: 50px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; float:right; position:relative;}
	.header-default nav{float: right !important; padding-right: 3%}
	.header-default .header-default-logo-client{float: right !important; position: relative;}
	.menu-responsivo, .sub-responsivo{position: relative; top: -4px; width: 100%; height: auto;}
	#sub-1, #sub-2, #sub-3, #sub-4, #sub-5{display: none;}
	.menu-responsivo ul, .sub-responsivo #sub-1, .sub-responsivo #sub-2, .sub-responsivo #sub-3, .sub-responsivo #sub-4, .sub-responsivo #sub-5{position: absolute; width: 100%;  display: table; z-index: 99999; background-color: #fff}
	.menu-responsivo.active-menu ul li, .sub-responsivo.active-menu  #sub-1 li,  .sub-responsivo.active-menu  #sub-2 li,  .sub-responsivo.active-menu  #sub-3 li,  .sub-responsivo.active-menu  #sub-4 li,  .sub-responsivo.active-menu  #sub-5 li{padding-top:20px; padding-bottom:20px; text-align: left;  display: list-item; border-bottom: 1px solid #9aabb8; padding-left: 25px; vertical-align: middle!important; }
	.menu-responsivo.active-menu ul li p, .sub-responsivo.active-menu  #sub-1 li p, .sub-responsivo.active-menu  #sub-2 li p, .sub-responsivo.active-menu  #sub-3 li p, .sub-responsivo.active-menu  #sub-4 li p, .sub-responsivo.active-menu  #sub-5 li p{font-family: "Opensans-Regular"; text-transform: uppercase;color: #005595; font-size: 18pt; margin-left: 5%;}
	#sub-1, #sub-2, #sub-3, #sub-4, #sub-5{background: #005595 !important;}
	#sub-1 li, #sub-2 li, #sub-3 li, #sub-4 li, #sub-5 li{border-bottom: 1px solid #3f87bd !important;}
	#sub-1 li p, #sub-2 li p, #sub-3 li p, #sub-4 li p, #sub-5 li p{color: #fff;}
	#sub-1 li:first-child, #sub-2 li:first-child, #sub-3 li:first-child, #sub-4 li:first-child, #sub-5 li:first-child{background-color: #fff}
	.ativo{color: #fff!important;}
	.ativo a, .ativo a:hover, .ativo a:visited{color: #fff!important;}
	.inativo{display: none!important}
	.responsivo ul li{display: block; margin: 0 auto !important;}

	.history-products-list li {margin: 0 auto!important}
	.footer-default{ bottom: 0!important;}

	.menu-main { display: none; }

	.menu-responsivo ul li span{height: 1px; width: 20px; display: table-row; border-bottom: 1px solid #ccc; position: relative; position: absolute;right: 5%;}
	.menu-responsivo.active-menu ul #fazer-pedido span{top: 31px;  -webkit-transform: rotate(38deg);  -moz-transform: rotate(38deg);  -o-transform: rotate(38deg);  transform: rotate(38deg);}
	.menu-responsivo.active-menu ul #fazer-pedido span:last-child{top: 43px;  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}

	.menu-responsivo.active-menu ul #produto span{top: 106px;  -webkit-transform: rotate(38deg);  -moz-transform: rotate(38deg);  -o-transform: rotate(38deg);  transform: rotate(38deg);}
	.menu-responsivo.active-menu ul #produto span:last-child{top: 119px;  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}

	.menu-responsivo.active-menu ul #comunicado span{top: 177px;  -webkit-transform: rotate(38deg);  -moz-transform: rotate(38deg);  -o-transform: rotate(38deg);  transform: rotate(38deg);}	
	.menu-responsivo.active-menu ul #comunicado span:last-child{top: 190px;  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}

	.menu-responsivo.active-menu ul #financeiro span{top: 251px;  -webkit-transform: rotate(38deg);  -moz-transform: rotate(38deg);  -o-transform: rotate(38deg);  transform: rotate(38deg);}
	.menu-responsivo.active-menu ul #financeiro span:last-child{top: 264px;  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}

	.menu-responsivo.active-menu ul #central span{top: 328px;  -webkit-transform: rotate(38deg);  -moz-transform: rotate(38deg);  -o-transform: rotate(38deg);  transform: rotate(38deg);}
	.menu-responsivo.active-menu ul #central span:last-child{top: 341px;  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}

	.menu-responsivo.active-menu ul #financeiro #sub-fazer-pedido, .menu-responsivo.active-menu ul #produto #sub-produto, .menu-responsivo.active-menu ul #comunicado #sub-comunicado, .menu-responsivo.active-menu ul #financeiro #sub-financeiro,
	.menu-responsivo.active-menu ul #central #sub-central{display: none;}
	.active-menu{display: block !important}

	.sub-responsivo #sub-1 li span, .sub-responsivo #sub-2 li span, .sub-responsivo #sub-3 li span, .sub-responsivo #sub-4 li span, .sub-responsivo #sub-5 li span{height: 1px; width: 20px; display: table-row; border-bottom: 1px solid #ccc; position: relative; position: absolute;left:8%;}
	.span1{top: 31px;  -webkit-transform: rotate(-38deg);  -moz-transform: rotate(-38deg);  -o-transform: rotate(-38deg);  transform: rotate(-38deg);}
	.span2{top: 43px;  -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg);  -o-transform: rotate(45deg);  transform: rotate(45deg);}
	.paragraph{text-align: center; padding-right: 8%;}
	.ativo a:active, .ativo a:hover, .ativo a:visited{color: #fff !important;}

	/*Sub menu responsivo*/
	.menu-responsivo ul li:last-child{background: transparent!important; border: transparent!important; margin: 0 !important; padding: 0!important}
	.menu-responsivo ul li ul{padding: 0!important; margin: 0!important}
	.config-usuarios{background: #eef3f6!important;}
	.config-usuarios li{margin: 0 25px; font-size: 12pt; color: #434343;}
	.config-usuarios li:first-child{font-size: 14pt!important; font-style: italic; text-decoration: none; color: #434343;}

	/*página boleto*/
	.no-responsive{display: none;}
	.table-responsive{display: block;}
	.col-resp-1{width: 70%!important;}
	.col-resp-2{width: 30%;}
	.resposta-responsiva{width: 100%!important; border: none}

	/* Página Catálogo */
		.menu-main { height: 78px;  width: 760px !important;  overflow-x: scroll;}

	/* Home */
	.slide-responsivo{display: block;}
	.faca-seu-pedido .bx-wrapper .bx-controls .bx-controls-direction .bx-next{width: 40px; height: 40px;background: url(../images/btn_proximo.png) no-repeat}
	.faca-seu-pedido .bx-wrapper .bx-controls .bx-controls-direction .bx-prev{width: 40px; height: 40px;background: url(../images/btn-anterior.png) no-repeat}

	/*Danfes*/
	.table{overflow-x: scroll;}

	/* videos*/
	.list-videos li{width: 100% !important; max-width:500px!important;}
	.list-videos li img{width: 100% !important; max-width: 350px!important;}
	.responsivo-videos ul{max-width: 550px!important;}
	/*Algumas alterações de videos estao no css de vídeos*/

	body .header-default{
		height: 64px;
	}

	/*Sacola responsiva*/
	.sacola-responsiva-aberta{
		display: none;
	    top: 94px!important;
	    overflow: auto;
	    width: 80%!important;
	    right: 0;
	    position: absolute;
	    background: #f8f9fb;
	    padding: 20px;
	    z-index: 999999999;

	}

	.sacola-responsiva-aberta .shopping-bag-products .shopping-bag-products-content h4 {
		  width: 175px;
		}

	.sacola-responsiva-aberta .shopping-bag-products .shopping-bag-products-price-final {
	  padding-top: 26px;
	}
	.sacola-responsiva-aberta .shopping-bag-products .shopping-bag-products-price-final p {
	  font-family: 'sourcesanspro-semibold';
	  font-size: 1.3em;
	  color: #393939;
	  float: right;
	}
	.sacola-responsiva-aberta .shopping-bag-products .shopping-bag-products-price-final p span + span {
	  font-size: 2.0em;
	}
	.sacola-responsiva-aberta .shopping-bag-products .shopping-bag-products-price-final .btn {
	  float: right;
	  clear: both;
	  margin-top: 30px;
	}

	.sacola-responsiva-aberta .shopping-bag-products li a {
    display: block;
    width: 373px;
    text-decoration: none;
    color: #393939;
    font-family: 'sourcesanspro-semibold';
    padding: 14px 0;
    border-bottom: 1px solid #393939;
    overflow: hidden;
}

.shopping-bag-products ul, .sacola-responsiva-aberta .shopping-bag-products li a{
	width: 100% !important;
}

	.sacola-ativa{
		display: block!important;
	}
	.sacola-responsiva-aberta li, .sacola-responsiva-aberta .shopping-bag-products{
		width: 100%;
	}

	.sacola-responsiva-aberta li{
		
	}

	.sacola-responsiva-aberta .shopping-bag-products{

	}

	.prevista strong{
		color: #558729;
	}

	/* Tentando ajustar o form do meus pedidos*/
	.form-responsivo{display: block!important; width: 100%;}
	.form-responsivo .btn-responsivo{background-color: #64bdff; height: 35px;  padding: 9px 12px;  text-align: center; font: 13px "proximanova-regular";border: 0;cursor: pointer; 
									text-transform: uppercase;display: inline-block;height: 46px;box-sizing: border-box;background-position: 15% 50%;background-repeat: no-repeat;font-weight: bold; color: #fff;}
	.ul-responsivo{width: 100%; display: block;}
	.ul-responsivo li{width: 100%;display: list-item; margin-bottom: 18px; text-transform: uppercase!important; color: #393939 !important; font: 1.2em 'proximanova-bold' !important; appearance: none; -moz-appearance: none; -webkit-appearance: none; border: 0; background: transparent; display: block;}
	.ul-responsivo li:last-child{margin-bottom: 0 !important }
	.ul-responsivo li select{width: 100% !important; max-width: 640px; background: transparent; margin-right: 10px;  -webkit-appearance:  none; -moz-appearance: none; appearance: none; border: 1px solid #64bdff; text-transform: uppercase!important; color: #393939 !important; font: 1.2em 'proximanova-bold' !important; padding: 10px;}
	.skin-responsivo{background: url("../images/desktop/bg-select.png") 95% no-repeat; z-index: 99999; }
	.row >.ul-responsivo{float: left!important}
	.ul-responsivo li input{width: 99%;  border: 1px solid #64bdff; text-transform: uppercase!important; color: #393939 !important; font: 1.2em 'proximanova-bold' !important; padding-top: 10px; padding-bottom: 10px; }
	.row{width: 85%; display: block; margin: 0 auto}
	.voltar {margin-left: 20px;}
	
/*Página Boleto*/
	.form-responsivo .filter{width: 100%;}
	.form-responsivo .filter .select-2, .form-responsivo .filter .input-size-6, .select select{width: 100%!important;}
	.form-responsivo .filter .input-2{padding: 0!important;}
	.form-responsivo .filter .placeholder::-webkit-input-placeholder, .form-responsivo .filter .placeholder::-moz-input-placeholder, .form-responsivo .filter .placeholder:-moz-input-placeholder {padding-left:50px; color: #fff;}

	.form-auto{display: none!important}
	.msg-rolar{display: none!important;}

	.col-7 a {
   	 margin: 0 auto!important;
  	}

}


@media (max-width:999px){
	/*Home*/
	.banner, .inativo-slide{display: none !important;}
	.responsivo, .responsivo-danfes{display: block!important}
	.slide-responsivo{display: block!important}
	.slide-img{display: block!important;max-width: 1000px!important; width: 100%!important; max-height: 600px!important; height: 100%!important}
	.bx-wrapper .bx-viewport{border: 0!important;}	
	.faca-seu-pedido{padding: 80px 50px 0px 50px  !important;}
	.faca-seu-pedido .title-main{font: 3.2em 'proximanova-bold' !important;color: #005595;text-transform: uppercase;}
	.sub-title-main, .escolha{font: 1.4em 'sourcesanspro-regular'!important;color: #4b4b4b !important;text-transform: uppercase;}
	.title-main {font: 3.2em 'proximanova-bold'!important; color: #005595 !important; text-transform: uppercase;}
	.sub-title-main{padding-bottom: 30px;}
	.escolha-produto{width: 100%; margin: 0 auto; padding-top: 30px;}
	.escolha{text-align: center; display: block; margin: 0 auto; text-transform: none; font-weight: bold!important;}
	.escolha-produto input[type="submit"]{margin: 0 auto; display: block; padding: 15px 25px 15px 25px; text-transform: uppercase; color: #005595; border: 2px solid #005595; font-weight: bold; background: transparent;}
	.escolha-produto input[type="radio"]{background: transparent; border: #444 1px solid;}
	.news, .videos{padding: 80px 50px 0px 50px !important}
	.videos{padding-bottom: 100px!important;}
	.escolha-produto input[type=radio] { opacity: 0; margin-right: -12px; cursor: pointer; width: 12px; height: 12px;} 
	.escolha-produto input[type=radio] + span:before { content: " "; background-color: #ccc; display: inline-block; margin-right: 15px; width: 6px; height: 6px; border: 3px solid #fff;-webkit-border-radius: 10px;
   													 -moz-border-radius: 10px; border-radius: 10px; visibility: visible; box-shadow: 0 0 0px 2px #999;}
 	.escolha-produto input[type=radio]:checked + span:before { background-color: #052;}
 	.videos iframe{ width: 100%; height: 100%; max-width: 600px; min-width: auto; max-height: 500px; min-height: 327px; display: block; margin: 0 auto;}
 	.videos ul{display: block; margin:0 auto; width: 100%; max-width: 280px;}
 	.btni.visualizar{display: block; margin: 0 auto;}
 	.btn-responsivo{ position: absolute; width: 50%; bottom: 220px; left: 25%;}
 	.img-icon-video{width: 104px; height: 72px;}
 	form .ul-responsivo .btn-filtro-responsivo{background-color: #64bdff!important; color: #fff!important;}
 	
	/* Meus Pedidos*/
	.fixed-width{width: 1024px !important;}
	.col-1{min-width: 100px!important;}
	.col-3{max-width: 70px;}
	/*.col-8{max-width: 35px!important}*/
	.col-6{max-width: 130px;}
	.col-10{max-width: 40px;}
	.table-meus-pedidos{overflow-x: scroll;}
	.gradient-table { width: 80px; right: 0; display: block !important;  height: 730px;  z-index: 9999999999 !important; background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.8));
    background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.8)); background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.8)); background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8));
    position: absolute;}

    /* comunicados */

    .select-3, .select-2{width:96% !important; margin-bottom: 30px;}
 	.controls.constrols-historico-comunicados li + li + li{margin-left: 1px!important;}
 	.content-pagination .voltar{ margin-left: 20px;}
	.communicated.available .title-default, .communicated ul li span { color: #fd4949 !important}
	.btni.leia-mais-responsivo {
    background-image: url("../images/btn-new/leia-mais.png");
}


	/* Danfes */
	.responsivo-danfes .container .input-size-6 {width: 96%;}
    .responsivo-danfes .container .input-2{padding:  0!important}
    .responsivo-danfes .container form .filtro-danfe li{margin-bottom: 15px !important;}
    .margem-inf li{margin-bottom: 15px!important;}
    .tablela-responsiva{overflow-x: scroll; width: 960px!important;}

}


@media (max-width: 1024px){

	.fixed-width{width: 960px !important;}

	.table{
   		width: 1200px !important;
	}

	.msg-rolar{
		padding: 10px;
		width:98%!important;
		top: 11px!important;
		position: relative!important;
		color: #fff!important;
		background-color: rgba(0,0,0, 0.7)!important;
		display: block !important;
	}

	.msg-rolar p{
		
		color: #fff!important;
		font:10px "proximanova-regular"!important;

	}

	.msg-rolar .fecha{
		float: right!important;
		right: 10px!important;
		width: 20px!important;
		top: -15px!important;
		font-size: 12pt!important;
		height: 20px!important;
		position: relative;

	}

	.tabela-fixa{
		width: 100%;
		overflow-x: scroll;

	}

	.video-ajuda{
	}

	.help {
	    padding: 38px 10px 0 10px!important;
	    display: block;
	    margin: 0 auto;
	}



}

.help  iframe{

		max-width: 500px;
		max-height: 300px !important;
		width: 100%;
		height: 100%;
		min-height: 300px;
		display: block;
		margin: 0 auto;
	    
	}

.menu-main .shopping-bag li a.icon-bag {
    padding: 0px 15px 0 39px!important;
    background-position: 0px -177px !important;
}