@media (max-width: 999px){
	.input-size-2, .input-size-1 {
    width: 99% !important;
    padding-left: 0!important;
    padding: 0!important;
    margin: 0 0 15px 0!important;
}

.select-6{
	width: 99%!important;
	margin-bottom: 15px;
}



}