@media (max-width: 768px){
	.suggestions, .responsivo{
		width: 100%!important;
		padding: 15px;
	}

	.input-size-1, .input-size-2{
		width: 84%!important;
	}

	.form{
		width: 100%!important;
	}

	.row {
	    width: 92%;
	    display: block;
	    margin: 0 0 20px 0!important;
	}

	.textarea-size-1{
		width:85%!important;
		max-width: 600px!important;
	}

	.requerid{
		float: right!important;
	}
}


@media (max-width: 999px){
	
	.requerid{
		float: right!important;
	}
}


