@media (max-width: 768px) {
	.duvidas-busca {
	    /*margin: 0 auto !important;*/
	    display: block;
	    position: relative;
    	float: none;
    	width: 100%;
    	text-align: center;
	}

	.duvidas-busca > .input{
		width: 43%;
	}
	.duvidas-buscas > .buscar {
		width: 38%;
	}
	.list-questions-container {
		float:none;
		width: 92%;
    	padding: 5px 15px;
	}
	.list-questions-select > li {
		border: 1px solid #d2d2d2;
		min-width: 100%;
    	text-align: center;
		padding: 20px 0px;
	}
	.list-questions-container > ul > li {
    	padding: 18px 10px;
	}
}