.easyzoom img {
    vertical-align: bottom;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}

#cboxClose{

}


.input-busca {
	border: 2px solid #404451 !important;
	height: 26px;
	width: 230px;
	color: #393939 !important;
	font: 16px 'proximanova-bold';
	background-color: rgb(204, 204, 204) !important;
}

.scroll{overflow: scroll!important;; }
.conteudo{display: none; color: transparent;}
.tabela-fixa{
	width: 100% !important;
	overflow-x: scroll;
}




@media (max-width: 768px){
.table{overflow-x: scroll!important;}
.scroll{overflow: scroll; }
.footer-default{bottom: 0 !important}
.img-fazer-pedido{position: relative; margin: 0 auto; display: block; width: 100%; height: auto; max-width: 323px; padding-top: 50px;  }
.buscar{display: block; float: right; margin-top: 20px; margin-right: 10px;}
.select-2{margin: 0 auto;}
.mascara{margin-top: 20px;  background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 110px; position: relative; }
.amount {position: absolute!important; bottom: 186px!important;}
.mascara .fecha{ height: 20px; width: 20px; background: url('../images/responsivo/fechar.png') no-repeat; float: right; margin: 15px;}
.mascara .conteudo{ height: auto; width: 100%; margin: 20px; top: 35px; position: relative; display: block; color: #fff; font-size: 14pt; text-align: center; padding-bottom: 20px; color: #fff!important;}
}

@media (max-width: 600px){
.table{ overflow-x: scroll!important; background-color: #404451 !important;}
.scroll{overflow: scroll!important; }
.footer-default{bottom: 0 !important}
div#colorbox, div#cboxWrapper, div#cboxMiddleLeft, div#cboxContent, div#cboxLoadedContent, #colorbox > img, .imagem-popup{width:100%!important; height: 100%!important;}


@media (max-width: 600px){
.mascara{height: 125px !important;}
.mascara .conteudo{right: -7px !important;}
}

@media (max-width: 1024px){

	.controls{
		height: 300px;
	}
}

