
@media (max-width: 768px){
	.input-2{
		padding: 0!important;
		margin-bottom: 20px;
	}

	.input-size-2, .select-6{
		width: 98%!important;
	}

	.filter-acesso-administrador li:first-child{
		margin-bottom: 20px; 
	}

	.select-6{
		margin-bottom: 20px;
	}

	.input-size-1 {
    	width: 98%;
	}


}

