@media (max-width: 768px) {
	.container form .filter-history-products li {
	    margin-bottom: 20px !important;
	}


	button.accordion {
	    background-color: #eee;
	    color: #444;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
	    font-size: 15px;
	    transition: 0.4s;
	}

	button.accordion.active, button.accordion:hover {
	    background-color: #ddd;
	}

	button.accordion:after {
	    content: '\02795';
	    font-size: 13px;
	    color: #777;
	    float: right;
	    margin-left: 5px;
	}

	button.accordion.active:after {
	    content: "\2796";
	}

	div.panel {
	    padding: 0 18px;
	    background-color: white;
	    max-height: 0;
	    overflow: hidden;
	    transition: 0.6s ease-in-out;
	    opacity: 0;
	}

	div.panel.show {
	    opacity: 1;
	    max-height: 500px;  
	}

	.inline-block {
    list-style: none;
    width: 87%;
    margin: 0 auto;
}
}

  .history-products ul li {
    width: 217px;
    height: 290px;
    margin: 0 19px 47px 19px;
   display: inline-block;
  }

.history-products-inactive .history-products-list li{
	 width: 204px!important;
	 margin: 0 19px 47px 19px;
	 filter: alpha(opacity=50);
	opacity: 0.5;

}


.attributes li{
	margin: 0!important;

}

