.login{display: block;}
.login-responsivo{display: none;}

@media screen and (max-width: 1025px){
	body .footer-default {
	    position: absolute;
	    bottom: 0; 
	}
}

@media screen and (max-width: 766px){
	body .content-login {
	    background:none;
	}

	.content-login .content-login-nao-cadastrado {
	    width: 100%!important;
	    margin-left: 3%!important;
	    padding-top: 40px;
	}

	.login{
		display: none;
	}

	.login-responsivo{
		display: block;
		margin: 3%;
		width: 93% !important;
	}

	.login-responsivo:last-child{
		padding-top: 40px;
	}

	.content-login{
		height: auto!important;
	}

	.recovery-password + .recovery-password{
		margin-top: 6px!important;
	}

	
}