.formulario-desktop{ display: block;}
.formulario-tablet{ display: none;}

@media (max-width: 768px){

	::-webkit-input-placeholder {
	  padding-left:10px;
	}

	:-moz-placeholder {
	   padding-left:10px;
	}

	::-moz-placeholder {
	   padding-left:10px;
	}

	:-ms-input-placeholder {  
	   padding-left:10px;
	}

	.formulario-desktop{ display: none!important;}
	.formulario-tablet{ display: block !important;}


}