.request-detail {min-width: 350px!important;}

@media (max-width: 350px) {
	.request-detail {width:100%!important; min-width: 300px!important;}
}

@media (max-width: 650px) {
	.sessao-salvar{width: 80%; margin: 0 auto; height: 230px!important; margin-bottom: 20px;}
	.sessao-salvar input {
    width: 100%;
    font-weight: normal;
    font-size: 10pt;
    color: #393939;
    border: 1px solid #999ba2;
    float: left;
    padding: 15px 0!important;
	}

	.sessao-salvar input:last-child{
	float: none!important;
    margin: 0 auto !important;
    padding-top: 10px; 
    display: block;
    width: 150px!important;
    top: 10px;
    position: relative;
	}
}
