@media (max-width: 768px) {
	.news-block {
  		width: 100%!important;
	}

	.news-block .news-block-detail .news-list {
	    width: 100%!important;
	}

	.news-detail{
	    overflow: hidden;
	    float: left;
	    width: 100%!important;
	    background-color: #ffffff;
	    padding: 28px 0!important;
	}

	.news-detail-content > img {
	    width: 100%;
	    max-width: 310px;
	}

	.title-default {
   		font: 2.2em 'sourcesanspro-semibold' !important;
   	}
}