@media(max-width: 768px){
	
	.form, .suggestions{
		width: 95%!important;
	}

	.input-size-1, .input-size-2, .textarea-size-1{
		width: 84%!important;
	}

	.form{
		margin: 10px auto;
	}

	.textarea-size-1{
		max-width: 600px;
	}

	.footer-default{
		bottom: 0!important;
	}
}