.table .theader .coluns > .col-7, .table .tbody .coluns > .col-7 {
    width: 134px;
}

.col-8{
    text-align: center;
    border-right: 1px solid #393939 !important;
}

.table .theader .coluns > .col-8, .table .tbody .coluns > .col-8 {
    width: 59px !important;
}

@media(max-width: 768px){
	.table .theader .coluns > .col-7, .table .tbody .coluns > .col-7 {
	    width: 134px!important;
	}
	.col-8 {
	    text-align: center;
	    border-right: 1px solid #393939 !important;
	}

	.table .theader .coluns > .col-8, .table .tbody .coluns > .col-8 {
    width: 59px !important;
}
}

@media(max-width: 1024px){
	.table .theader .coluns > .col-7, .table .tbody .coluns > .col-7 {
   		width: 134px!important;
	}
	.col-8 {
	    text-align: center;
	    border-right: 1px solid #393939 !important;
	}

	.table .theader .coluns > .col-8, .table .tbody .coluns > .col-8 {
    width: 59px !important;
}

}