.colclear{width:15% !important;}
.coluns{width: 100% !important;}
.container .pedido-salvo{width: 100%;}
.add-to{border: 3px #393939 solid; background-color: transparent; padding: 5px; color: #393939; float: right; margin: 10px; cursor: pointer;}
.lupa{background: url('../images/lupa.png') no-repeat; width: 30px; height: 27px; display: block;float: left; margin: 10px; cursor: pointer;}
.detalhe-pedido{
    display:none;
    width:60%;
    height:auto;
    position:absolute;
    left:19%;
    top:20%;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:0px;
}

.detalhe-pedido .table{
	width: 100% !important;
	max-width: 1200px !important; 
}
 
.mascara{
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:rgba(0, 0, 0, 0.9);
}
 
.header{width: 100%; height: 30px; }
.fechar{width: 30px; height: 30px;float: right; background: url('../images/fechar.png') no-repeat;}
.btn-acompanha{background: transparent; border: 3px solid #005595; color: #005595; text-transform: uppercase; font-weight: bold; padding: 5px;}
.sessao-salvar{background: #f3f3f3; border: 1px #e7e7e7 solid; padding: 20px;margin-bottom: 60px; height: 150px;}
.sessao-salvar .cabecalho-salvar{font-weight: normal; font-size: 22pt;font-family: 'sourcesanspro-semibold'; color:#404451; padding-bottom:10px; }
.sessao-salvar p{font-weight: normal; font-size: 10pt;font-family: 'sourcesanspro-regular'; color:#404451; padding-bottom:20px;}
.sessao-salvar input{width: 65%; padding: 15px; font-weight: normal; font-size: 10pt; color: #393939; border: 1px solid #999ba2; float: left }
.sessao-salvar input:last-child{width: 29%; padding: 15px; font-weight: normal; font-size: 10pt; color: #fff; background-color: #5bcf37; float: right; border: none}

.modal {display: none; width: 500px; height: 500px; left:35%; top:23%;position: absolute; background:#FFF; z-index:9900; padding:10px; border-radius:0px; padding-bottom: 20px;}
.easyzoom{position: absolute!important; left: 0;}
figure{border: none!important}

#cboxClose{z-index: 999999999999999;}

