.footer-default {
    position: fixed;
    bottom: 70px;
}
.analitico-li {    
    padding-right: 20px; 
}
.inativo-form {
	display: block
}
.ativo-form{
	display: none;
}

.controls .tabela-fixa .table {
    width: 985px !important;
}
@media(max-width: 1024px){}

@media(max-width: 768px){
	form .inativo-form{
		display: none; 
	}

	form .ativo-form{
		display: block;
	}

	form .analitico-li{
		padding: 0 0 15px 0;
		margin: 0 auto;
	}
	.title-page > .container > img {
	    display: none;
	}
}

@media(max-width: 360px){}