.inativo-novo{display: block;}
.responsivo-novo{display: none;}
.open-page{display:block;}
.open-page-responsive{display: none;}

@media (max-width: 320px){
.btni.excluir {
    margin-right: 0!important;
    margin-top: 5px;
}

#frmBusca .filter-fazer-pedido-grade li .input-size-2  {
		width: 100%;
		max-width:240px !important;
		margin-bottom: 30px;
	}
}

@media (max-width: 600px){
	.mascara{height: 125px !important;}
	.mascara .conteudo{right: -7px !important;}
	.open-page{display: none!important;}
	.open-page-responsive{display: block !important;}

}

@media (max-width: 730px){

.inativo-novo{display: none!important;}
.responsivo-novo{display: block!important;}
.filter-fazer-pedido-grade li{
		margin-bottom: 30px!important; 
	}

	.select-1{
		width: 95%!important;
	}

	div.blockUI.blockMsg.blockPage{
		width: 88%!important;
		left: 2%!important;
		float: none;
		margin: 0 auto;

	}
}


@media (max-width: 768px){

	.controls > .container > form{
		 width: 100%;
	}

	.clear {
	    clear: both;
	    width: 100%;
	}

	li {
	    display: block;
	    margin: 0 auto !important;
	  
	}

	.filter-fazer-pedido-grade li .input-size-2 {
		width: 100%;
		max-width:300px;
		margin-bottom: 30px;
	}

	.img-pedido-grade{
		position: relative;
		margin: 0 auto;
		display: block;
		width: 100%; 
		height: auto; 
		max-width: 323px; 
		padding-top: 50px; 
		float: none!important;  
	}

	figure{ 
		width: 100%;
	}

	.footer-default{
		bottom: 0!important
	}

	.scroll{overflow-x: scroll!important }
	}

	.table-scroll{width: 100%; overflow-x: scroll }

	.mascara {
		margin-top: 20px;  
		background-color: rgba(0, 0, 0, 0.5); 
		width: 100%; 
		height: 110px; 
		position: relative; 
	}
	.mascara .fecha { 
		height: 20px; 
		width: 20px; 
		background: url('../images/responsivo/fechar.png') no-repeat;
		float: right; 
		margin: 15px;
	}
	.mascara .conteudo { 
		height: auto; 
		width: 100%; 
		margin: 20px; 
		top: 35px; 
		position: relative; 
		display: block; 
		color: #fff; 
		font-size: 14pt; 
		text-align: center; 
		padding-bottom: 20px; 
		color: #fff!important;
	}
}



@media (max-width: 960px){

	.controls > .container > form{
		 width: 100%;
	}

	.clear {
	    clear: both;
	    width: 100%;
	}

	li {
	    display: block;
	    margin: 0 auto !important;
	    width: 100%;
	}

	.input-size-2 {
		width: 100%!important;
		max-width:209px!important;
		margin-bottom: 30px;
	}

	.img-pedido-grade{
		position: relative;
		margin: 0 auto;
		display: block;
		width: 100%; 
		height: auto; 
		max-width: 323px; 
		padding-top: 50px; 
		float: none!important;  
	}

	figure{ 
		width: 100%;
	}

	.footer-default{
		bottom: 0!important
	}

	.scroll{overflow-x: scroll!important }
	}

	.table-scroll{width: 100%; overflow-x: scroll }

	.mascara {
		margin-top: 20px;  
		background-color: rgba(0, 0, 0, 0.5); 
		width: 100%; 
		height: 110px; 
		position: relative; 
	}
	.mascara .fecha { 
		height: 20px; 
		width: 20px; 
		background: url('../images/responsivo/fechar.png') no-repeat;
		float: right; 
		margin: 15px;
	}
	.mascara .conteudo { 
		height: auto; 
		width: 100%; 
		margin: 20px; 
		top: 35px; 
		position: relative; 
		display: block!important; 
		color: #fff; 
		font-size: 14pt; 
		text-align: center; 
		padding-bottom: 20px; 
		color: #fff!important;
	}
}



