	.footer-default {
	    position: fixed;
	    bottom: 0;
	}
	.analitico-li {    
	    padding-right: 20px; 
	}
	.inativo-form {
		display: block
	}
	.ativo-form{
		display: none;
	}

.table .theader .coluns > .col-5, .table .tbody .coluns > .col-5 {
    width: 7%!important;}




@media(max-width: 1024px){}


@media(max-width: 768px){
	form .inativo-form{
		display: none; 
	}

	form .ativo-form{
		display: block;
	}

	form .analitico-li{
		padding: 0 0 15px 0;
		margin: 0 auto;
	}
	.title-page > .container > img {
	    display: none;
	}

	.select-1, .select-4 {
		width: 96%!important;
	}

	.form-responsivo .filter .select-2{
		width: 96%!important;
	}

	.form-responsivo .filter .select-1, .form-responsivo .filter .select{
		margin-bottom: 30px;
	}
}

@media (max-width: 600px){


}