	.footer-default {
	    position: fixed;
	    bottom: 0;
	}
	.analitico-li {    
	    padding-right: 20px; 
	}
	.inativo-form {
		display: block
	}
	.ativo-form{
		display: none;
	}

	.filter-danfe li + li {
    margin-left: 5px !important;
}

.footer-table{
	background-color: #ddd!important;
}

.padding li{
	padding-left: 20px;
}

.blue .content-pagination .container .pagination{margin: 0 auto;}

.select{background-color: #fff!important;}

div#colorbox, div#cboxWrapper,  div#cboxContent, div#cboxLoadedContent, #colorbox > img{width:100%!important; height: 100%!important; max-width: 480px; min-height: 480px;}
#cboxLoadedContent{width:100%!important; height: 100%!important; min-height: 480px; max-width: 480px;}

div#cboxMiddleLeft{width:100%!important; height: 100%!important; }

.mensagem-cliente{padding: 50px 10px}
.mensagem-cliente h1{font: 2.2em 'proximanova-bold';    text-transform: uppercase;    color: #005595;    margin: 0;}

@media(max-width: 1024px){}


@media(max-width: 768px){
	form .inativo-form{
		display: none; 
	}

	form .ativo-form{
		display: block;
	}

	form .analitico-li{
		padding: 0 0 15px 0;
		margin: 0 auto;
	}
	.title-page > .container > img {
	    display: none;
	}

	.table{
		width: 960px!important;
	}
}

@media(max-width: 360px){}