* {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none;
}

li { list-style: none; }
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
img,
fieldset {
  border: 0;
}

.clear-fix:before,.clear-fix:after{
	content: " ";
    display: table;
}

.clear-fix:after{
	clear: both;
}

