.fixed, .container .responsive-form{display: none;}
#tabela-inativa{display: block; margin: 0; padding: 0;}
.inativo-novo{display: block;}
.responsivo-novo{display: none;}

.container .responsive-form{
	display: none;
}

h4{
	font: 2em "sourcesanspro-semibold";
color: #393939;
}

@media (max-width: 999px) {
	
}

@media (max-width: 768px) {
	.container figure{
		display: none;
	}

	.resume-request .resume-requet-detail{
		width: 100% !important;
	}

	.fixed{
		overflow-x: scroll!important;
		position: relative;
	}

	.table-resume-quest{
		overflow-x: scroll;
	}

	.tabela-fixa{ 
		width: 100%;
		overflow-x: auto;
	}

	.tabela-fixa table{
		width: 800px!important;
	}


	.inativo-novo{
		display: none!important;}

	.responsivo-novo{
		display: block!important;}

	.responsivo-novo ul {
		display: table;
		width: 100%;}

	.responsivo-novo ul li{
		display: table-cell;}

		.responsive-form{
			display: block;
		}

}

@media (max-width: 530px) {

	.responsivo-novo ul {
		display: block!important;
		width: 100%;}

	.responsivo-novo ul li{
		display: list-item!important;
		margin-bottom: 25px;
		width: 100%;

	}	

	.responsivo-novo ul li{
		display: list-item!important;
		margin-bottom: 25px;
		width: 100%;

	}

	.responsivo-novo ul li a, .responsivo-novo ul li input{
		margin: 0 auto !important;
		width: 140px;
		text-align: center!important;
		display: block;

	}

	.desconto, .juros, .pedidos, #total-parc-imposto{
		display: none;
	}
}


@media (max-width: 500px) {
	#tabela-inativa{
		display: none!important
	}

	.fixed{display: block;}	



}