.borda{
		border: 1px solid #eee;
		padding: 10px;
		text-align: center
	}
.inativo-novo{display: block;}
.responsivo-novo{display: none;}

@media (max-width: 300px){
	
	.resume-request .resume-requet-detail .box .total-valor.other {
    width: 140px;
    background-color: #005595;
    position: relative;
    top: 38px;
}
}

@media (max-width: 768px) {
	.resume-request img{
		display: none;
	}

	.resume-request .resume-requet-detail {
	    width: 100%;
	    float: right;
	}

	button.ui-datepicker-trigger{
		background: transparent;
		border:  none;
	}

	.borda{
		border: 1px solid #eee;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center
	}

	.inativo-novo{
		display: none!important;}

	.responsivo-novo{
		display: block!important;}


	.responsivo-novo ul {
		display: table;
		width: 100%;}

	.responsivo-novo ul li{
		display: table-cell;}



	.responsivo-novo ul {
		display: table;
		width: 100%;}

	.responsivo-novo ul li{
		display: table-row;}

	.responsivo-novo ul li a{
		display: block;
		margin: 10px auto;	
		width: 60%;
	}
	a#voltar.btn{
		margin: 0 auto;
	}

	.desconto, .juros, .pedidos, #total-parc-imposto{
		display: none;
	}

	#prosseguir{
		display: block;
		margin: 0 auto;
		float: none;	
		text-align: center;
	}

}

@media (max-width: 1000px) {
.resume-request .resume-requet-detail .box ul.lbls {
    padding-top: 6px;
    float: none;
	}
}