/* Shared para tablets e desktop. */
html{
	min-height: 100%;
	position:relative;
}
.buttons-page{
	min-height: 60px;
}
body{
	background:#fff;
	margin-bottom: 190px;
}

.banner{
	display: inline-block;
	position: relative;
	width:100%;
	background:#f6f6f6;
	padding:0;
	margin-bottom: -17px;
}
.click-pointer-event{
	cursor:pointer;
}
.bx-viewport img{
	width: 100%;
}

#slideshow .bx-viewport{
	border:0;
	left:0;
}
.amount{
	width: 100%;
}
.fixed-table-spacing{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 95px;
	background:#f7f7f7;
	text-align: left;
	padding:10px;
}

.fixed-table-spacing p {
	font: 1.3em 'sourcesanspro-semibold';
	color: #4b4b4b;
}

.table-iframe .table{
	table-layout: fixed;
	padding-top: 95px;
}

.table-iframe .theader{
	position: fixed;
	width: 100%;
	top:95px;
}
.tabela-taxa-naoatingida{
	table-layout: fixed;
	text-align: center;
	width: 100%;
	font:1.4em 'sourcesanspro-semibold';
}

.openLevel+ul{
	display: block !important;
}

.tabela-taxa-naoatingida th{
	background:#404451;
	color:#fff;
}

.tabela-taxa-naoatingida th, .tabela-taxa-naoatingida td{
	padding:5px 0;
}

.tabela-taxa-naoatingida tr:nth-child(odd){
	background-color: #efefef;
}

.table-iframe .amount{
	bottom:0;
	box-sizing:border-box;
	padding:14px;
}

.pedtaxa {
	height: 497px;
	overflow-y:  auto;
	top: 20% !important;
}
#passoapasso{
	display: none;
	padding:25px 25px 50px 25px;
	font-size: 16px;
}

#passoapasso p{
	margin:1.2em 0;
}

#passoapasso strong{
	text-transform: uppercase;
}

#passoapasso>section{
	border-top: 1px solid #d0d0d0;
	padding-top: 1.2em;
}

#passoapasso>section:first-child{
	border-top:0;
	padding-top: 0;
}

#colorbox #passoapasso{
	display: block;
}
#passoapasso b{
	color:#003d6a;
	font-weight: normal;
	font-size: 19px;
}
#passoapasso b>img{
	float: left;
	margin-right: 10px;
}

.link-plus{
	display: block;
	width: 30px;
	height: 27px;
	line-height: 28px;
	font-size: 30px;
	font-family: monospace;
	margin:auto;
	color:#003c69;
	border:2px solid #003c69;
	border-radius: 50%;
}
.inner-table-hold{
	display: none;
}

.table-iframe .icon-image{
	margin: 10px auto;
}
.table-iframe{
	text-align: center;
}
.table-iframe>.table .tbody .coluns li{
	height: auto !important;
	text-align: center;
	padding:7px 0;
}

/*
.banner>#slideshow, .banner>.nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: 0;
}
.banner>.nav{
  height: 40px;
  position: relative;
  top:-265px;
  z-index: 300;
  margin:0 auto;
}
.banner:before{
    content:"";
    display:block;
    padding-top:21.590909090%;
}

*/
.footer-default{
	position:absolute;
	bottom:0;
	width:100%;
}
@font-face {
	font-family: 'proximanova-regular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proximanova-bold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'opensans-regular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sourcesanspro-regular';
	src: url('../fonts/sourcesanspro-regular-webfont.eot');
	src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sourcesanspro-semibold';
	src: url('../fonts/sourcesanspro-semibold-webfont.eot');
	src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'), url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
.title-page>.container>img{
	float: left;
	margin: 0 10px;
}
.title-page>.container{
	padding:9px 0;
}

.title-page>.container>h2{
	margin:7px 0 0 8px;
	color:#fff;
}
.purple .pagination li a:hover, .purple .pagination li a.active{
	background-color:#3c006a;
}
.green .icon-pdf{
	background-position: -164px -644px;
}
.base{
	width: 960px;
	margin: 0 auto;
}
.purple.title-page{
	background: url("../images/purple-title-bg.jpg") center bottom no-repeat;
}
.red.title-page{
	background: url("../images/red-title-bg.jpg") center bottom no-repeat;
}
.green.title-page{
	background: url("../images/green-title-bg.jpg") center bottom no-repeat;
}
.orange.title-page{
	background: url("../images/orange-title-bg.jpg") center bottom no-repeat;
}
.red .btni, .red .btns{
	background-color: #6c0000;
}
.purple .btni, .purple .btns{
	background-color: #3c006a;
}

.blue .btni, .blue .btns{
	background-color: #003c69;
}
.green .btni, .green .btns{
	background-color: #126c00;
	white-space: nowrap;
}
.orange .btni, .orange .btns{
	background-color: #c74200;
}

/* botoes e etc */
.btni:hover{
	opacity: 0.75;
}
.btni,.btns{
	font:13px "proximanova-regular";
	border:0;
	cursor:pointer;
	background-color: grey;
	color:#fff;
	padding:15px 13px 15px 50px;
	text-transform: uppercase;
	display: inline-block;
	text-align: right;
	height: 46px;
	box-sizing:border-box;
	background-position: 15% 50%;
	background-repeat: no-repeat;
	font-weight: bold;
}

.btns{
	height: 35px;
	padding:9px 12px;
	text-align: center;
	background: none;
}

.btni.buscar, .btni.prosseguir, .btni.voltar, .btni.confirmar, .btni.enviar, .btni.excluir, .btni.download, .btni.smallf{
	height: 33px;
	line-height: 5px;
	padding-left: 37px;
	font-size: 11px;
}
.btni.smallf.visualizar, .btni.download{
	background-size: 20% auto;
	padding-left: 43px;
}
.btni.leia-mais{
	background-image: url("../images/btn-new/leia-mais.png");
}
.btni.imprimir{
	background-image: url("../images/btn-new/imprimir.png");
}
.btni.voltar{
	background-image: url("../images/btn-new/voltar.png");
}
.btni.prosseguir{
	background-image: url("../images/btn-new/prosseguir.png");
}
.btni.confirmar{
	background-image: url("../images/btn-new/confirmar.png");
}
.btni.download{
	background-image: url("../images/btn-new/download.png");
}
.btni.excluir{
	background-image: url("../images/btn-new/excluir.png");
}
.btni.visualizar{
	background-image: url("../images/btn-new/visualizar.png");
	background-position: 11% 50%;
}
.btni.buscar{
	background-image: url("../images/btn-new/buscar.png");
	width: 92px;
}
.btni.enviar{
	background-image: url("../images/btn-new/enviar.png");
	padding-left: 40px;
}

.left-label,.right-label{
	float: left;
	width: 46%;
	display: block;
}
.right-label{
	float: right;
}

.left-label>.select,.right-label>.select{
	width: 98%;
}

.row>label,.row>label>span{
	display: block;
	font-size: 13px;
}

.row>label>input, .row>label select{
	font-size: 12px;
}

.row>h3{
	font-size: 22px;
}

.left.margem{
	margin-right: 20px;
}
.left.margem>input{
	float: none;
}

@media screen and (min-width: 1026px){
	.menu-main {
		position: fixed;
		width: 100%;
		z-index: 333;
		margin-top: 92px;
		height: 44px;
		background: url('../images/desktop/bg-main-menu.jpg') repeat-x;
	}
	.title-page {
		height: 88px;
		padding-top: 136px;
		background: url("../images/desktop/bg-title-page.jpg") center bottom no-repeat;
	}
	.header-default {
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 72px;
		padding-top: 20px;
		background: url('../images/desktop/bg-header-default.jpg') repeat-x;
	}
}
.center {
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.inline-block {
	list-style: none;
}
.clear {
	clear: both;
}
.inline-block li {
	display: block;
	float: left;
}
.overflow {
	overflow: hidden;
}
.display-none {
	display: none;
}
.display-block {
	display: block;
}
.box-shadow {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.src-desktop {
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
}
.icon-antilhas-cinza-claro {
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -12px -12px;
}
.icon-antilhas-cinza-escuro {
	width: 24px;
	height: 25px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -12px -47px;
}
.icon-help {
	width: 25px;
	height: 25px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -11px -85px;
}
.icon-home {
	width: 23px;
	height: 21px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -11px -122px;
}
.icon-arrow-down {
	width: 14px;
	height: 7px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -14px -160px;
}
.icon-bag {
	width: 28px;
	height: 32px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -6px -182px;
}
.arrow-left {
	width: 35px;
	height: 35px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -9px -236px;
}
.arrow-right {
	width: 35px;
	height: 35px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -9px -296px;
}
.icon-lupa {
	width: 23px;
	height: 23px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -13px -385px;
	display: block;
}
.icon-image {
	width: 40px;
	height: 34px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: -11px -437px;
	display: block;
}
.icon-open {
	width: 34px;
	height: 34px;
	background-position: -13px -520px;
	display: block;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
}
.icon-close {
	width: 34px;
	height: 34px;
	background-position: -12px -579px;
	display: block;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
}
.icon-pdf {
	width: 43px;
	height: 45px;
	display: block;
	background-position: -13px -644px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
}

.icon-file{
	width: 43px;
	height: 45px;
	display: block;
	background-position: -168px -562px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
}


@media screen and (min-width: 1000px) {
	body {
		font: 10px "proximanova-regular";
	}
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.header-default .container {
		position: relative;
	}
	.header-default .header-default-logo {
		float: left;
	}
	.header-default nav {
		float: left;
		margin: 9px 0 0 24px;
	}
	.header-default nav .header-default-menu-fast li {
		height: 29px;
		padding: 0 28px;
		background: url('../images/desktop/marcador-menu.png') right center no-repeat;
	}
	.header-default nav .header-default-menu-fast li a {
		color: #4b4b4b;
		font: 1.4em 'sourcesanspro-regular';
		display: block;
		width: auto;
		line-height: 25px;
		padding-left: 30px;
	}
	.header-default nav .header-default-menu-fast li.borda-none {
		background: none;
	}
	.header-default .header-default-logo-client {
		float: left;
		margin-left: 26px;
		border: 1px solid #eee;
	}
	.header-default .header-default-update-client {
		text-decoration: none;
		color: #4b4b4b;
		float: right;
		display: block;
		font: 1.2em 'sourcesanspro-regular';
		margin-top: 20px;
	}
	.header-default .header-default-update-client span {
		color: #0f3e62;
	}
	.header-default .header-default-update-client.icon-arrow-down {
		width: 164px;
		height: auto;
		margin-top: 5px;
		background-position: 93px -155px;
	}
	.header-default .header-default-sub-menu {
		width: auto;
		padding: 10px 10px 10px 10px;
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
		position: absolute;
		right: 0;
		top: 25px;
		list-style: none;
		display: none;
		z-index: 999;
	}
	.header-default .header-default-sub-menu li {
		margin-bottom: 3px;
		border-bottom: 1px solid #dadada;
	}
	.header-default .header-default-sub-menu li a {
		text-decoration: none;
		color: #4b4b4b;
		font-size: 1.2em;
		height: auto;
	}
	.header-default .header-default-sub-menu li:last-child {
		border-bottom: 0px;
	}
	.header-default .suport {
		height: 82px;
		float: right;
	}

	.menu-main .main {
		float: left;
	}
	.menu-main .main li {
		background: url('../images/desktop/bg-menu-main-marcador.jpg') right center no-repeat;
		position: relative;
	}
	.menu-main .main li.border-none {
		background: none;
	}
	.menu-main .main li a {
		font: 1.4em 'sourcesanspro-regular';
		text-transform: uppercase;
		padding: 13px 19px;
		text-decoration: none;
		color: #ffffff;
		display: block;
	}
	.menu-main .main li a.pedido {
		font: 1.53em 'sourcesanspro-regular';
	}
	.menu-main .main li a.active {
		background: url('../images/desktop/bg-menu-main-hover.jpg') repeat-x;
	}
	.menu-main .main li a:hover {
		color: #64bdff;
	}
	.menu-main .main li ul.submenu {
		display: none;
		background: #ffffff;
		position: absolute;
		top: 44px;
		height: auto;
		padding: 0px 40px 0 20px;
		z-index: 999;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	}
	.menu-main .main li ul.submenu:first-child {
		border-bottom: 0;
	}
	.menu-main .main li ul.submenu li {
		background: none;
		border-bottom: 1px solid #a5a5a5;
		width: 100%;
		white-space: nowrap;
	}
	.menu-main .main li ul.submenu li a {
		padding: 10px 0px 10px 0;
		text-transform: uppercase;
		color: #005595;
	}
	.menu-main .main li ul.submenu li:last-child {
		border-bottom: 0;
	}
	.menu-main .main li ul.submenu li ul.submenu-level-2 {
		overflow: hidden;
		margin-top: -5px;
		display: none;
	}
	.menu-main .main li ul.submenu li ul.submenu-level-2 li {
		border-bottom: 0;
	}
	.menu-main .main li ul.submenu li ul.submenu-level-2 li a {
		padding: 0 0 5px 0;
		font: 1em 'sourcesanspro-regular';
	}
	.menu-main .main li:hover ul {
		display: block;
	}
	.menu-main .shopping-bag {
		float: right;
	}
	.menu-main .shopping-bag li {
		position: relative;
	}
	.menu-main .shopping-bag li a.icon-bag {
		width: auto;
		background-color: #545a6b;
		height: 44px;
		padding: 0 26px 0 64px;
		display: block;
		font: 1.4em 'sourcesanspro-regular';
		color: #ffffff;
		line-height: 45px;
		background-position: 22px -177px;
	}
	.menu-main .shopping-bag li:hover .shopping-bag-products {
		display: block;
	}
	.menu-main .shopping-bag .shopping-bag-products {
		display: none;
		top: 43px;
		right: 0;
		overflow: auto;
		height: 302px;
		position: absolute;
		background: #ffffff;
		padding: 20px;
		z-index: 9999;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	}
	.menu-main .shopping-bag .shopping-bag-products ul {
		overflow: hidden;
	}
	.menu-main .shopping-bag .shopping-bag-products li a {
		display: block;
		width: 373px;
		text-decoration: none;
		color: #393939;
		font-family: 'sourcesanspro-semibold';
		padding: 14px 0;
		border-bottom: 1px solid #393939;
		overflow: hidden;
	}
	.menu-main .shopping-bag .shopping-bag-products li a img {
		border: 1px solid #a5a5a5;
		float: left;
		margin-right: 10px;
	}
	.menu-main .shopping-bag .shopping-bag-products li a h4 {
		margin: 10px 0 6px 0;
		font-size: 1.6em;
		float: left;
	}
	.menu-main .shopping-bag .shopping-bag-products li a .description {
		font-size: 1.4em;
		width: 128px;
		float: left;
	}
	.menu-main .shopping-bag .shopping-bag-products li a .price {
		margin-top: 50px;
		font-size: 1.4em;
		float: right;
	}
	.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-content {
		width: 285px;
		float: left;
	}

	.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-content h4 {
		width: 175px;
	}

	.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final {
		padding-top: 26px;
	}
	.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final p {
		font-family: 'sourcesanspro-semibold';
		font-size: 1.3em;
		color: #393939;
		float: right;
	}
	.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final p span + span {
		font-size: 2.0em;
		padding-left: 32px;
	}
	.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final .btn {
		float: right;
		clear: both;
		margin-top: 30px;
	}
	.banner {
		margin-top: 136px;
	}
	.banner .nav {
		position: relative;
	}
	.banner .nav a {
		display: block;
		position: absolute;
		z-index: 222;
	}
	.banner .nav a#prev {
		top: 242px;
		left: 442px;
	}
	.banner .nav a#next {
		top: 242px;
		right: 442px;
	}
	.banner .pics {
		margin: 0 auto !important;
		width: 100% !important;
	}
	.banner .bx-viewport {
		width: 100% !important;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-color: #f6f6f6;
	}
	.footer-default {
		clear: both;
		height: 60px;
		background: url('../images/desktop/bg-footer.jpg') top center repeat-x;
		text-align: center;
		font-size: 1.4em;
		color: #a5a5a5;
		padding-top: 27px;
	}
	.footer-default a {
		display: inline-block;
		margin-top: 5px;
	}

	.title-page h2 {
		font: 3.2em 'proximanova-bold';
		text-transform: uppercase;
		color: #005595;
		margin: 0;
	}
	.title-page .breadcrumb {
		margin-top: -5px;
		overflow: hidden;
	}
	.title-page .breadcrumb li {
		margin-right: 9px;
	}
	.title-page .breadcrumb li a {
		font: 1.4em 'sourcesanspro-regular' !important;
		color: #ffffff;
	}
	.title-page .breadcrumb li a.active {
		font: 1.4em 'sourcesanspro-bold';
		text-decoration: underline;
	}
	.title-page .breadcrumb li + li:before {
		content: ">";
		color: #ffffff;
		font: 1.4em 'sourcesanspro-regular';
		margin-right: 9px;
	}
	.controls .container {
		padding: 15px 0;
		overflow: hidden;
	}
	.container>form>.row:first-child{
		margin-bottom: 10px;
	}

	.controls .container .filter {
		overflow: hidden;
	}
	.controls .container h3 {
		color: #393939;
		font: 2.2em 'sourcesanspro-semibold';
		margin-bottom: 5px;
	}
	.table {
		width: 100%;
		list-style: none;
	}
	.table .btn {
		font: 1em 'proximanova-bold';
	}
	.table .theader {
		background-color: #404451;
		padding: 8px 0;
		text-align: center;
	}
	.table .theader .coluns {
		overflow: hidden;
	}
	.table .theader .coluns li {
		font: 1.35em 'sourcesanspro-semibold';
		color: #ffffff;
		border: 0;
		vertical-align: middle;
		display: table-cell;
	}
	.table .tbody {
		width: 100%;
		background-color: #efefef;
	}
	.table .tbody .coluns {
		overflow: hidden;
	}
	.table .tbody .coluns li {
		font: 1.1em 'sourcesanspro-semibold';
		color: #4b4b4b;
		padding-top: 5px;
		padding-bottom: 10px;
		vertical-align: middle;
		display: table-cell;
		word-break:break-all;
	}
	.table .tbody.no-bg {
		background-color: #ffffff;
	}
	.table .col-btn-two a {
		margin-left: 15px;
	}
	.table .col-btn-two a + a {
		margin-right: 15px;
		margin-left: 0;
	}
	.title-default {
		font: 2.2em 'sourcesanspro-semibold';
		color: #393939;
	}
	.content-pagination {
		background-color: #efefef;
	}
	.content-pagination .container {
		height: 81px;
		padding-top: 45px;
	}
	.pagination {
		width: auto;
		display: table;
		overflow: hidden;
	}
	.pagination li a {
		width: 26px;
		height: 25px;
		color: #4b4b4b;
		font-size: 1.3em;
		font-family: 'arial';
		font-weight: bold;
		display: block;
		text-align: center;
		line-height: 25px;
	}
	.pagination li a:hover,
	.pagination li a.active {
		background-color: #003d6a;
		color: #ffffff;
	}
	.pagination li a.no-hover {
		width: auto;
		margin: 0 10px;
	}
	.pagination li a.no-hover:hover,
	.pagination li a.no-hover.active {
		background-color: #efefef;
		color: #003d6a;
	}
	.list-products {
		height: 90px;
		background-color: #efefef;
	}
	.list-products ul {
		margin-top: 8px;
		margin-right: 218px;
		float: right;
	}
	.list-products ul li {
		position: relative;
		margin-left: 10px;
	}
	.list-products ul li a img {
		border: 1px solid #dadada;
	}
	.list-products ul li a:hover .tooltip {
	}
	.tooltip {
		position: absolute;
		width: 315px;
		height: auto;
		top: 89px;
		right: -88px;
		display: none;
		z-index: 999;
		-webkit-box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
		-moz-box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
		box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
	}
	.tooltip .tooltip-content {
		width: 210px;
		border: 1px solid #dadada;
		float: right;
		padding: 42px 54px 37px 30px;
		background-color: #ffffff;
	}
	.tooltip .tooltip-content ul {
		list-style: none;
		margin-top: 0;
		margin-right: 0;
	}
	.tooltip .tooltip-content ul li {
		margin-left: 0;
		color: #393939;
		font: 1.6em 'sourcesanspro-regular';
	}
	.tooltip .tooltip-content ul li strong {
		font-family: 'sourcesanspro-regular';
	}
	.tooltip .tooltip-content h5 {
		font: 2em 'sourcesanspro-regular';
		color: #393939;
		margin-bottom: 20px;
	}
	.tooltip .tooltip-arrow {
		background-image: url('../images/desktop/arrow-tooltip.png');
		background-repeat: no-repeat;
		width: 27px;
		height: 33px;
		z-index: 888;
		position: absolute;
		margin-top: -18.5px;
		left: 50%;
	}
	.amount {
		padding: 14px 0;
		background: #005595;
		overflow: hidden;
	}
	.amount h4 {
		font: 2.4em 'sourcesanspro-semibold';
		text-transform: uppercase;
		color: #ffffff;
		float: left;
	}
	.amount span {
		width: 166px;
		height: 33px;
		background: #ffffff;
		display: block;
		line-height: 33px;
		font: 2.4em 'sourcesanspro-regular';
		color: #393939;
		text-align: center;
		float: right;
	}
	.alerta {
		display: block;
		font: 1.4em 'sourcesanspro-semibold';
		color: #393939;
		padding: 30px 0;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	.row-space {
		height: 33px;
	}
	.input {
		border: 1px solid #929292;
		height: 26px;
		font-size: 1.8em;
		padding-left: 5px;
	}
	.input-2 {
		border: 2px solid #404451;
		height: 29px;
		font: 1.2em 'proximanova-bold';
		padding: 0 19px;
		text-transform: uppercase;
		color: #393939;
	}
	.input-2.off {
		border: 2px solid #a5a5a5;
	}
	.input-2.margem {
		margin-left: 20px;
	}
	input {
		border-radius: 0;
	}
	.select {
		background: url("../images/desktop/bg-select.png") 95% no-repeat;
		border: 2px solid #404451;
		overflow: hidden;
	}
	.select select {
		text-transform: uppercase;
		color: #393939;
		font: 1.2em 'proximanova-bold';
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 0;
		background: transparent;
		width: 115%;
		margin: 6px 14px;
		display: block;
	}
	.select-1 {
		width: 110px;
	}
	.select-2 {
		width: 160px;
	}
	.select-3 {
		width: 212px;
	}
	.select-4 {
		width: 136px;
	}
	.select-5 {
		width: 260px;
	}
	.select-6 {
		width: 340px;
	}
	.select-7 {
		width: 156px;
	}
	.select-8 {
		width: 178px;
	}
	.select-9 {
		width: 537px;
	}  
	.input-size-1 {
		width: 498px;
	}
	.input-size-2 {
		width: 209px;
	}
	.input-size-3 {
		width: 40px;
	}
	.input-size-4 {
		width: 124px;
	}
	.input-size-5 {
		width: 117px;
	}
	.input-size-6 {
		width: 74px;
	}
	.input-size-7 {
		width: 129px;
	}
	.input-size-8 {
		width: 174px;
	}
	.input-size-9 {
		width: 56px;
	}
	.form {
		width: 541px;
		margin: 0 auto;
	}

	.textarea {
		border: 2px solid #404451;
		font: 1.2em 'proximanova-bold';
		text-transform: uppercase;
		color: #393939;
		padding: 10px 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.textarea-size-1 {
		max-width: 496px;
		width: 496px;
		max-height: 130px;
		height: 130px;
	}
	.table .input {
		font-size: 1.0em;
	}
	.btn {
		border: 2px solid #005595;
		text-transform: uppercase;
		color: #005595;
		font: 1.2em 'proximanova-bold';
		padding: 7px 17px;
		background: none;
		cursor: pointer;
	}
	.btnc {
		border: 2px solid #005595;
		text-transform: uppercase;
		color: #005595;
		font: 1.2em 'proximanova-bold';
		padding: 7px 17px;
		background: none;
		cursor: pointer;
	}
	.btn sup {
		text-transform: lowercase;
	}
	.floatThead-container{
		overflow:visible !important;
	}
}

@media print {

	nav {display: none;}
	.header-default-logo-client {display: none;}
	.suport {display: none;}
	.breadcrumb {display: none;}
	table a.btn {visibility: visible; color: #005595; text-transform: uppercase;}
	a.btn {visibility: hidden;}
	/* FOOTER */
	footer {display: none;}

	/* MEUS PEDIDOS DETALHE */
	.request-detail {
		width: 694px;
		margin: 36px auto;
	}
	.table-request-detail {
		width: 100%;
		border: 1px solid #e7e7e7;
		margin-bottom: 45px;
		border-collapse: collapse;
	}
	.table-request-detail tr td {
		vertical-align: middle;
		text-align: center;
		font-family: 'sourcesanspro-semibold';
		color: #393939;
		border: 1px solid #e7e7e7;
	}
	.table-request-detail thead.main-head tr td {
		height: 46px;
		background-color: #404451;
		color: #ffffff;
		font-size: 1.2em;
	}
	.table-request-detail thead.sub-head tr td {
		height: 31px;
		color: #dadada !important;
		font-size: 1.2em !important;
	}
	.table-request-detail tbody tr td {
		height: 49px;
		font-size: 1em !important;
	}
	.table-request-detail tbody tr td.num-pedido {
		font-size: 1em !important;
		color: #1089e3;
	}
	.table-request-detail tbody tr td .btn {
		font: 0.8em 'proximanova-bold' !important;
	}

	.title-page {
		height: 70px;
		padding-top: 18px;
		background: url("../images/desktop/bg-title-page.jpg") center top no-repeat;
	}
	.title-page h2 {
		font: 2em 'proximanova-bold' !important;
		text-transform: uppercase;
		color: #005595;
		margin: 0;
	}

	/* STYLES */
	.controls .container {
		padding: 42px 0;
		overflow: hidden;
	}
	.controls .container .filter {
		overflow: hidden;
	}
	.controls .container h3 {
		color: #393939;
		font: 1.2em 'sourcesanspro-semibold' !important;
		margin-bottom: 5px;
	}
	.table {
		width: 100%;
		list-style: none;
	}
	.table .theader {
		background-color: #404451;
		padding: 25px 0;
		text-align: center;
	}
	.table .theader .coluns {
		overflow: hidden;
	}
	.table .theader .coluns li {
		font: 1.2em 'sourcesanspro-semibold' !important;
		color: #ffffff;
		border: 0;
		vertical-align: middle;
		display: table-cell;
	}
	.table .tbody {
		width: 100%;
		background-color: #efefef;
	}
	.table .tbody .coluns {
		overflow: hidden;
	}
	.table .tbody .coluns li {
		font: 1.3em 'sourcesanspro-semibold';
		color: #4b4b4b;
		padding-top: 20px;
		padding-bottom: 20px;
		vertical-align: middle;
		display: table-cell;
	}
	.table .tbody.no-bg {
		background-color: #ffffff;
	}
	.table .col-btn-two a {
		margin-left: 15px;
	}
	.table .col-btn-two a + a {
		margin-right: 15px;
		margin-left: 0;
	}
}

.error{
	position: relative;
	font-size: 8pt;
}


.modal-start, .modal-light{
	position: fixed;
    top: 150px;
    left: calc(50% - 225px);
    z-index: 2;
	max-width: 450px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
}

.modal-light.light {
	max-width: 750px;
	left: calc(50% - 375px);
}

.header-modal-start, .header-modal-light{
	padding: 10px 15px 5px 5px;
	width: 100%;

}


.header-modal-start p,
.header-modal-light p {
	margin-right: 15px;
	text-align: right;
	font-size: 12pt;
	text-transform: uppercase;
	font-family: 'proximanova-bold';
	cursor: pointer;
}

.conteudo-modal-start{
	padding: 40px 50px 50px 50px;
}

.conteudo-modal-start p{
	padding-bottom: 20px;
	font-size: 12pt;
	text-align: center;
}


.conteudo-modal-start input[type="text"]{
	border: none;
	height: 50px;
	color: #434343;
	text-transform: uppercase;
	width: 78%;
	border: 3px solid #434343;
	padding-left: 10px;
}

.conteudo-modal-start input[type="submit"]{
	width: 50px;
	height: 50px;
	border: none;
	background: url("../images/btn-enter.png");
	background-position: center center;
	color: transparent;
	margin-left: 10px;
	text-transform: uppercase;
}


.mascara{
	background-color: rgba(0,0,0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 99999;
}

@media (max-width:1200px){
	body .modal-start{
		top: -900px;

	}
}

@media (max-width: 450px){
	.conteudo-modal-start input[type="text"]{
		width: 100%;
		margin-bottom: 20px;
	}

	.conteudo-modal-start input[type="submit"]{
		width: 150px!important;
		height: 60px!important;
		border: none;
		background: #005595 !important;
		color: #fff!important;
		background-position: center center;
		margin: 0 auto !important;
		display: block;

	}

	.conteudo-modal-start p{
		padding-top: 20px;
	}
}

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.eot?60545592');
      src: url('../fonts/fontello.eot?60545592#iefix') format('embedded-opentype'),
           url('../fonts/fontello.woff?60545592') format('woff'),
           url('../fonts/fontello.ttf?60545592') format('truetype'),
           url('../fonts/fontello.svg?60545592#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

.demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

  .menu-main .shopping-bag li a.icon-bag{
  	    padding: 0px 15px 0 54px!important;
  	    background-position: 8px -177px !important;
  }

  @media(max-width: 1024px){
  	.menu-main .shopping-bag .shopping-bag-products {
		display: none;
		top: -343px;
		right: 0;
		overflow: auto;
		height: 302px;
		position: absolute;
		background: #ffffff;
		padding: 20px;
		z-index: 9999;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
	}
  }

  /* Alterações */

  .sair{ /*font-size: 1.2em;*/ text-decoration: none; padding-right: 5px; color: #4b4b4b;}
  .sair:active,.sair:visited{color: #444;}

.menu-main .main li ul.submenu li .item-submenu {
    position: absolute;
    top: 0px;
	background-color: #fcfcfc;
	display: none;
	right: -130px;
    padding: 0 35px;
}

.acesso:hover ~ .item-submenu {display:block!important;}
.item-submenu:hover {display:block!important;}
 
.ouvidoria {
	background-color: #B43000;
	color:#fff!important;
	height: 30px;
}

.ouvidoria a{
	color:#fff!important;
}
.ouvidoria  ul {
	display: table;
	position: relative;
	float: right;
	padding:  5px;
}

.ouvidoria ul li{
	display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
	font-size: 10pt;
}

.ouvidoria ul li:last-child{
	text-decoration: underline;
	cursor: pointer;
}


.swal2-confirm{
	margin-right: 10px!important;
}
