@media screen and (max-width: 1025px){
.menu-main {
  height: 78px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: url('../images/tablet/bg-main-menu.jpg') repeat-x;
  z-index:9999;
}
/*.amount{
  position:fixed;
  bottom:79px;
}*/

.amount{
  position:absolute;
  bottom:179px;
}
.header-default {
  height: 82px;
  padding-top: 30px;
  background: url('../images/desktop/bg-header-default.jpg') repeat-x;
}
.title-page{
  height: 92px;
  padding-left: 2%;
  background: url("../images/desktop/bg-title-page.jpg") center top no-repeat;
  }
  .banner{
    padding-top: 0;
    margin-top: 0;
  }
  .footer-default{
	position:absolute;
	bottom:70px;
 }
}
@media screen and (min-width: 758px) and (max-width: 1025px) and (orientation : landscape) {
  body{
    padding-bottom: 102px;
    margin-bottom:86px;
  }
  .footer-default{
  	bottom:43px;
  }	
  .menu-main .main li>ul.submenu{
    position: absolute;
    bottom: 44px;
    top: auto;
  }
  .menu-main {
    height: 44px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: url('../images/tablet/bg-main-menu.jpg') repeat-x;
    z-index:9999;
  }
  .amount{
  position:fixed;
  bottom:42px;
}
.amount>.container{
  width: 95%;
  margin:0 auto;
}
}
@media screen and (max-width: 999px) {
  .base{
    width: 100%;
  }
.center {
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inline-block {
  list-style: none;
}
.inline-block li {
  display: block;
  float: left;
}
.overflow {
  overflow: hidden;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
body {
  font: 10px "proximanova-regular";
  padding-bottom: 78px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.src-desktop {
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
}
.icon-antilhas-cinza-claro {
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -12px -12px;
}
.icon-antilhas-cinza-escuro {
  width: 24px;
  height: 25px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: 10px -47px;
}
.icon-help {
  width: 25px;
  height: 25px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -8px -85px;
}
.icon-home {
  width: 23px;
  height: 21px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: 15px -122px;
}
.icon-arrow-down {
  width: 14px;
  height: 7px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -14px -160px;
}
.icon-bag {
  width: 28px;
  height: 32px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -6px -182px;
}
.arrow-left {
  width: 35px;
  height: 35px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -9px -236px;
}
.arrow-right {
  width: 35px;
  height: 35px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -9px -296px;
}
.icon-lupa {
  width: 23px;
  height: 23px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -13px -385px;
  display: block;
}
.row {
  overflow: hidden;
  margin-bottom: 20px;
}
.row-space {
  height: 33px;
}
input {
  border-radius: 0;
}
.input {
  border: 1px solid #929292;
  height: 26px;
  font-size: 1.8em;
  padding-left: 5px;
}
.input-2 {
  border: 2px solid #404451;
  height: 29px;
  font: 1.2em 'proximanova-bold';
  padding-left: 19px;
  text-transform: uppercase;
  color: #393939;
}
.input-2.off {
  border: 2px solid #a5a5a5;
}
.input-2.margem {
  margin-left: 20px;
}
.select {
  background: url("../images/desktop/bg-select.png") 95% no-repeat;
  border: 2px solid #404451;
  overflow: hidden;
}
.select select {
  text-transform: uppercase;
  color: #393939;
  font: 1.2em 'proximanova-bold';
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  width: 115%;
  margin: 6px 14px;
}
.select-1 {
  width: 120px;
}
.select-2 {
  width: 160px;
}
.select-3 {
  width: 212px;
}
.select-4 {
  width: 136px;
}
.select-5 {
  width: 247px;
}
.select-6 {
  width: 340px;
}
.input-size-1 {
  width: 517px;
}
.input-size-2 {
  width: 228px;
}
.input-size-3 {
  width: 59px;
}
.input-size-4 {
  width: 143px;
}
.input-size-5 {
  width: 136px;
}
.form {
  width: 541px;
  margin: 0 auto;
}
.textarea {
  border: 2px solid #64bdff;
  font: 1.2em 'proximanova-bold';
  text-transform: uppercase;
  color: #393939;
  padding: 10px 20px;
}
.textarea-size-1 {
  max-width: 496px;
  width: 496px;
  max-height: 130px;
  height: 130px;
}
.btn {
  border: 2px solid #005595;
  text-transform: uppercase;
  color: #005595;
  font: 1.2em 'proximanova-bold';
  padding: 7px 17px;
  background: none;
  cursor: pointer;
}
.btn sup {
  text-transform: lowercase;
}
@font-face {
  font-family: 'proximanova-regular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sourcesanspro-regular';
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sourcesanspro-semibold';
  src: url('../fonts/sourcesanspro-semibold-webfont.eot');
  src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'), url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro-semibold-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header-default .container {
  position: relative;
}
.header-default .header-default-logo {
  float: left;
  margin-left: 2%;
}
.header-default nav {
  float: left;
  margin: 9px 0 0 24px;
}
.header-default nav .header-default-menu-fast li {
  height: 29px;
  padding: 0 20px;
}
.header-default nav .header-default-menu-fast li a {
  color: #4b4b4b;
  font: 1.4em 'sourcesanspro-regular';
  display: block;
  width: auto;
  line-height: 80px;
}
.header-default nav .header-default-menu-fast li.borda-none {
  background: none;
}
.header-default .header-default-logo-client {
  float: left;
}
.header-default .header-default-update-client {
  text-decoration: none;
  color: #4b4b4b;
  float: right;
  display: block;
  font: 1.2em 'sourcesanspro-regular';
  /*margin-top: 20px;*/
}
.header-default .header-default-update-client span {
  color: #0f3e62;
}
.header-default .header-default-update-client.icon-arrow-down {
  width: 163px;
  height: auto;
  background-position: 93px -155px;
}
.header-default .header-default-sub-menu {
  width: 108px;
  padding: 10px 0 10px 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  position: absolute;
  right: 0;
  top: 38px;
  list-style: none;
  display: none;
  z-index: 999;
}
.header-default .header-default-sub-menu li {
  margin-bottom: 3px;
}
.header-default .header-default-sub-menu li a {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1.2em;
  height: auto;
  border-bottom: 1px solid #dadada;
}
.header-default .header-default-sub-menu li a.border-none {
  border: 0;
}
.header-default .suport {
  height: 82px;
  float: right;
  margin-right: 3%;
}

.menu-main .main {
  float: left;
}
.menu-main .main li {
  background: url('../images/desktop/bg-menu-main-marcador.jpg') right center no-repeat;
  position: relative;
  height: 78px;
}
.menu-main .main li.border-none {
  background: none;
}
.menu-main .main li a {
  font: 1.4em 'sourcesanspro-regular';
  padding: 31px 19px 0;
  line-height: 58px;
  height: 18px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  background: url('../images/icons.png') repeat;
}
.menu-main .main li.active {
  background: url('../images/tablet/bg-menu-main-hover.jpg') repeat-x;
}

.menu-main .main li a.pedido {
   background-position: 31px -718px;
}

.menu-main .main li a.produtos {
  background-position: 12px -780px;
}

.menu-main .main li a.produtos:hover {
  background-position: -138px -780px;
}

.menu-main .main li a.comunicados {
  background-position: 25px -832px;
}

.menu-main .main li a.comunicados:hover {
  background-position: -125px -832px;
}

.menu-main .main li a.relatorios {
  background-position: 11px -888px;
}

.menu-main .main li a.relatorios:hover {
  background-position: -139px -888px;
}

.menu-main .main li a.atendimento {
  background-position: 49px -951px;
}

.menu-main .main li a.atendimento:hover {
  background-position: -101px -951px;
}

.menu-main .main li ul.submenu {
  display: none;
  background: #ffffff;
  position: absolute;
  bottom: 78px;
  width: auto;
  height: auto;
  padding: 0px 20px 0 20px;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.menu-main .main li ul.submenu li {
  background: none;
  height: auto;
  white-space: nowrap;
  width: 100%;
}
.menu-main .main li ul.submenu li a {
  padding: 10px 0 10px 0;
  background: none;
  line-height: 25px;
  text-transform: uppercase;
  color: #005595;
  border-bottom: 1px solid #a5a5a5;
}
.menu-main .main li ul.submenu li a:hover {
  background: none;
}
.menu-main .main li ul.submenu li a.border-none {
  border-bottom: 0;
}
.menu-main .main li:hover ul {
  display: block;
}
.menu-main .shopping-bag {
  float: right;
}
.menu-main .shopping-bag li {
  position: relative;
  background-color: #545a6b;
  height: 78px;
}
.menu-main .shopping-bag li a.icon-bag {
  padding: 20px 26px 0;
  width: 100px;
  display: block;
  font: 1.4em 'sourcesanspro-regular';
  color: #ffffff;
  line-height: 78px;
  background-position: 29px -1010px;
}
.menu-main .shopping-bag li:hover .shopping-bag-products {
  display: block;
}
.menu-main .shopping-bag .shopping-bag-products {
  display: none;
  bottom: 78px;
  overflow: auto;
  height: 302px;
  right: 0;
  position: absolute;
  background: #ffffff;
  padding: 20px;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.menu-main .shopping-bag .shopping-bag-products span {
  display: block;
}

.menu-main .shopping-bag .shopping-bag-products ul {
  overflow: hidden;
}

.menu-main .shopping-bag .shopping-bag-products li {
  height: auto;
}

.menu-main .shopping-bag .shopping-bag-products li a {
  display: block;
  width: 373px;
  text-decoration: none;
  color: #393939;
  font-family: 'sourcesanspro-semibold';
  padding: 14px 0;
  border-bottom: 1px solid #393939;
  background-color: #FFF;
  overflow: hidden;
}
.menu-main .shopping-bag .shopping-bag-products li a img {
  border: 1px solid #a5a5a5;
  float: left;
  margin-right: 10px;
}
.menu-main .shopping-bag .shopping-bag-products li a h4 {
  margin: 10px 0 6px 0;
  font-size: 1.6em;
  float: left;
}
.menu-main .shopping-bag .shopping-bag-products li a .description {
  font-size: 1.4em;
  width: 128px;
  float: left;
}
.menu-main .shopping-bag .shopping-bag-products li a .price {
  margin-top: 50px;
  font-size: 1.4em;
  float: right;
}
.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-content {
  width: 285px;
  float: left;
}

.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-content h4 {
  width: 175px;
}

.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final {
  padding-top: 26px;
}
.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final p {
  font-family: 'sourcesanspro-semibold';
  font-size: 1.3em;
  color: #393939;
  float: right;
}
.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final p span + span {
  font-size: 2.0em;
}
.menu-main .shopping-bag .shopping-bag-products .shopping-bag-products-price-final .btn {
  float: right;
  clear: both;
  margin-top: 30px;
}
.banner {

   display: none;

}

.slide-responsive{

   display: none;

}
.banner .nav {
  position: relative;
}
.banner .nav a {
  display: block;
  position: absolute;
  z-index: 9999;
}
.banner .nav a#prev {
  top: 242px;
  left: 45%;
}
.banner .nav a#next {
  top: 242px;
  right: 45%;
}
.banner .pics {
  margin: 0 auto !important;
  width: 100% !important;
}
.banner .pics div {
  width: 100% !important;
  height: 285px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto !important;
}
.footer-default {
    clear: both;
    height: 60px;
    background: url('../images/desktop/bg-footer.jpg') top center repeat-x;
    text-align: center;
    font-size: 1.4em;
    color: #a5a5a5;
    padding-top: 27px;
    width: 100%;
  }
  .footer-default a {
    display: inline-block;
    margin-top: 5px;
  }
.title-page {
  height: 88px;
  padding-left: 2%;
  background: url("../images/desktop/bg-title-page.jpg") center top no-repeat;
}
.title-page h2 {
  font: 3.2em 'proximanova-bold';
  text-transform: uppercase;
  color: #005595;
  margin: 0;
}
.title-page .breadcrumb {
  margin-top: -5px;
  overflow: hidden;
}
.title-page .breadcrumb li {
  margin-right: 9px;
}
.title-page .breadcrumb li a {
  font: 1.4em 'sourcesanspro-regular';
  color: #ffffff;
}
.title-page .breadcrumb li a.active {
  font: 1.4em 'sourcesanspro-bold';
  text-decoration: underline;
}
.title-page .breadcrumb li + li:before {
  content: ">";
  color: #ffffff;
  font: 1.4em 'sourcesanspro-regular';
  margin-right: 9px;
}
.controls .container {
  padding: 18px 0;
  overflow: hidden;
  width:95%;
}
.controls .container .filter {
  overflow: hidden;
}
.controls .container h3 {
  color: #393939;
  font: 2.2em 'sourcesanspro-semibold';
  margin-bottom: 5px;
}
.table {
  width: 100%;
  list-style: none;
}
.table .btn {
  font: 1em 'proximanova-bold';
}
.table .theader {
  background-color: #404451;
  padding: 0px 0;
  text-align: center;
}
.table .theader .coluns {
  overflow: hidden;
}
.table .theader .coluns li {
  font: 1.35em 'sourcesanspro-semibold';
  color: #ffffff;
  border: 0;
  float: left;
  list-style: none;
  display: table-cell;
  width: 11%;
  padding: 10px 0;
}
.table .tbody {
  display: table;
  width: 100%;
  background-color: #efefef;
}
.table .tbody .coluns {
  overflow: hidden;
}
.table .tbody .coluns li {
  font: 1.3em 'sourcesanspro-semibold';
  color: #4b4b4b;
  height: 62px !important;
  display: table-cell;
  float: left;
  padding-top: 5px;
  width: 11%;
  vertical-align: middle;
  word-break:break-all;
}
.table .tbody.no-bg {
  background-color: #ffffff;
}
.table .col-btn-two a {
  margin-left: 15px;
}
.table .col-btn-two a + a {
  margin-right: 15px;
  margin-left: 0;
}
.table .btn {
  margin-top: 12px;
}
.title-default {
  font: 2.2em 'sourcesanspro-semibold';
  color: #393939;
}
.content-pagination {
    background-color: #efefef;
}
.content-pagination .container {
  height: 81px;
  padding-top: 45px;
}
.pagination {
  width: auto;
  display: table;
  overflow: hidden;
  margin: 0 auto;
}
.pagination li a {
  width: 26px;
  height: 25px;
  color: #4b4b4b;
  font-size: 1.3em;
  font-family: 'arial';
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 25px;
}
.pagination li a:hover,
.pagination li a.active {
  background-color: #003d6a;
  color: #ffffff;
}
.pagination li a.no-hover {
  width: auto;
  margin: 0 10px;
}
.pagination li a.no-hover:hover,
.pagination li a.no-hover.active {
  background-color: #efefef;
  color: #003d6a;
}
.list-products {
  height: 90px;
  background-color: #efefef;
}
.list-products ul {
  margin-top: 8px;
  margin-right: 218px;
  float: right;
}
.list-products ul li {
  position: relative;
  margin-left: 10px;
}
.list-products ul li a img {
  border: 1px solid #dadada;
}
.list-products ul li a:hover .tooltip {
  display: block;
}
  .tooltip {
    position: absolute;
    width: 315px;
    height: auto;
    top: 89px;
    right: -88px;
    display: none;
    z-index: 999;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
    box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
  }
  .tooltip .tooltip-content {
    width: 210px;
    border: 1px solid #dadada;
    float: right;
    padding: 42px 54px 37px 30px;
    background-color: #ffffff;
  }
  .tooltip .tooltip-content ul {
    list-style: none;
    margin-top: 0;
    margin-right: 0;
  }
  .tooltip .tooltip-content ul li {
    margin-left: 0;
    color: #393939;
    font: 1.6em 'sourcesanspro-regular';
  }
  .tooltip .tooltip-content ul li strong {
    font-family: 'sourcesanspro-regular';
  }
  .tooltip .tooltip-content h5 {
    font: 2em 'sourcesanspro-regular';
    color: #393939;
    margin-bottom: 20px;
  }
  .tooltip .tooltip-arrow {
    background-image: url('../images/desktop/arrow-tooltip.png');
    background-repeat: no-repeat;
    width: 27px;
    height: 33px;
    z-index: 888;
    position: absolute;
    margin-top: -18.5px;
    left: 50%;
  }
.amount {
  padding: 14px 0;
  background: #005595;
  overflow: hidden;
  width: 100%;
}
.amount h4 {
  font: 2.4em 'sourcesanspro-semibold';
  text-transform: uppercase;
  color: #ffffff;
  float: left;
}
.amount span {
  width: 166px;
  height: 33px;
  background: #ffffff;
  display: block;
  line-height: 33px;
  font: 2.4em 'sourcesanspro-bold';
  color: #393939;
  text-align: center;
  float: right;
}
.row {
  overflow: hidden;
  margin-bottom: 20px;
}
.row-space {
  height: 33px;
}
.input {
  border: 1px solid #929292;
  height: 26px;
  font-size: 1.8em;
  padding-left: 5px;
}
.input-2 {
  border: 2px solid #404451;
  height: 29px;
  font: 1.2em 'proximanova-bold';
  padding: 0 19px;
  text-transform: uppercase;
  color: #393939;
}
.input-2.off {
  border: 2px solid #a5a5a5;
}
.input-2.margem {
  margin-left: 20px;
}
.select {
  background: url("../images/desktop/bg-select.jpg") 95% no-repeat;
  border: 2px solid #404451;
  overflow: hidden;
}
.select select {
  text-transform: uppercase;
  color: #393939;
  font: 1.2em 'proximanova-bold';
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  width: 115%;
  margin: 6px 14px;
}
.select-1 {
  width: 115px;
}
.select-2 {
  width: 160px;
}
.select-3 {
  width: 212px;
}
.select-4 {
  width: 136px;
}
.select-5 {
  width: 247px;
}
.select-6 {
  width: 340px;
}
.select-7 {
  width: 156px;
}
.input-size-1 {
  width: 498px;
}
.input-size-2 {
  width: 209px;
}
.input-size-3 {
  width: 40px;
}
.input-size-4 {
  width: 124px;
}
.input-size-5 {
  width: 117px;
}
.input-size-6 {
  width: 74px;
}
.input-size-7 {
  width: 129px;
}
.input-size-8 {
  width: 174px;
}
.input-size-9 {
  width: 56px;
}
.form {
  width: 541px;
  margin: 0 auto;
}
.textarea {
  border: 2px solid #404451;
  font: 1.2em 'proximanova-bold';
  text-transform: uppercase;
  color: #393939;
  padding: 10px 20px;
}
.textarea-size-1 {
  max-width: 496px;
  width: 496px;
  max-height: 130px;
  height: 130px;
}
.table .input {
  font-size: 1.0em;
}
	
.fixed-table-spacing .input {
  font-size: 1.0em;
}
	
.btn {
  border: 2px solid #005595;
  text-transform: uppercase;
  color: #005595;
  font: 1.2em 'proximanova-bold';
  padding: 7px 17px;
  background: none;
  cursor: pointer;
}
.btn sup {
  text-transform: lowercase;
}
.floatThead-container{
    overflow:visible !important;
  }
}

@media screen and (max-width: 768px){
  .amount{
  position:absolute!important;
  /*bottom:160px!important;*/
}

}