
@media (max-width: 768px) {

	.videos iframe {
	    width: 100%;
	    height: 100%;
	    max-width: 600px;
	    min-width: 0!important;
	    max-height: 500px;
	    min-height: 404px;
	    display: block;
	    margin: 0 auto;
	}

	.videos .videos-main {
   		padding: 0 19px 0 19px !important;
    	overflow: hidden;
	
	}

	.videos {
    	padding: 47px 19px 0px 19px !important;
	}

	.responsivo ul li {
	    padding-bottom: 20px!important;
	}

	.footer-default {
	    position: absolute;
	    bottom: 0!important;
	}

}