@media screen and (max-width: 999px) {
  .constrols-book-products li {
    margin-right: 19px;
  }
  .constrols-book-products .filter-book-products,
  .constrols-book-products .title-default {
    margin-left: 19px;
  }
  .pagination {
    margin: 0 auto;
  }
  .book-products {
    overflow: hidden;
    padding: 30px 0 0 0;
    background-color: #efefef;
  }
  .book-products ul {
    overflow: hidden;
  }
  .book-products ul li {
    width: 154px;
    height: 353px;
    margin: 0 19px 78px 19px;
  }
  .book-products ul li img {
    border: 1px solid #dadada;
    margin-bottom: 27px;
  }
  .book-products ul li h4 {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
  }
  .book-products ul li span {
    font: 1.4em 'sourcesanspro-bold';
    color: #64bdff;
  }
  .book-products ul li p {
    font: 1.4em 'sourcesanspro-regular';
    display: block;
    height: 50px;
    margin: 20px 0 35px 0;
    width: 154px;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
