@media screen and (max-width: 999px) {
  .table .tbody .coluns>li{
    border-right: 1px solid #393939;
    text-align: center;
  }
 .table .theader .coluns .col-1,  .table .tbody .coluns .col-1{
    width: 12%;
  }
 .table .theader .coluns .col-2,  .table .tbody .coluns .col-2{
    width: 13%;
  }
 .table .theader .coluns .col-3,  .table .tbody .coluns .col-3{
    width: 13%;
  }
  .table .theader .coluns .col-4,  .table .tbody .coluns .col-4{
    width: 10%;
  }
  .table .theader .coluns .col-5,  .table .tbody .coluns .col-5{
    width: 29%;
  }
 .table .theader .coluns .col-6,  .table .tbody .coluns .col-6{
    width: 15%;
  }
  .table .theader .coluns .col-6 a,  .table .tbody .coluns  .col-6 a{
    margin-left: 10px;
  }
  .table .theader .coluns .col-6 a + a {
    margin-left: 0;
    display: none;
  }
  .filter-danfe li {
    margin-right: 5px;
    height: 33px;
    margin-bottom: 20px;
  }''
  .pagination {
    margin: 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
