@media screen and (max-width: 1025px){
.amount{
  position:fixed;
  bottom:78px;
  width:100%;
  z-index:5;
}
.amount>.container{
    width:91%;
  }
}
@media screen and (min-width: 758px) and (max-width: 1025px) and (orientation : landscape) {
  .amount{
    bottom:42px;
  }
}
@media screen and (max-width: 999px) {
  

  .center {
    margin: 0 auto;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .inline-block {
    list-style: none;
  }
  .clear {
    clear: both;
  }
  .inline-block li {
    display: block;
    float: left;
  }
  .overflow {
    overflow: hidden;
  }
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  .box-shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }
  .filter-fazer-pedido-grade li {
    margin-right: 20px;
  }
  /*.tbody .col-1, .tbody .col-2, .tbody .col-3, .tbody .col-4
	{
		background-color: @darck-gray;
		color: @white;
	}*/
  .col-1 {
    width: 65px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-2 {
    width: 69px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-3 {
    width: 35px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-4 {
    width: 75px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-5 {
    width: 63px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-6 {
    width: 67px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-7 {
    width: 85px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-8 {
    width: 90px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-9 {
    width: 90px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-10 {
    width: 103px;
    text-align: center;
  }

  .col-1, .col-2, .col-3, .col-4 {
    color: #FFF !important;
  }

  .table.table-fazer-pedido-grade li.tbody {
    background: url(../../images/desktop/bg-table.jpg) bottom center;
  }

  .table.table-fazer-pedido-grade li.tbody.no-bg {
    background: url(../../images/desktop/bg-table-nobg.jpg) bottom center;
  }

  .table.table-fazer-pedido-grade .theader .coluns li {
    font: 1.8em 'sourcesanspro-semibold';
  }
  .amount {
    background: #6980c6;
  }

  .table.table-fazer-pedido-grade .input-size-9 {
    width: 45px;
  }

 .table.table-fazer-pedido-grade .coluns li:last-child {
    border-right: 0;
  }
  .controls>.container>figure{
    overflow: hidden;
    float: right;
  }
.controls>.container>form{
  float: left;
  overflow: hidden;
}
.controls+div{
  position:relative;
}

table.absolute , table.produtos {float:left;text-align: center;}
table.absolute {width: 40%;-webkit-box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.68);
-moz-box-shadow:    2px 0px 4px 0px rgba(50, 50, 50, 0.68);
box-shadow:         2px 0px 4px 0px rgba(50, 50, 50, 0.68);position:relative;z-index:1;}
div.scroll-tabela {overflow-x: scroll;}
table.produtos {width: 100%;}
table.absolute thead tr th , table.produtos thead tr th {height: 90px; overflow: hidden; background-color: #404451; color:#fff;}
table.absolute thead tr + tr th , table.produtos thead tr + tr th {height: 98px; overflow: hidden; color: #FFF; background-color: #404451; font: 1.8em 'sourcesanspro-semibold';}
table.absolute tr td , table.produtos tr td,  table.produtos thead tr>th, table.produtos tbody tr>th {padding: 0 5px;}
table.absolute tbody tr td, table.produtos tbody tr td  {font: 1.3em 'sourcesanspro-semibold'; height: 72px; border-bottom: 1px solid #404450; border-right: 1px solid #404450;}
table.produtos tbody tr td:last-child {border-right: 0;}
table.absolute tbody tr td {background-color: #5a5f72; color: #FFF;}
table.produtos thead tr th img {border: 1px solid #929292;}
table.absolute thead>tr>th, table.produtos thead>tr>th>a{color:#fff;}

  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
