@media screen and (max-width: 999px) {
  .filter-fazer-pedido li + li {
    margin-left: 28px;
  }
  .icon-image {
    margin: 10px 0 0 29px !important;
  }
  .col-1 {
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 13%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 10%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    width: 20%;
    text-align: center;
    line-height: 20px !important; 
    padding-top: 10px;
    height: 35px !important; 
    border-right: 1px solid #393939;
  }
  .col-5 {
    width: 10%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    width: 13%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-7 {
    width: 8.5%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-8 {
    width: 10%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .icon-image {
    margin: 13px 0 0 37px;
  }
  .amount {
    background: #005595;
  }
  .buttons-page {
    padding: 60px 0 45px 0;
    background-color: #ffffff;
  }
  .buttons-page a.limpar {
    margin-right: 30px;
  }
}
