@media screen and (max-width: 999px) {
  .table .tbody .coluns>li{
  border-right: 1px solid #4b4b4b;
  text-align: center;
  }
.filter {
  float: left;
}
.filter li {
  margin-right: 17px;
  margin-bottom: 20px;
  height: 33px;
}
.controls .btn {
  float: right;
  margin-right: 20px;
}
.table .tbody .coluns .col-1, .table .theader .coluns .col-1 {
  width: 14%;
}
.table .tbody .coluns .col-2, .table .theader .coluns .col-2 {
  width: 8%;
}
.table .tbody .coluns .col-3, .table .theader .coluns .col-3{
  width: 13%;
}
.table .tbody .coluns .col-4, .table .theader .coluns .col-4 {
  width: 23.5%;
}
.table .tbody .coluns .col-5, .table .theader .coluns .col-5 {
  width: 14%;
}
.table .tbody .coluns .col-6, .table .theader .coluns .col-6 {
  width: 13%;
}
.table .tbody .coluns .col-7, .table .theader .coluns .col-7 {
  width: 11%;
  padding:0 9px;
  border-right: 0;
}
}
