@media screen and (max-width: 999px) {
.filter-complaints {
  list-style: none;
}
.filter-complaints li {
  float: left; 
  height: 33px;
}

.filter-complaints li + li {
  margin-left: 18px;
  margin-bottom: 15px;
}
.col-1 {
  width: 13%;
  border-right: 1px solid #393939;
  text-align: center;
}
.col-2 {
  width: 19%;
  border-right: 1px solid #393939;
  text-align: center;
}
.col-3 {
  width: 22%;
  border-right: 1px solid #393939;
  text-align: center;
}
.col-4 {
  width: 18%;
  border-right: 1px solid #393939;
  text-align: center;
}
.col-5 {
  width: 20%;
  border-right: 1px solid #393939;
  text-align: center;
}
.col-6 {
  width: 6%;
}
.icon-lupa {
  float: right;
  margin-top: 14px;
}
::-webkit-input-placeholder {
  color: #393939;
}
:-moz-placeholder {
  color: #393939;
  opacity: 1;
}
::-moz-placeholder {
  color: #393939;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #393939;
}
}
