@media screen and (max-width: 999px) {
.title-main {
  font: 3.2em 'proximanova-bold';
  color: #005595;
  text-transform: uppercase;
}
.sub-title-main {
  font: 1.4em 'sourcesanspro-regular';
  color: #4b4b4b;
  text-transform: uppercase;
}
.faca-seu-pedido {
  background: #f6f6f6;
  padding: 20px 0 20px 2%;
}
.faca-seu-pedido .slider1 {
  margin-top: 14px;
}
.faca-seu-pedido .container {
  position: relative;
}
.faca-seu-pedido .radio input {
  float: left;
}
.faca-seu-pedido .radio p {
  font: 1.4em 'sourcesanspro-regular';
  color: #4b4b4b;
  float: left;
  padding-left: 5px;
  line-height: 15px;
}
.faca-seu-pedido img {
  border: 1px solid #a5a5a5;
  margin-bottom: 5px;
}
.faca-seu-pedido .bx-viewport {
  height: 200px !important;
  background: none;
  border: 0;
  box-shadow: none;
}
.faca-seu-pedido .container.btn-evniar {
  padding-top: 20px;
}
.faca-seu-pedido .bx-next {
  right: 42px !important;
}
.feeds {
  overflow: hidden;
  padding: 20px 0;
}
.feeds .title-main {
  margin-bottom: 15px;
}
.feeds .news {
  width: 98%;
  padding-left: 2%;
  float: left;
}
.feeds .news .news-destaque {
  overflow: hidden;
}
.feeds .news .news-destaque img {
  margin-right: 17px;
  border: 1px solid #a5a5a5;
}
.feeds .news .news-destaque img,
.feeds .news .news-destaque h3,
.feeds .news .news-destaque p,
.feeds .news .news-destaque .btn {
  float: left;
  max-width: 40%;
}
.feeds .news .news-destaque p {
  font: 1.4em 'sourcesanspro-regular';
  max-width: 55%;
  margin-bottom: 23px;
  color: #393939;

}
.feeds .news .news-destaque h3 {
  font-size: 2.2em;
  color: #22416c;
  margin: 10px 0 22px 0;
  width: 60%;
}
.feeds .news .news-other {
  overflow: hidden;
  width: 99%;
  margin: 43px 0;
}
.feeds .news .news-other li {
  height: 190px;
  width: 29%;
}
.feeds .news .news-other li h4 {
  font-size: 1.8em;
  color: #0f3e62;
  margin-bottom: 20px;
}
.feeds .news .news-other li p {
  font: 1.2em 'sourcesanspro-regular';
  margin-bottom: 25px;
  display: block;
  height:45px;
}
.feeds .news .news-other li + li {
  margin-left: 37px;
}
.videos {
  width: 99%;
  float: right;
}

.videos iframe,
.videos img {
  border: 1px solid #a5a5a5;
}

.videos iframe {
  float: left;
  margin-right: 5%;
}

.videos ul {
  overflow: hidden;
  margin: 15px 0 24px 0;
}
.videos ul li + li {
  margin-left: 15px;
}
}
