@media screen and (max-width: 999px) {
.header-login {
  width: 100%;
  height: 74px;
  background: url("../../images/desktop/bg-header-login.jpg");
}
.header-login .logo {
  margin: 17px 0 3px 0;
  float: left;
}
.header-login .icon-antilhas-cinza-claro {
  text-decoration: none;
  margin-top: 28px;
  padding-left: 30px;
  height: 25px;
  display: block;
  float: right;
  color: #a5a5a5;
  font-size: 1.4em;
  text-align: right;
  margin-right: 2%;
  line-height: 28px;
}
.header-login .icon-antilhas-cinza-claro:after {
  content: "Site Antilhas";
}
.header-login .header-login-banner {
  height: 310px;
  background: url("../../images/desktop/patio-antilhas.jpg") top center;
}
.header-login .header-login-banner h2 {
  width: 309px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3.6em;
  float: left;
  margin-top: 252px;
  height: 58px;
  line-height: 60px;
  background-color: #003d6a;
  padding-left: 10px;
}
.content-login {
  padding-top:42px;
  clear: both;
  height: 326px;
  background: url("../../images/desktop/bg-content-login.jpg") top center;
}
.content-login h3 {
  color: #0f3e62;
  font-size: 3.6em;
}
.content-login p {
  color: #0f3e62;
  font-size: 1.8em;
  margin: 27px 0;
}
.content-login .input {
  width: 280px;
  color: #0f3e62;
}
.content-login .content-login-cadastrado {
  width: 295px;
  float: left;
  margin-left: 3%;
}
.content-login .content-login-nao-cadastrado {
  width: 350px;
  float: right;
  margin-right: 1%;
}
.content-login .recovery-password {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1.4em;
  float: right;
  margin-top: 7px;
}
.recovery-password+.recovery-password{
    margin-top: -12px;
  }
.content-login .btn {
  margin-top: 7px;
}
.content-login .row {
  margin-bottom: 12px;
}
.footer-default {
  margin-top: 0;
}
::-webkit-input-placeholder {
  color: #0f3e62;
}
:-moz-placeholder {
  color: #0f3e62;
  opacity: 1;
}
::-moz-placeholder {
  color: #0f3e62;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #0f3e62;
}
}