@media screen and (max-width: 999px) {
  .banner-manual {
    background-position: top center;
    height: 296px;
    width: 100%;
  }

  .banner-manual div {
    background-position: top center;
    height: 285px;
    width: 100%;
  }

  .pagination {
    margin: 0 auto;
  }
  .products-manual {
    background-color: #efefef;
    overflow: hidden;
    padding-top: 50px;
  }
  .products-manual ul {
    overflow: hidden;
    margin: 0 auto;
    width: auto;
    display: table;
  }
  .products-manual ul li {
    width: 154px;
    margin:0 19px 35px;
  }
  .products-manual ul li img {
    border: 1px solid #dadada;
  }
  .products-manual ul li h2 {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
  }
  .products-manual ul li span {
    font: 1.4em 'sourcesanspro-bold';
    color: #64bdff;
  }
}
