.base{
  overflow: hidden;
}

@media screen and (max-width: 999px) {
  .news-block {
    float: right;
    width: 40%;
    background-color: #efefef;
    padding-top: 28px;
    overflow: hidden;
  }
  .news-block .news-block-detail {
    width: 100%;
    float: left;
  }
  .news-block .news-block-detail h3 {
    float: left;
    font: 3em 'proximanova-bold';
    text-transform: uppercase;
    color: #6c0000;
    margin-left: 10px;
  }
  .news-block .news-block-detail .select {
    background-color: #ffffff;
    float: right;
  }
  .news-block .news-block-detail .news-list {
    float: left;
    list-style: none;
    margin-top: 15px;
    overflow: auto;
    width: 320px;
  }
  .news-block .news-block-detail {
        width: 98%;
      }
  .red .select{
    border-color:#fd4949;
  }
  .imprimir{
    margin: 40px 0;
  }
  .news-block {
        width: 320px;
    }
  .news-block .news-block-detail .news-list li a {
    text-decoration: none;
    padding: 30px 24px 30px 25px;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #fd4949;
  }
  .news-block .news-block-detail .news-list li a:hover {
    background-color: #fd4949;
  }
  .news-block .news-block-detail .news-list li a:hover h4 {
    color: #ffffff;
  }
  .news-block .news-block-detail .news-list li h4 {
    font: 1.9em 'proximanova-bold';
    color: #fd4949;
  }
  .news-block .news-block-detail .news-list li p {
    font-size: 1.4em;
    color: #fd4949;
    margin: 14px 0;
  }
  .news-block .news-block-detail .news-list li span {
    font-size: 1.2em;
    color: #393939;
  }
  .news-block .pagination {
    display: none;
    padding: 30px 0 0 54px;
  }
  .news-detail {
    overflow: hidden;
    float: left;
    width: 56%;
    background-color: #ffffff;
    padding-top: 28px;
  }
  .news-detail .news-detail-content {
    width: 92%;
    margin: 0 auto;
  }
  .news-detail-content>img{
    margin:0 auto;
    display: block;
    margin-bottom: 20px;
  }

  .news-detail .news-detail-content .title-default {
    font: 2.8em 'sourcesanspro-bold';
  }
  .news-detail .news-detail-content .author {
    font: 1.6em 'sourcesanspro-regular';
    margin-bottom: 25px;
    display: block;
  }
  .news-detail .news-detail-content .date {
    font: 1.6em 'sourcesanspro-bold';
    color: #fd4949;
    margin-bottom: 20px;
    display: block;
  }
  .news-detail .news-detail-content .manchete {
    font: 2em 'sourcesanspro-regular';
    padding-bottom: 44px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 36px;
  }
  .news-detail .news-detail-content p {
    font: 1.4em 'sourcesanspro-regular';
    margin-bottom: 23px;
    margin: 0 auto;
  }
}
