@media screen and (max-width: 1000px) {
  .resume-request {
    overflow: hidden;
    padding-top: 25px;
    margin: 0 auto;
    width: 97%;
  }
  .resume-request figure {
    float: left;
    width: 105px;
    margin-top: 7px;
  }
  .resume-request img {
    border: 1px solid #d7d7d7;
  }
  .resume-request .resume-requet-detail {
    width: 85%;
    float: right;
  }
  .resume-request .resume-requet-detail h3 {
    font: 2.8em 'sourcesanspro-semibold';
    margin-bottom: 22px;
    color: #393939;
  }
  .resume-request .resume-requet-detail h3 span {
    text-transform: uppercase;
  }
  .resume-request .resume-requet-detail .box {
    overflow: hidden;
    margin-bottom: 70px;
    width: 100%;
    margin-top: 20px;
  }
  .resume-request .resume-requet-detail .box h4 {
    font: 1.8em 'sourcesanspro-semibold';
    margin-bottom: 18px;
  }
  .resume-request .resume-requet-detail .box p {
    font: 1.4em 'sourcesanspro-semibold';
    color: #393939;
    overflow: hidden;
  }
  .resume-request .resume-requet-detail .box p.total {
    font: 1.64em 'sourcesanspro-semibold';
    padding-right: 10px;
    padding-top: 6px;
    width: 148px;
    margin: 10px 0;
  }
  .resume-request .resume-requet-detail .box ul {
    overflow: hidden;
  }
  .resume-request .resume-requet-detail .box ul li {
    font: 1.4em 'sourcesanspro-semibold';
    color: #393939;
  }
  .resume-request .resume-requet-detail .box ul.lbls {
    padding-top: 6px;
    float: left;
  }
  .resume-request .resume-requet-detail .box ul.lbls li {
    margin-bottom: 18px;
  }
  .resume-request .resume-requet-detail .box ul.lbls li:last-child {
    margin-bottom: 0;
  }
  .resume-request .resume-requet-detail .box ul.campos {
    float: right;
  }
  .resume-request .resume-requet-detail .box ul.campos li {
    width: 290px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #d7d7d7;
    margin-bottom: 9px;
  }
  .resume-request .resume-requet-detail .box .info-transporte li:last-child {
    margin-top: 19px;
  }
  .resume-request .resume-requet-detail .box .total-valor {
    width: 246px;
    padding: 6px 0;
    background-color: #757575;
    color: #ffffff;
    font: 1.8em 'sourcesanspro-semibold';
    display: block;
    text-align: center;
    float: right;
    margin-top: 13px;
  }
  .resume-request .resume-requet-detail .box .total-valor.other {
    width: 140px;
    background-color: #005595;
  }
  .resume-request .table-resume-quest {
    width: 100%;
    border: 1px solid #ededed;
    margin-bottom: 18px;
  }
  .resume-request .table-resume-quest td {
    text-align: center;
  }
  .resume-request .table-resume-quest thead tr td {
    background-color: #404451;
    color: #ffffff;
    font: 1.4em 'sourcesanspro-semibold';
  }
  .resume-request .table-resume-quest tbody tr td {
    padding: 17px 0;
    color: #393939;
    font: 1.3em 'sourcesanspro-semibold';
    vertical-align: middle;
    border-right: 1px solid #393939;
  }
  .resume-request .table-resume-quest tbody tr td:last-child {
    border-right: 0;
  }
  .resume-request .table-resume-quest tbody tr td input[type="radio"] {
    margin: 0 12px;
  }
  .resume-request .table-resume-quest tbody tr:nth-child(odd) {
    background-color: #efefef;
  }
  .resume-request .buttons-resume-request {
    clear: both;
  }
  .resume-request .buttons-resume-request .pd {
    margin-left: 195px;
  }
  .resume-request .buttons-resume-request .cancelar {
    margin-right: 30px;
  }
.resume-request .resume-requet-detail .desconto, .resume-request .resume-requet-detail .juros {
    width: 48%;
    margin-bottom: 20px;
  }
  .juros{
  float: right;
  }
  .desconto{
    float: left;
  }
}
