<!DOCTYPE html>
<html lang="pt-br">
<head>
	<?php echo $this->HeadTitle() ."\n"; ?>
    <base href="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<meta http-equiv="Content-Language" content="pt-br"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="format-detection" content="telephone=no">

	<meta name="author" content="<?php echo Zend_Registry::get('config')->project; ?>" />
	<meta name="reply-to" content="contato@vm2.com.br" />	

	<?php echo $this->HeadMeta(); ?>	
	<meta name="robots" content="index,follow" />   
	
	<style>
	  .table-request-detail {
	  	font-size:13px;
	    width: 100%;
	    border: 1px solid #e7e7e7;
	    color:#404451;
	    font-weight:bold;
	  }
	</style>
	
</head>

<body>
	<table width="683" style="width:683px; font-size: 11px;" align="center" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td colspan="11"><img src="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/images/email/topo.jpg" border="0" /></td>
		</tr>
		<tr>
			<td width="1" bgcolor="#f0f0f0" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#eaeaea" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#e2e2e2" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#d8d8d8" style="font-size:0px;"> </td>
			<td width="6" bgcolor="#ffffff" style="font-size:0px;"> </td>
			<td bgcolor="#fdf9f8" style="background-color:#ffffff; width:663px;" width="663">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td width="42" style="width:42px;">&nbsp;</td>
						<td valign="top" height="40" style="color:#7A7A7A; font-weight:bold;"><p><strong>Lista de Atendimentos Pendentes</strong></p></td>
						<td width="42" style="width:42px;">&nbsp;</td>
					</tr>
					<tr>
						<td width="42" style="width:42">&nbsp;</td>
						<td style="font-family:Verdana; font-size:10px; color:#757573;">
							<section class="request-detail" style="width:650px;">
								<table class="table-request-detail" cellpaddding="0" cellspacing="0" border="0">
							    	<thead>
							        	<tr style="background-color: #aaaaaa; color: #ffffff;">
							          		<td>Protocolo</td>
							          		<td>Data</td>
							          		<td>Status</td>
							        	</tr>
							      	</thead>
							      	<tbody>
							      		<?php foreach($this->pendencias as $reclamacao) { ?>
								        	<tr>
								          		<td><?php echo $reclamacao->getCodigo(); ?></td>
								          		<td><?php echo substr(App_Funcoes_Date::conversion($reclamacao->getDataCadastro()),0,10)?></td>
								          		<td><?php echo App_Funcoes_Rotulos::$statusSugestoesReclamacoes[$reclamacao->getStatus()]; ?></td>
								        	</tr>
								        <?php } ?>
							      	</tbody>
							    </table>
							    <br /><br />
							</section>
						<td width="42" style="width:42">&nbsp;</td>
					</tr>
				</table>
			</td>
			<td width="6" bgcolor="#ffffff" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#d8d8d8" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#e2e2e2" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#eaeaea" style="font-size:0px;"> </td>
			<td width="1" bgcolor="#f0f0f0" style="font-size:0px;"> </td>
		</tr>
		<tr>
			<td colspan="11"><img src="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/images/email/rodape.jpg" border="0" /></td>
		</tr>
	</table>
</body>
</html>