<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title><?php echo Zend_Registry::get('config')->project; ?></title>
    </head>

    <body>
        <table width="683" style="width:683px;" align="center" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td colspan="11"><img src="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/images/email/topo.jpg" border="0" /></td>
            </tr>
            <tr>
                <td width="1" bgcolor="#f0f0f0" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#eaeaea" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#e2e2e2" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#d8d8d8" style="font-size:0px;"> </td>
                <td width="6" bgcolor="#ffffff" style="font-size:0px;"> </td>
                <td bgcolor="#fdf9f8" style="background-color:#ffffff; width:663px;" width="663">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="42" style="width:42px;">&nbsp;</td>
                            <td valign="top" height="40" style="color:#7A7A7A; font-size:13px; font-family:Verdana; font-weight:bold;"><p><strong><?php echo Zend_Registry::get('config')->project; ?> - Ouvidoria</strong></p></td>
                            <td width="42" style="width:42px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="42" style="width:42">&nbsp;</td>
                            <td style="font-family:Verdana; font-size:11px; color:#757573;">
                                <p>
                                    <b>Protocolo:</b> <?php echo $this->dados->getProtocolo(); ?><br />
                                    <b>Codigo:</b> <?php echo $this->dados->getUsuario()->getCodigo(); ?><br />
                                    <b>Login:</b> <?php echo $this->dados->getUsuario()->getLogin(); ?><br />
                                    <b>Nome:</b> <?php echo $this->dados->getNome(); ?><br />
                                    <b>E-mail:</b> <?php echo $this->dados->getEmail(); ?><br />
                                    <b>Mensagem:</b> <?php echo nl2br($this->dados->getMensagem()); ?><br /><br />
                                    <b>IP do Remetente:</b><br /><?php echo $this->ip; ?>
                                </p>
                            </td>
                            <td width="42" style="width:42">&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td width="6" bgcolor="#ffffff" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#d8d8d8" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#e2e2e2" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#eaeaea" style="font-size:0px;"> </td>
                <td width="1" bgcolor="#f0f0f0" style="font-size:0px;"> </td>
            </tr>
            <tr>
                <td colspan="11"><img src="<?php echo Zend_Registry::get('config')->paths->site->base; ?>/images/email/rodape.jpg" border="0" /></td>
            </tr>
        </table>
    </body>
</html>