<div id='inline_content' class="lightbox">
	<div class="lightbox-top"></div>
	<?php if ($this->comunicado) { ?>
	<?php $objComunicado = App_Model_DAO_Comunicados::getInstance()->find($this->comunicado['com_idComunicado'])->current(); ?>
	<div class="lightbox-content">
	<h2><?php echo $objComunicado->getTitulo(); ?></h2>
	<img src="<?php echo ($objComunicado->getImagem() ? $objComunicado->getImagem()->getBasePath() : 'images/desktop/img-lightbox.jpg'); ?>" alt="<?php echo $objComunicado->getTitulo(); ?>" style="width:282px; height:125px;">
		<div class="text">
			<p><?php echo $objComunicado->getDescricao(); ?></p>
		</div>
	</div>
	<?php } ?>
</div>