@import "../tablet/ajuda.css";
@media screen and (min-width: 1000px) {
  .help {
    padding-top: 38px;
  }
  .help .title-default {
    margin-bottom: 30px;
  }
  .help p {
    font: 1.4em 'sourcesanspro-regular';
    padding-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
  }
}
