@import "../tablet/duvidas-frequentes.css";

.list-questions-select{
  	
  	
  	border-right: 1px solid #d2d2d2;
  	font: 2em "sourcesanspro-semibold";
  	margin-top: 30px;
  	padding-bottom: 100px;
  }
  .list-questions-select>li{
  	border-bottom: 1px solid #d2d2d2;
  	padding: 23px 20px 18px;
  	background: #f9f9f9;
  	cursor: pointer;
  	color: #393939;
  }
  .list-questions-select>.selected-question{
  	background: #eaeaea;
  }
  .list-questions-container{
  	padding: 20px 0 0 40px;
  	width: 670px;
  	float: left;
  	overflow: hidden;
  	position:relative;
  }
  .list-questions-container>ul{
  	display: none;
  }
  .list-questions-container>.selected-question{
  	display: block;
  }
  .list-questions-container>ul>li{
  	border-bottom: 1px solid #d2d2d2;
  	padding: 20px 0;
  }
  .list-questions-container b{
  	font: 2.2em "sourcesanspro-semibold";
  	color: #393939;
  }
  .list-questions-container p{
  	font: 1.6em "sourcesanspro-regular";
  	color: #555;
  }
  .title-page-other{
  overflow: hidden;
  background-color: #404451;
  padding: 19.5px 0;
  }
  .title-page-other h2{
  float: left;
  padding-top: 6px;
  }
 .duvidas-busca{
 	float: right;
 }
 .duvidas-busca>.input{
 	height:21px;
 	padding:11px 10px;
 	border:0;
 	width:450px;
 	font: 1.6em "sourcesanspro-semibold";
 }
 .duvidas-busca>.buscar{
 	background-color: #c64200;
 	font-size: 1.6em;
 	width: 138px;
 	height: 43px;
 	padding-right: 18px;
 }

 .limpar-busca-button{
    color: #404451;
    position: relative;
    width: 31px;
    display: inline-block;
    text-align: center;
    line-height: 31px;
    padding: 0px;
    top: 2px;
    margin-left: -38px;
    border: 2px solid #404451;
    border-radius: 50%;
    font-size: 18px;
    right: 5px;
 }

@media screen and (min-width: 1000px) {
	.list-questions-section{
		overflow:hidden;
	}
  .pagination {
    margin: 0 auto;
  }
  .title-page-other {
    
  }
  .list-questions-select{
  	width: 230px;
  	float: left;
  }
  .title-page-other h2 {
    font: 2.2em 'sourcesanspro-semibold';
    color: #ffffff;
    padding-left: 19px;
  }
  .content-pagination {
    background-color: #fff;
  }

  .list-questions li {
    list-style: none;
    background-color: #ffffff;
  }
  .list-questions li a .list-questions-title {
    height: 60px;
  }
  .list-questions li a .list-questions-title p {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
    line-height: 60px;
    float: left;
    padding-left: 19px;
  }
  .list-questions li a .list-questions-title p span {
    font: 1.5em 'sourcesanspro-semibold';
    color: #393939;
  }
  .list-questions li a .list-questions-title .icon-open {
    float: right;
    margin: 12px 19px 0 0;
  }
  .list-questions li .list-questions-answers {
    display: none;
    background-color: #d4d4d4;
    cursor: default;
    padding-bottom: 30px;
  }
  .list-questions li .list-questions-answers p {
    font: 1.4em 'sourcesanspro-regular';
    color: #393939;
    padding: 40px 108px 0 47px;
  }
  .list-questions-answers a{
    text-decoration: underline;
    color:#393939;
  }
  .list-questions li:nth-child(odd) {
    background: #efefef;
  }
}
