@import "../tablet/fazer-pedido.css";
@media screen and (min-width: 1000px) {
  .filter-fazer-pedido {
    float: left;
    margin-top: 45px;
  }
  .filter-fazer-pedido li + li {
    margin-left: 28px;
  }
  figure {
    border: 1px solid #929292;
    width: 323px;
    height: 114px;
    float: right;
  }
  .table .theader .coluns li{
    border-right: 1px solid transparent;
  }
  .table .tbody .coluns,.table .theader .coluns{
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .col-1 {
    width: 113px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 110px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 91px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    width: 246px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-5 {
    width: 88px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    width: 120px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-7 {
    width: 86px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-8 {
    width: 98px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .icon-image {
    margin: 4px 0 0 37px;
  }
  .amount {
    background: #005595;
  }
  .buttons-page {
    padding: 60px 0 45px 0;
    background-color: #ffffff;
  }
  .buttons-page a.limpar {
    margin-right: 30px;
  }
}
