@import "../tablet/historico-produtos.css";
@media screen and (min-width: 1000px) {
  .pagination {
    margin: 0 auto;
  }
  .title-default {
    margin-left: 19px;
  }
  .filter-history-products li {
    margin-left: 19px;
  }
  .history-products {
    overflow: hidden;
    padding-top: 30px;
    background-color: #efefef;
  }
  .history-products-list {
    overflow: hidden;
  }
  .history-products-list li {
    width: 241px;
    height: 340px;
    margin: 0 39px 47px 39px;
  }
  
  .history-products-list li figure {
    height: 200px;
  }

  .history-products-list li figure img {
    border: 1px solid #dadada;
   ;/* height: 100%;*/
  }
  .history-products-list li .attributes {
    overflow: hidden;
    list-style: none;
    padding-top: 15px;
  }
  .history-products-list li .attributes li {
    height: auto;
    font: 1.4em 'sourcesanspro-regular';
    margin: 0 0 4px 0;
  }
  .history-products-list li .attributes li strong {
    /*font: 1em 'sourcesanspro-bold';*/
  }
  .history-products-inactive {
    overflow: hidden;
    padding: 50px 0;
    background-color: #e5e5e5;
  }
  .history-products-inactive .title-default {
    margin: 0 0 30px 39px;
  }
  .history-products-inactive .history-products-list li {
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
