.faca-seu-pedido img{
  box-sizing:border-box;
}
@import "../tablet/home.css";

@media screen and (min-width: 1000px) {
  .title-main {
    font: 3.2em 'proximanova-bold';
    color: #005595;
    text-transform: uppercase;
  }
  .sub-title-main {
    font: 1.4em 'sourcesanspro-regular';
    color: #4b4b4b;
    text-transform: uppercase;
  }
  .faca-seu-pedido {
    background: #f6f6f6;
    padding: 20px 0;
  }
  .faca-seu-pedido .slider1 {
    margin-top: 14px;
  }
  .faca-seu-pedido .container {
    position: relative;
  }
  .faca-seu-pedido .radio input {
    float: left;
  }
  .faca-seu-pedido .radio p {
    font: 1.4em 'sourcesanspro-regular';
    color: #4b4b4b;
    float: left;
    padding-left: 5px;
    line-height: 15px;
  }
  .faca-seu-pedido img {
    border: 1px solid #a5a5a5;
    margin:0 auto 5px auto;
  }
  .faca-seu-pedido .bx-viewport {
    height: 200px !important;
    background: none;
    border: 0;
    box-shadow: none;
  }
  .faca-seu-pedido .container.btn-evniar {
    padding-top: 20px;
  }
  .faca-seu-pedido .bx-next {
    right: 20px !important;
  }
  .feeds {
    overflow: hidden;
    padding: 20px 0;
  }
  .feeds .title-main {
    margin-bottom: 15px;
  }
  .feeds .news {
    width: 630px;
    float: left;
  }
  .feeds .news .news-destaque {
    overflow: hidden;
  }
  .feeds .news .news-destaque img {
    margin-right: 17px;
    border: 1px solid #a5a5a5;
  }
  .feeds .news .news-destaque img,
  .feeds .news .news-destaque h3,
  .feeds .news .news-destaque p,
  .feeds .news .news-destaque .btn {
    float: left;
  }
  .feeds .news .news-destaque p {
    font: 1.4em 'sourcesanspro-regular';
    width: 275px;
    margin-bottom: 23px;
    color: #393939;
  }
  .feeds .news .news-destaque h3 {
    font-size: 2.2em;
    color: #22416c;
    width: 300px;
    margin: 10px 0 22px 0;
  }
  .feeds .news .news-other {
    overflow: hidden;
    float: left;
    margin-top: 29px;
  }
  .feeds .news .news-other li {
    height: 190px;
    width: 185px;
  }
  .feeds .news .news-other li h4 {
    font-size: 1.8em;
    color: #0f3e62;
    margin-bottom: 3px;
    height:40px;
  }
  .feeds .news .news-other li p {
    font: 1.2em 'sourcesanspro-regular';
    margin-bottom: 28px;
    display: block;
    height:45px;
  }
  .feeds .news .news-other li + li {
    margin-left: 37px;
  }
  .videos {
    width: 300px;
    float: right;
  }
  .videos iframe,
  .videos img {
    border: 1px solid #a5a5a5;
  }
  .videos ul {
    overflow: hidden;
    margin: 25px 0 31px 0;
  }
  .videos ul li + li {
    margin-left: 15px;
  }
  .footer-default {
    margin-top: 94px;
  }

}

@media screen and (max-width: 1000px) {


  .noticia-catalogo{
width:580px;
height: auto;
margin: 0 auto;
display: block;
position: relative;
}

.item-catalogo{
  margin: 0 auto !important;
}

.slick-prev{
       left:42% !important;
}

.slick-next {
    left: 10px;
}

}


@media screen and (max-width: 600px) {


  .noticia-catalogo{
width:400px !important;
height: auto;
margin: 0 auto;
display: block;
position: relative;
}

.item-catalogo{
  margin: 0 auto !important;

}

.slick-prev{
       left:42% !important;
}

.slick-next {
    left: 30px;
}

}


/* FIM RESPONSIVO */

.noticia-catalogo{
width:470px;
height: auto;
display: block;
position: relative;
}

.item-catalogo{
  width: 100%;
  margin: 0 auto !important;

}