body, html, h1, h2, h3{
    margin:0;
    padding:0;
}

body{

}

#conteudo{
    background: #fff;
    padding:0;
    width: 60%;
    height: 980px;
    position: relative;
    margin: 0 auto;
}
#politica{
    margin:0;
    height: 100%;

}

#cabecalho{
    position: relative;
    width:50%;
    margin: 0 auto;
}

#conteudo #politica p{
    margin-left: 70px;
    margin-bottom: 15px;
    margin-right: 70px;

}

#conteudo #politica p:last-child {
    margin-left: 40px;
    margin-right: 40px;

}

#conteudo #politica ol{
    margin-left: 70px;
    margin-right: 70px;
    list-style: decimal !important;
}

#conteudo #politica ol LI{
    list-style: decimal !important;
}

#conteudo #politica p, #conteudo #politica ol{
    font: 1.6em "sourcesanspro-regular";
    color: #555;
    text-align: justify;
    line-height: 23px;
} 

#conteudo #politica h1{
    font: 2.2em "sourcesanspro-semibold";
    margin-bottom: 20px;
    margin-top:20px;
    color: #494949;
    margin-left: 50px;
}

#conteudo #politica h1:first-child{
     font: 20pt "sourcesanspro-semibold";
    color: #494949;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 10px;
    width: 100%;
    text-align: left;
    position: relative;
}

p:last-child{
    padding-top: 40px;
}