@import "../tablet/resumo-pedido.css";
@media screen and (min-width: 1000px) {
  .resume-request {
    padding: 36px 20px;
    overflow: hidden;
  }
  .resume-request figure {
    float: left;
    width: 248px;
    height: 248px;
  }
  .resume-request img {
    border: 1px solid #d7d7d7;
  }
  .resume-request .resume-requet-detail {
    width: 640px;
    float: right;
  }
  .resume-request .resume-requet-detail h3 {
    font: 2.8em 'sourcesanspro-semibold';
    margin-bottom: 22px;
    color: #393939;
  }
  .resume-request .resume-requet-detail h3 span {
    text-transform: uppercase;
  }
  .resume-request .resume-requet-detail .box {
    overflow: hidden;
    margin-bottom: 70px;
  }
  .resume-request .resume-requet-detail .box h4 {
    font: 1.8em 'sourcesanspro-semibold';
    margin-bottom: 18px;
  }
  .resume-request .resume-requet-detail .box p {
    font: 1.4em 'sourcesanspro-semibold';
    color: #393939;
    width: 100%;
    overflow: hidden;
  }
  .resume-request .resume-requet-detail .box p.total {
    font: 1.7em 'sourcesanspro-semibold';
    float: left;
    padding-top: 6px;
    width: 300px;
    margin: 10px 0;
  }
  .resume-request .resume-requet-detail .box ul {
    overflow: hidden;
  }
  .resume-request .resume-requet-detail .box ul li {
    font: 1.4em 'sourcesanspro-semibold';
    color: #393939;
  }
  .resume-request .resume-requet-detail .box ul.lbls {
    padding-top: 6px;
    float: left;
  }
  .resume-request .resume-requet-detail .box ul.lbls li {
    margin-bottom: 18px;
  }
  .resume-request .resume-requet-detail .box ul.lbls li:last-child {
    margin-bottom: 0;
  }
  .resume-request .resume-requet-detail .box ul.campos {
    float: right;
  }
  .resume-request .resume-requet-detail .box ul.campos li {
    width: 290px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #d7d7d7;
    margin-bottom: 9px;
  }
  #rangeDate span {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    margin: 0 1px;
    padding: 0 2px;
  }
  #rangeDate span.prevista {background: transparent;}

  .resume-request .resume-requet-detail .box .info-transporte li:last-child {
    margin-top: 19px;
  }
  .resume-request .resume-requet-detail .box .total-valor {
    width: 246px;
    padding: 6px 0;
    background-color: #757575;
    color: #ffffff;
    font: 1.8em 'sourcesanspro-semibold';
    display: block;
    text-align: center;
    float: right;
    margin: 10px 0;
  }
  .resume-request .resume-requet-detail .box .total-valor.other {
    width: 107px;
    background-color: #005595;
  }
  .resume-request .table-resume-quest {
    width: 100%;
    border: 1px solid #ededed;
    margin-bottom: 18px;
  }
  .resume-request .table-resume-quest td {
    text-align: center;
  }
  .resume-request .table-resume-quest thead tr td {
    background-color: #404451;
    color: #ffffff;
    font: 1.4em 'sourcesanspro-semibold';
  }
  .resume-request .table-resume-quest tbody tr td {
    padding: 17px 0;
    color: #393939;
    font: 1.3em 'sourcesanspro-semibold';
    vertical-align: middle;
    border-right: 1px solid #393939;
  }
  .resume-request .table-resume-quest tbody tr td:last-child {
    border-right: 0;
  }
  .resume-request .table-resume-quest tbody tr td input[type="radio"] {
    margin: 0 12px;
  }
  .resume-request .table-resume-quest tbody tr:nth-child(odd) {
    background-color: #efefef;
  }
  .resume-request .buttons-resume-request {
    clear: both;
  }
  .resume-request .buttons-resume-request .pd {
    margin-left: 195px;
  }
  .resume-request .buttons-resume-request .cancelar {
    margin-right: 30px;
  }
  .desconto,.juros{
    float: left;
    width: 310px;
  }
  .juros{
    float: right;
  }
  .desconto{
    margin-right: 10px;
  }
 .resume-request .resume-requet-detail .valores p.total{
    width: 180px;
  }
  .valores{
    overflow: hidden;
    width: 100%;
  }
  .valores>.pedido{
    width: 100%;
  }
  .resume-request .resume-requet-detail .valores>div{
    margin-bottom: 20px;
  }
  .resume-request .resume-requet-detail .pedido .total-valor.other{
    width: 150px;
  }
  .table-resume-grade{
  	border-top:1px solid #d7d7d7;
	background-color:#f5f5f5;
	height: 60px;
	min-width: 100%;
  }
  .table-resume-grade tr{
  	cellspacing: 30px;
  }
  .table-resume-grade td{
  	font-size: 17px;
	padding: 0 20px;
  }
  .subtotal{
  	color: #005595;
  }
  .table-resume-grade .btn-detalhes span {
	  border: 2px solid #005595;
	  font-weight:bolder;
	  color: #005595;
	  font-size: 15px;
	  padding: 5px 20px;
	  cursor:pointer;  	
  }
  .table-resume-grade .btn-detalhes-oc span {
	  border: 2px solid #7c7e87;
	  font-weight:500;
	  color: #FFFFFF;
	  font-size: 15px;
	  padding: 5px 20px;
	  cursor:pointer;  
	  background-color: #7c7e87;	
  }
  .oc-del {
	  display:none;
  }
  .active-del {
	  display:table-cell;
  }
  
  .detalhes-aberto {
	  background-color: #FFFFFF;
  }
  .detalhes-pedido{
  	display:none;
  }
  
}
