@import "../tablet/usuario-gerenciamento.css";
@media screen and (min-width: 1000px) {
  .col-1 {
    width: 244px;
  }
  .col-2 {
    width: 234px;
    text-align: center;
  }
  .col-3 {
    width: 228px;
    text-align: center;
  }
  .col-4 {
    width: 251px;
  }
  .tbody {
    height: auto;
  }
  .tbody .col-2 {
    border-left: 1px solid #4b4b4b;
    border-right: 1px solid #4b4b4b;
  }
  .tbody .col-3 {
    border-right: 1px solid #4b4b4b;
  }
}
