<div class="title-page green">
	<div class="container">
       <img src="images/cm-icon.png" alt="">
    	<h2>Relatórios Gerenciais</h2>
      	<ul class="breadcrumb inline-block">
        	<li><a href="<?php echo $this->baseUrl()?>/home" title="Página Inicial">Página Inicial</a></li>
        	<li><a href="javascript:void(0)" title="Relatórios">Relatórios</a></li>
        	<li><a href="javascript:void(0)" class="active" title="Gerenciais">Gerenciais</a></li> 
      	</ul>
	</div>
</div>

<script type="text/javascript">
<?php if(isset($_SESSION['FlashMessenger']['default'][0])){ ?>
	block("<?php echo $_SESSION['FlashMessenger']['default'][0] ?>");
	setTimeout('unblock()', 2500);		
	<?php unset($_SESSION['FlashMessenger']['default'][0]); ?>
<?php } ?>
</script>  
  
<ul class="table green">
	<li class="theader">
		<div class="container">
        	<ul class="coluns">
          		<li class="col-1">Relatórios</li>
          		<li class="col-2">Data</li>
        	</ul>
      	</div>
	</li>
	<?php if(count($this->paginator)) { ?>
		<?php foreach($this->paginator as $download) { ?>
			<?php $download = App_Model_DAO_Downloads::getInstance()->createRow($download); ?>
			<li class="tbody">
				<div class="container">
					<ul class="coluns">
						<li class="col-1"><?php echo $download->getNome(); ?></li>
						<li class="col-2"><?php echo App_Funcoes_Date::conversion($download->getData()); ?></li>
						<li class="col-3">
							<a href="<?php echo $this->baseUrl(); ?>/relatorios/download/<?php echo $download->getCodigo(); ?>" class="icon-file" title="Fazer download do arquivo"></a>
						</li>
					</ul>
		      	</div>
			</li>
		<?php } ?>
	<?php } ?>
</ul>

<span class="green">
	<?php echo $this->paginator; ?>
</span>