@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.help
	{
		padding-top: 38px;

		.title-default
		{
			margin-bottom: 30px;
		}
		p
		{
			font: 1.4em 'sourcesanspro-regular';
			padding-bottom: 30px;
			border-bottom: 1px solid #d7d7d7;
			margin-bottom: 30px;
		}
	}

}