@media screen and (min-width: 1000px) {

	.banner
	{
		.nav
		{
			position: relative;
			a
			{
				display: block;
				position: absolute;
				z-index: 9999;
				&#prev
				{
					top: 242px;
					left: 442px;
				}
				&#next
				{
					top: 242px;
					right: 442px;
				}
			}
		}
		.pics
		{
			margin: 0 auto !important; 
			width: 100% !important;
			div
			{
				width: 100%;
				height: 285px;
				background-position: top center;
				background-repeat: no-repeat;
			}
		}
	}

}
