@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	//Commun templates

	.title-page
	{
		height: 70px;
		padding-top:18px; 
		background: url("@{image-path-default-desktop}/bg-title-page.jpg") center top no-repeat;
		h2
		{
			font: 3.2em 'proximanova-bold';
			text-transform: uppercase;
			color: @blue;
			margin: 0;
		}
		.breadcrumb
		{
			margin-top: -5px;
			.overflow;
			li
			{
				margin-right: 9px;
				a
				{
					font: 1.4em 'sourcesanspro-regular';
					color: @white;

					&.active
					{
						font: 1.4em 'sourcesanspro-bold';
						text-decoration: underline;
					}
				}
			}
			li + li:before
			{
				content: ">";
				color: @white;
				font: 1.4em 'sourcesanspro-regular';
				margin-right: 9px;
			}
		}
	}

	.controls
	{
		.container
		{
			padding: 42px 0;
			.overflow;

			.filter
			{
				.overflow;
			}
			h3
			{
				color: @black;
				font: 2.2em 'sourcesanspro-semibold';
				margin-bottom: 5px;
			}
		}
	}

	.table
	{
		width: 100%;
		list-style: none;

		.btn
		{
			font: 1.0em 'proximanova-bold';
		}

		.theader
		{
			background-color: #404451;
			padding: 30px 0;
			text-align: center;

			.coluns
			{
				.overflow;
				li
				{
					font: 2.2em 'sourcesanspro-semibold';
					color: @white;
					border: 0;
					height: 60px;
					line-height: 60px;
					/*vertical-align: middle;
					display: inline;*/
				}
			}
		}
		.tbody
		{
			display: table;
			width: 100%;
			background-color: #efefef;
			.coluns
			{
				display: table-row;
				.overflow;
				li
				{
					font: 1.3em 'sourcesanspro-semibold';
					color: @darck-gray;
					height: 60px; 
					/*vertical-align: middle;
					display: table-cell;*/
					line-height: 60px;
				}
			}

			&.no-bg
			{
				background-color: @white;
			}
		}

		.col-btn-two
		{
			a
			{
				margin-left: 15px;
			}
			a + a
			{
				margin-right: 15px;
				margin-left: 0;
			}
		}

		.btn
		{
			margin-top: 12px;
		}
	}

	.title-default
	{
		font: 2.2em 'sourcesanspro-semibold';
		color: @black;
	}

	.content-pagination
	{

		background-color: #efefef;
		.container
		{
			height: 81px;
			padding-top: 45px;
		}
	}

	.pagination
	{
		width: auto;
		display: table;
		.overflow;
		li
		{
			a
			{
				width: 26px;
				height: 25px;
				color: @darck-gray;
				font-size: 1.3em;
				font-family: 'arial';
				font-weight: bold;
				display: block;
				text-align: center; 
				line-height: 25px;

				&:hover, &.active
				{
					background-color: #003d6a;
					color: @white; 
				}

				&.no-hover
				{
					width: auto;
					margin: 0 10px;
				}

				&.no-hover:hover, &.no-hover.active
				{
					background-color: #efefef;
					color: #003d6a;
				}
			}
		}
	}

	.list-products
	{
		height: 90px;
		background-color: #efefef;

		ul
		{
			margin-top: 8px;
			margin-right: 218px;
			.right;
			li
			{
				position: relative;
				margin-left: 10px;	
				a
				{
					img
					{
						border: 1px solid #dadada;
					}

					&:hover .tooltip
					{
						display: block;
					}
				}
			}
		}
	}

	.tooltip
	{
		position: absolute;
		width: 315px;
		height: auto;
		top: -52px;
		right: -303px;
		display: none;
		z-index: 999;
		-webkit-box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
        -moz-box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);
        box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.1);

		.tooltip-content
		{
			width: 210px;
			border: 1px solid #dadada;
			.right;
			padding: 42px 54px 37px 30px;
			background-color: @white;

			ul
			{
				list-style: none;
				margin-top: 0;
				margin-right: 0;
				li
				{
					margin-left: 0;
					color: @black;
					font: 1.6em  'sourcesanspro-regular';

					strong
					{
						font-family: 'sourcesanspro-bold';
					}
				}
			}

			h5
			{
				font: 2.0em 'sourcesanspro-bold';
				color: @black;
				margin-bottom: 20px;
			}
		}
		.tooltip-arrow
		{
			background-image: url('@{image-path-default-desktop}/arrow-tooltip.png');
			background-repeat: no-repeat;
			width: 19px;
			height: 27px;
			z-index: 888;
			position: absolute;
			top: 50%;
			margin-top: -13.5px;
			left: 1px;
		}
	}


	.amount
	{
		padding: 14px 0;
		background: #005595;
		.overflow;

		h4
		{
			font: 2.4em 'sourcesanspro-semibold';
			text-transform: uppercase;
			color: @white;
			.left;
		}
		span
		{
			width: 166px;
			height: 33px;
			background: @white;
			display: block;
			line-height: 33px;
			font: 2.4em 'sourcesanspro-bold';
			color: @black;
			text-align: center;
			.right
		}
	}


}