@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.update-account
	{
		padding-top: 36px;
	}


	::-webkit-input-placeholder {
	   color: @black;
	}

	:-moz-placeholder {
	   color: @black;
	   opacity: 1;
	}

	::-moz-placeholder {
	   color: @black;
	   opacity: 1;
	}

	:-ms-input-placeholder {  
	   color: @black;
	}

}