@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.col-1
	{
		width: 100px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-2
	{
		width: 104px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-3
	{
		width: 105px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-4
	{
		width: 104px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-5
	{
		width: 205px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-6
	{
		width: 316px;

		a
		{
			margin-left: 50px;
		}
		a + a
		{
			margin-left: 0;
		}
	}

	.filter-danfe
	{
		li+li
		{
			margin-left: 5px;
		}
	}

	.pagination
	{
		.center;
	}

	::-webkit-input-placeholder {
	   color: @black;
	}

	:-moz-placeholder {
	   color: @black;
	   opacity: 1;
	}

	::-moz-placeholder {
	   color: @black;
	   opacity: 1;
	}

	:-ms-input-placeholder {  
	   color: @black;
	}
}