@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.contact-us
	{
		.overflow;
		padding-top: 36px;

		.box-1
		{
			width: 540px;
			margin-left: 19px;
			.overflow;
			.left;
			h3
			{
				.left;
			}
		}
		.box-2
		{
			width: 302px;
			margin-right: 19px;
			.overflow;
			.right;
			h3
			{
				font: 3.2em 'proximanova-bold';
				color: @darck-blue;
				margin-bottom: 30px;
			}
			p
			{
				margin-top: 20px;
				font: 1.4em 'sourcesanspro-regular';
				color: @black;	
			}
		}
	}

	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}

}
