@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.filter-fazer-pedido
	{
		li+li
		{
			margin-left: 28px;
		}
	}

	.col-1
	{
		width: 113px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-2
	{
		width: 110px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-3
	{
		width: 91px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-4
	{
		width: 246px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-5
	{
		width: 88px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-6
	{
		width: 120px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-7
	{
		width: 86px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.col-8
	{
		width: 98px;
		text-align: center;
		border-right: 1px solid @black; 
	}

	.icon-image
	{
		margin: 13px 0 0 37px;
	}

	.amount
	{
		background: #005595;
	}

	.buttons-page
	{
		padding: 60px 0 45px 0;
		background-color: @white;

		a.limpar
		{
			margin-right: 30px;
		}
	}


}
