@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.filter-fazer-pedido-grade
	{
		li
		{
			margin-right: 20px;
		}
	}

	/*.tbody .col-1, .tbody .col-2, .tbody .col-3, .tbody .col-4
	{
		background-color: @darck-gray;
		color: @white;
	}*/

	.col-1
	{
		width: 146px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-2
	{
		width: 126px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-3
	{
		width: 38px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-4
	{
		width: 66px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-5
	{
		width: 97px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-6
	{
		width: 83px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-7
	{
		width: 85px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-8
	{
		width: 93px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-9
	{
		width: 95px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-10
	{
		width: 103px;
		text-align: center;
	}

	.table.table-fazer-pedido-grade
	{
		.theader
		{
			.coluns
			{
				li
				{
					font: 1.8em 'sourcesanspro-semibold';
				}
			}
		}
	}

	.amount
	{
		background: #6980c6;
	}



	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}
}