@media screen and (min-width: 1000px) {

	@import "variables";

	.footer-default
	{
		clear: both;
		height: 60px;
		background: url('@{image-path-default-desktop}/bg-footer.jpg') top center repeat-x;
		text-align: center;
		font-size: 1.8em;
		color: @gray;
		padding-top: 27px;
		margin-top: 94px;

		a
		{
			display: block;
			margin-top: 5px;
		}
	}

}