@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	.header-default
	{
		height: 82px;
		padding-top: 30px;
		background: url('@{image-path-default-desktop}/bg-header-default.jpg') repeat-x;

		.container
		{
			position: relative;
		}

		.header-default-logo
		{
			.left;
		}
		nav
		{
			.left;
			margin: 9px 0 0 24px;
			.header-default-menu-fast
			{
				li
				{
					height: 29px;
					padding: 0 28px;
					background: url('@{image-path-default-desktop}/marcador-menu.png') right center no-repeat;
					a
					{
						color: @darck-gray;
						font: 1.4em 'sourcesanspro-regular';
						display: block;
						width: auto;
						line-height: 25px;
						padding-left: 30px;

					}

					&.borda-none
					{
						background: none;
					}
				}
			}
		}
		.header-default-logo-client
		{
			.left;
			margin-left: 67px;
		}
		.header-default-update-client
		{
			text-decoration: none;
			color: @darck-gray;
			.right;
			display: block;
			font: 1.2em 'sourcesanspro-regular';
			margin-top: 20px;
			span
			{
				color: @darck-blue;
			}
			&.icon-arrow-down
			{
				width: 122px;
				height: auto;
				background-position: 93px -155px;
			}	
		}

		.header-default-sub-menu
		{
			width: 108px;
			padding: 10px 0 10px 10px;
			background-color: @white;
			border: 1px solid #e5e5e5;
			position: absolute;
			right: 0;
			top: 38px;
			list-style: none;
			display: none;
			z-index: 999;
			li
			{
				margin-bottom: 3px;
				a
				{
					text-decoration: none;
					color: @darck-gray;
					font-size: 1.2em;
					height: auto;
					border-bottom: 1px solid #dadada;
					&.border-none
					{
						border: 0;
					}
				}
			}
		}
		.suport
		{
			height: 82px;
			.right;
		}
	}

}
