

	.header-login
	{
		width: 100%;
		height: 74px;
		background: url("@{image-path-desktop}/bg-header-login.jpg");
		.logo
		{
			margin: 17px 0 3px 0;
			.left;
		}
		.icon-antilhas-cinza-claro
		{
			text-decoration: none;
			margin-top: 28px;
			padding-left: 30px;
			height: 25px;
			display: block;
			.right;
			color: @gray;
			font-size: 1.4em;
			text-align: right;
			line-height: 28px;
			&:after
			{
				content:"Site Antilhas";
			}
		}

		.header-login-banner
		{
			height: 310px;
			background: url("@{image-path-desktop}/patio-antilhas.jpg") top center;
			h2
			{
				width: 309px;
				text-transform: uppercase;
				color: @white;
				font-size: 3.6em;
				.left;
				margin-top: 264px;
				padding-left: 10px;
			}
		}
	}