@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.filter
	{
		.left;
		li
		{
			margin-right: 17px;
		}
	}

	.controls
	{
		.btn
		{
			.right;
			margin-right: 20px;
		}
	}

	.col-1
	{
		width: 147px;
		border-right: 1px solid @darck-gray;
		text-align: center;
	}
	.col-2
	{
		width: 98px;
		border-right: 1px solid @darck-gray;
		text-align: center;
	}
	.col-3
	{
		width: 100px;
		border-right: 1px solid @darck-gray;
		text-align: center;
	}
	.col-4
	{
		width: 153px;
		border-right: 1px solid @darck-gray;
		text-align: center;
	}
	.col-5
	{
		width: 143px;
		border-right: 1px solid @darck-gray;
		text-align: center;
	}
	.col-6
	{
		width: 150px;
		border-right: 1px solid @darck-gray;
		text-align: center;
	}
	.col-7
	{
		width: 143px;
	}

}