@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	.filter-complaints
	{
		list-style: none;
		li + li
		{
			margin-left: 18px;
		}
	}

	.col-1
	{
		width: 109px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-2
	{
		width: 133px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-3
	{
		width: 211px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-4
	{
		width: 154px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-5
	{
		width: 260px;
		border-right: 1px solid @black;
		text-align: center;
	}

	.col-6
	{
		width: 41px;
	}

	.icon-lupa
	{
		.right;
		margin-top: 14px;
	}

	.pagination
	{
		.center;
		margin-top: 5px;
	}

	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}

}
