@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.complaints
	{
		background-color: #fff;
		padding: 28px 0;
		.overflow;

		&.no-bg
		{
			background-color: #efefef;
		}

		ul
		{
			list-style: none;
			width: 700px;
			.overflow;
			margin-left: 21px;
			.left;
		}

		.time
		{
			.right;
			font: 1.6em 'sourcesanspro-semibold';
			margin-top: 70px;
		}

		.date
		{
			font: 1.6em 'sourcesanspro-bold';
			color: @gray;
			margin-bottom: 38px;
		}
		.name
		{
			font: 1.6em 'sourcesanspro-semibold';
			color: @black;
			margin-bottom: 38px;
		}

		p
		{
			font: 1.6em 'sourcesanspro-regular';
		}

		&.info
		{

			padding: 38px 0;

			li
			{
				font: 2.0em 'sourcesanspro-regular';
				color: @black;
				margin-bottom: 10px;

				strong
				{
					font: 1.0em 'sourcesanspro-semibold';
				}

				p
				{
					font-size: 0.8em;
				}
			}
		}

	}

}	