@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	.controls.constrols-historico-comunicados
	{
		li
		{
			margin-left: 30px;
		}
	}

	.pagination
	{
		.center;
	}

	.communicated
	{
		padding-top: 30px;
		background-color: #efefef;

		ul
		{
			.overflow;
			li
			{
				list-style: none;
				width: 290px;
				height: 361px;
				margin: 0 15px 80px 15px;
				h4
				{
					margin: 15px 0;
					font: 2.2em 'sourcesanspro-semibold';
				}
				span
				{
					margin: 15px 0;
					font: 1.6em 'sourcesanspro-semibold';
					color: #77c4fd;
					display: block;
				}
				p
				{
					font: 1.4em 'sourcesanspro-semibold';
					color: @black;
					height: 72px;
					display: block;
					margin-bottom: 32px;
					.overflow;

				}
			}
		}
	}


	::-webkit-input-placeholder {  
		color: #393939;
	}
	:-moz-placeholder { 
		color: #393939;
		opacity: 1;
	}
	::-moz-placeholder { 
		color: #393939;
		opacity: 1;
	}
	:-ms-input-placeholder {
		color: #393939;
	}
}	