@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.title-main
	{
		font: 3.2em 'proximanova-bold';
		color: @blue;
		text-transform: uppercase;
	}
	.sub-title-main
	{
		font: 1.4em 'sourcesanspro-regular';
		color: @darck-gray;
		text-transform: uppercase;
	}

	.faca-seu-pedido
	{
		background: #f6f6f6;
		padding: 20px 0; 

		.slider1
		{
			margin-top: 14px;
		}

		.container
		{
			position: relative;
		}

		.radio
		{
			input
			{
				.left;
			}
			p
			{
				font: 1.4em 'sourcesanspro-regular';
				color: @darck-gray;
				.left;
				padding-left: 5px;
				line-height: 15px;
			}
		}
		img
		{
			border: 1px solid @gray;
			margin-bottom: 5px;
		}

		.bx-viewport
		{
			height: 200px !important;
			background: none;
			border: 0;
			box-shadow: none;
		}
		.container.btn-evniar
		{
			padding-top: 20px;
		}
		.bx-next
		{
			right: 42px !important;
		}
	}

	.feeds
	{
		.overflow;
		padding: 20px 0;

		.title-main
		{
			margin-bottom: 15px;
		}

		.news
		{
			width: 630px;
			.left;

			.news-destaque
			{
				.overflow;
				img
				{
					margin-right: 17px;
					border: 1px solid @gray;
				}
				img,h3,p,.btn
				{
					.left;
				}
				p
				{
					font: 1.4em 'sourcesanspro-regular';
					width: 275px;
					margin-bottom: 23px;
					color: @black;
				}
				h3
				{
					font-size: 2.2em;
					color: #22416c;
					margin: 10px 0 22px 0;
				}
			}
			.news-other
			{
				.overflow;
				.left;
				margin-top: 43px;
				li
				{
					height: 137px;
					width: 185px;
					h4
					{
						font-size: 1.8em;
						color: @darck-blue;
						margin-bottom: 20px;
					}
					p
					{
						font: 1.2em 'sourcesanspro-regular';
						margin-bottom: 25px;
						display: block;
					}
				}
				li + li
				{
					margin-left: 37px;
				}
			}
		}
	}

	.videos
	{
		width: 300px;
		.right;
		iframe, img
		{
			border: 1px solid @gray;
		}
		ul
		{
			.overflow;
			margin: 15px 0 24px 0;
			li + li
			{
				margin-left: 15px;
			}
		}
	}

}