@media screen and (min-width: 1000px) {

	@import "../variables";

	.src-desktop
	{
		background-image: url("@{image-path-default}/icons.png");
		background-repeat: no-repeat;	
	}

	.icon-antilhas-cinza-claro
	{
		.src-desktop;
		background-position:  -12px -12px;
	}

	.icon-antilhas-cinza-escuro
	{
		width: 24px;
		height: 25px;
		.src-desktop;
		background-position:  -12px -47px;;
	}

	.icon-help
	{	
		width: 25px;
		height: 25px;
		.src-desktop;
		background-position: -11px -85px;
	}

	.icon-home
	{
		width: 23px;
		height: 21px;
		.src-desktop;
		background-position: -11px -122px;
	}

	.icon-arrow-down
	{
		width: 14px;
		height: 7px;
		.src-desktop;
		background-position: -14px -160px;;
	}

	.icon-bag
	{	
		width: 28px;
		height: 32px;
		.src-desktop;
		background-position: -6px -182px;
	}

	.arrow-left
	{
		width: 35px;
		height: 35px;
		.src-desktop;
		background-position: -9px -236px;
	}

	.arrow-right
	{
		width: 35px;
		height: 35px;
		.src-desktop;
		background-position: -9px -296px;
	}

	.icon-lupa
	{
		width: 23px;
		height: 23px;
		.src-desktop;
		background-position: -13px -385px;
		display: block;
	}

	.icon-image
	{
		width: 40px;
		height: 34px;
		.src-desktop;
		background-position: -11px -437px;
		display: block;
	}

}