@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";
	@import "header-login";

	.content-login
	{
		padding-top: 80px;
		clear: both;
		height: 326px;
		background: url("@{image-path-desktop}/bg-content-login.jpg") top center;

		h3
		{
			color: @darck-blue;
			font-size: 3.6em;
		}

		p
		{
			color: @darck-blue;
			font-size: 1.8em;
			margin: 27px 0;
		}

		.input
		{
			width: 280px;
			color: @darck-blue;
		}

		.content-login-cadastrado
		{
			width: 295px;
			.left;
			margin-left: 94px;
		}
		.content-login-nao-cadastrado
		{
			width: 350px;
			.right;
			margin-right: 28px;
		}
		.recovery-password
		{
			text-decoration: none;
			color: @darck-gray;
			font-size: 1.4em;
			.right;
			margin-top: 15px;
		}
		.btn
		{
			margin-top: 7px;
		}
		.row
		{
			margin-bottom: 12px;
		}

	}

	.footer-default
	{
		margin-top: 0;
	}


	::-webkit-input-placeholder {
	   color: #0f3e62;
	}

	:-moz-placeholder {
	   color: #0f3e62;
	   opacity: 1;
	}

	::-moz-placeholder {
	   color: #0f3e62;
	   opacity: 1;
	}

	:-ms-input-placeholder {  
	   color: #0f3e62;
	}

}
