@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.menu-main
	{
		height: 44px;
		background: url('@{image-path-default-desktop}/bg-main-menu.jpg') repeat-x;
		.main
		{
			.left;
			li
			{
				background: url('@{image-path-default-desktop}/bg-menu-main-marcador.jpg') right center no-repeat;
				position: relative;

				&.border-none
				{
					background: none;
				}
				a
				{
					font: 1.4em 'sourcesanspro-regular';
					text-transform: uppercase;
					padding: 13px 19px;
					text-decoration: none;
					color: @white;
					display: block;

					&:hover, &.active
					{
						background: url('@{image-path-default-desktop}/bg-menu-main-hover.jpg') repeat-x;
					}
				}

				ul.submenu
				{
					display: none;
					background: @white;
					position: absolute;
					top: 44px;
					width: auto;
					height: auto;
					padding: 0px 40px 0 20px;
		            z-index: 999;
		            .box-shadow;
					li
					{
						background: none;
						a
						{
							padding: 10px 70px 10px 0;
							text-transform: uppercase;
							color: @blue;
							border-bottom: 1px solid @gray;
							&:hover
							{
								background: none;
							}
							&.border-none
							{
								border-bottom: 0;
							}
						}
					}
				}

				&:hover ul
				{
					display: block;
				}
			}
		}

		.shopping-bag
		{
			.right;
			li
			{
				position: relative;
				a.icon-bag
				{
					width: auto;
					background-color: #545a6b;
					height: 44px;
					padding: 0 26px 0 64px;
					display: block;
					font: 1.4em 'sourcesanspro-regular';
					color: @white;
					line-height: 45px;
					background-position: 22px -177px;
				}
			}

			li:hover .shopping-bag-products
			{
				.display-block;
			}

			.shopping-bag-products
			{
				.display-none;
				top: 44px;
				right: 0;
				position: absolute;
				background: @white;
				padding: 20px;
				z-index: 9999;
				.box-shadow;
				ul
				{
					.overflow;
				}
				li
				{
					a
					{
						display: block;
						width: 373px;
						text-decoration: none;
						color: @black;
						font-family: 'sourcesanspro-semibold';
						padding: 14px 0;
						border-bottom: 1px solid @black;
						.overflow;
						img
						{
							border: 1px solid @gray;
							.left;
							margin-right: 10px;
						}
						h4
						{
							margin: 10px 0 6px 0;
							font-size: 1.6em;
							.left;
						}
						.description
						{
							font-size: 1.4em;
							width: 128px;
							.left;
						}
						.price
						{	
							margin-top: 50px;
							font-size: 1.4em;
							.right;
						}
					}
				}

				.shopping-bag-products-content
				{
					width: 265px;
					.left;
				}

				.shopping-bag-products-price-final
				{
					padding-top: 26px;
					p
					{
						font-family: 'sourcesanspro-semibold';
						font-size: 1.3em;
						color: @black;
						.right;
						span + span
						{
							font-size: 2.0em;
							padding-left: 32px;
						}
					}
					.btn
					{
						.right;
						clear: both;
						margin-top: 30px;
					}
				}
			}
		}	
	}

}
