@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.filter-meus-pedidos
	{
		li + li
		{
			margin-left: 10px;
		}
	}

	.col-1
	{
		width: 101px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-2
	{
		width: 116px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-3
	{
		width: 100px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-4
	{
		width: 115px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-5
	{
		width: 186px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-6
	{
		width: 85px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-7
	{
		width: 187px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-8
	{
		width: 62px;
		text-align: center;
	}

	.table-meus-pedidos
	{
		.icon-lupa
		{
			margin: 19px 0 0 20px;
		}
	}

	.pagination
	{
		.center;
	}

	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}
}