@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.col-1
	{
		width: 147px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-2
	{
		width: 99px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-3
	{
		width: 101px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-4
	{
		width: 155px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-5
	{
		width: 153px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.col-6
	{
		width: 149px;
		text-align: center;
		border-right: 1px solid @black;
	}

	.filter-notas-fiscais
	{
		li
		{
			margin-right: 30px;
		}
	}

	.pagination
	{
		.center;
	}


	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}

}