@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	.theader
	{
		.col-1
		{
			text-align: center;
			width: 698px;
		}
	}

	.tbody
	{
		.col-1
		{
			text-align: left;
			padding-left: 20px;
			width: 678px;
			border-right: 1px solid @black;
		}
	}


	.col-2
	{
		width: 112px;
		text-align: center;
		border-right: 1px solid @black;
	}
	.col-3
	{
		width: 146px;
	}

	.pagination
	{
		.center;
	}
}