@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	.suggestions
	{
		width: 630px;
		padding-top: 36px;
		.center;

		.title-default
		{
			margin-bottom: 30px;
		}

		.requerid
		{
			font-size: 1.2em;
			color: @black;
			margin-top: 10px;
			.left;
		}

		.row
		{
			&.historic
			{
				.btn
				{
					margin-right: 45px;
				}
			}
		}
	}

	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}
}	