@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	// Table config

	.col-1
	{
		width: 244px;
	}

	.col-2
	{
		width: 234px;
		text-align: center;
	}

	.col-3
	{
		width: 228px;
		text-align: center;
	}

	.col-4
	{
		width: 251px;
	}

	.tbody
	{
		height: auto;
		.col-2
		{
			border-left: 1px solid @darck-gray;
			border-right: 1px solid @darck-gray;
		}
		.col-3
		{
			border-right: 1px solid @darck-gray;
		}

	}
}	