@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";

	.user-register
	{
		padding-top: 38px;
		min-height: 350px;
		
		.title-default
		{
			margin-bottom: 38px;
		}

		.row-controls
		{
			padding-top: 26px;
		}

		p
		{
			font-size: 1.2em;
			margin: 10px 27px 0 0;
		}
	}

	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}
}	

