@media screen and (min-width: 1000px) {

	@import "../variables";
	@import "../helpers";


	.videos
	{
		padding-top: 30px;
		background-color: #efefef;

		.videos-main
		{
			padding: 0 35px 0 19px;

			.videos-description
			{
				margin-top: 50px;
				.right;
				width: 250px;
				h4
				{
					font: 2.8em 'sourcesanspro-semibold';
					color: @black;
				}
				.date
				{
					display: block;
					font: 1.8em 'sourcesanspro-bold';
					color: #89cafb;
					width: 140px;
					margin-top: 20px;
					padding-bottom: 17px;
					border-bottom: 1px solid #e1e1e1; 
				}
				p
				{
					margin-top: 17px;
					font: 1.4em 'sourcesanspro-regular';
					color: @black;
				}
			}

		}
	}

	.pagination
	{
		.center;
	}

	.constrols-video
	{
		li
		{
			margin-left: 30px;
		}
	}


	::-webkit-input-placeholder {  
	color: #393939;
	}
	:-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	::-moz-placeholder { 
	color: #393939;
	opacity: 1;
	}
	:-ms-input-placeholder {
	color: #393939;
	}

}