@media screen and (min-width: 999px) {
  .filter-acesso-administrador {
    list-style: none;
    overflow: hidden;
  }
  .filter-acesso-administrador li {
    margin-right: 28px;
    margin-top: 15px;
  }
  
}
