@import "../tablet/book-produtos.css";
@media screen and (min-width: 1000px) {
  .constrols-book-products li {
    margin-right: 19px;
  }
  .constrols-book-products .filter-book-products,
  .constrols-book-products .title-default {
    margin-left: 19px;
  }
  .pagination {
    margin: 0 auto;
  }
  .book-products {
    overflow: hidden;
    padding: 30px 0 0 0;
    background-color: #efefef;
  }
  .book-products ul {
    overflow: hidden;
  }
  .book-products ul li {
    width: 154px;
    height: 353px;
    margin: 0 19px 78px 19px;
  }
  .book-products ul li img {
    border: 1px solid #dadada;
    margin-bottom: 27px;
  }
  .book-products ul li h4 {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
  }
  .book-products ul li span {
    font: 1.4em 'sourcesanspro-bold';
    color: #64bdff;
  }
  .book-products ul li p {
    font: 1.4em 'sourcesanspro-regular';
    display: block;
    height: 50px;
    margin: 20px 0 35px 0;
    width: 154px;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
  .catalog-products {
    background-color: #ffffff;
    padding: 50px 0;
    overflow: hidden;
  }
  .catalog-products ul {
    overflow: hidden;
    margin-left: 19px;
  }
  .catalog-products ul li {
    height: 214px;
  }
  .catalog-products ul li + li {
    margin-left: 84px;
  }
  .catalog-products ul li img {
    border: 1px solid #dadada;
    float: left;
  }
  .catalog-products ul li .description {
    width: 171px;
    float: left;
    margin-left: 28px;
  }
  .catalog-products ul li .description h3 {
    font: 2em 'sourcesanspro-semibold';
    color: #393939;
    margin-bottom: 20px;
  }
  .catalog-products ul li .description span {
    font: 1.4em 'sourcesanspro-bold';
    color: #8dcfff;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
    display: block;
    width: 137px;
  }
  .catalog-products ul li .description p {
    font: 1.4em 'sourcesanspro-regular';
    width: 171px;
  }
  .catalog-products ul li .description .btn {
    float: left;
    margin-top: 20px;
  }
}
