@import "../tablet/danfe.css";
@media screen and (min-width: 1000px) {
  .col-1 {
    width: 100px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-2 {
    width: 104px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-3 {
    width: 105px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-4 {
    width: 104px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-5 {
    width: 110px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-6 {
    width: 190px;
    text-align: center;
  }
  .col-7 {
    width: 260px;
  }
  .col-7 a {
    margin-left: 50px;
  }
  .col-7 a + a {
    margin-left: 0;
  }
  .filter-danfe li + li {
    margin-left: 5px;
  }
  .pagination {
    margin: 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
