@import "../tablet/fale-conosco.css";
@media screen and (min-width: 1000px) {
  .contact-us {
    overflow: hidden;
    padding-top: 36px;
  }
  .contact-us .box-1 {
    width: 540px;
    margin-left: 19px;
    overflow: hidden;
    float: left;
  }
  .contact-us .box-1 h3 {
    float: left;
  }
  .contact-us .box-2 {
    width: 302px;
    margin-right: 19px;
    overflow: hidden;
    float: right;
  }
  .contact-us .box-2 h3 {
    font: 3.2em 'proximanova-bold';
    color: #0f3e62;
    margin-bottom: 30px;
  }
  .contact-us .box-2 p {
    margin-top: 20px;
    font: 1.4em 'sourcesanspro-regular';
    color: #393939;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
