@import "../tablet/fazer-pedido-grade.css";

.btni.excluir{
  margin-right: 10px;
}

table.absolute tr>td:first-child>a{
    color:#fff;
    text-decoration: underline;
    padding:27px 5px;
    display: block;
    height: 72px;
    box-sizing:border-box;
}

table.absolute tr>td:first-child{
  padding:0;
}

@media screen and (min-width: 1000px) {
  .filter-fazer-pedido-grade li {
    margin-right: 20px;
  }
  .col-1 {
    width: 108px;
    border-right: 1px solid #393939; 
    text-align: center;
  }
  .col-2 {
    width: 126px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-3 {
    width: 38px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-4 {
    width: 68px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-5 {
    width: 97px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-6 {
    width: 83px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-7 {
    width: 85px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-8 {
    width: 93px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-9 {
    width: 95px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-10 {
    width: 103px;
    text-align: center;
  }

  .col-1, .col-2, .col-3, .col-4 {
    color: #FFF !important;
  }

  .table.table-fazer-pedido-grade li.tbody {
    background: url(../../images/desktop/bg-table.jpg) bottom center;
  }

  .table.table-fazer-pedido-grade li.tbody.no-bg {
    background: url(../../images/desktop/bg-table-nobg.jpg) bottom center;
  }

  .table.table-fazer-pedido-grade .theader .coluns li {
    font: 1.8em 'sourcesanspro-semibold';
  }

  .table.table-fazer-pedido-grade .coluns li:last-child {
    border-right: 0;
  }

  table.produtos thead tr th {
    position: relative;
  }

  table.produtos thead tr th a:hover .tooltip {
  }
  
  .tooltip .tooltip-content h5 {
    color: #393939;
    font: 1.2em "sourcesanspro-regular";
    margin: 10px 0  20px 0;
  }
  
  
  .tooltip .tooltip-content ul li {
    color: #393939;
    font: 1em "sourcesanspro-regular";
    margin-left: 0;
  }
	
  div.scroll-tabela {position: relative;overflow:auto;}
  table.absolute , table.produtos {float:left; text-align: center; position: relative;}
  table.absolute {width: 40%;-webkit-box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.68);
-moz-box-shadow:    2px 0px 4px 0px rgba(50, 50, 50, 0.68);
box-shadow:         2px 0px 4px 0px rgba(50, 50, 50, 0.68);position:relative;z-index:1;}
  table.produtos {width: 100%;}
  table.absolute thead tr>th , table.produtos thead tr>th {height: 90px; color: #FFF; background-color: #404451; font: 1.35em 'sourcesanspro-semibold';}
  table.absolute thead tr>th, table.produtos thead tr>th a { color: #FFF; line-height:16px;}
  table.produtos thead tr>th, table.produtos tbody tr>th {width:150px; }
  table.produtos tbody tr td input {font: 1em 'sourcesanspro-semibold';}
  table.produtos thead tr th img {border: 1px solid #929292;}
  table.absolute tr td , table.produtos tr td, table.produtos tr th, table.absolute tr th {padding: 0 5px;}
  table.absolute tbody tr td, table.produtos tbody tr td {font: 1.3em 'sourcesanspro-semibold'; height: 72px; border-bottom: 1px solid #404450; border-right: 1px solid #404450;}
  table.produtos tbody tr td:last-child {border-right: 0;}
  table.absolute tbody tr td {background-color: #5a5f72; color: #FFF;}

table.produtos td>a,table.produtos th>a{display: block;width:115px;}
.controls>.container>form{
  float: left;
  overflow: hidden;
}
.controls>.container>figure{
    overflow: hidden;
    float: right;
  }
.controls+div{
  position:relative;
}
  .amount {
    background: #6980c6;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }

  input.seupedido {
    font-size: 1em !important;
  }
}
