@import "../tablet/historico-reclamacoes.css";
@media screen and (min-width: 1000px) {
  .filter-complaints {
    list-style: none;
  }
  .filter-complaints li + li {
    margin-left: 18px;
  }
  .col-1 {
    width: 109px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-2 {
    width: 133px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-3 {
    width: 211px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-4 {
    width: 154px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-5 {
    width: 260px;
    border-right: 1px solid #393939;
    text-align: center;
  }
  .col-6 {
    width: 41px;
  }
  .icon-lupa {
    float: right;
    margin-top: 14px;
  }
  .pagination {
    margin: 5px auto 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
