@import "../tablet/historico-financeiro.css";
@media screen and (min-width: 1000px) {
  .filter {
    float: left;
  }
  .filter li {
    margin-right: 17px;
  }
  .pagination {
    margin: 0 auto;
  }
  .controls .btn {
    float: right;
    margin-right: 20px;
  }
  .col-1 {
    width: 120px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-2 {
    width: 100px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-3 {
    width: 90px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-4 {
    width: 100px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-5 {
    width: 160px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-6 {
    width: 100px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-7 {
    width: 120px;
    border-right: 1px solid #4b4b4b;
    text-align: center;
  }
  .col-8 {
    width: 120px;
  }

  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
