@import "../tablet/historico-reclamacoes-detalhe.css";
@media screen and (min-width: 1000px) {
  .complaints {
    background-color: #fff;
    padding: 28px 0;
    overflow: hidden;
  }
  .complaints.no-bg {
    background-color: #efefef;
  }
  .complaints ul {
    list-style: none;
    width: 700px;
    overflow: hidden;
    margin-left: 21px;
    float: left;
  }
  .complaints .time {
    float: right;
    font: 1.6em 'sourcesanspro-semibold';
    margin-top: 70px;
  }
  .complaints .date {
    font: 1.6em 'sourcesanspro-bold';
    color: #a5a5a5;
    margin-bottom: 38px;
  }
  .complaints .name {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
    margin-bottom: 38px;
  }
  .complaints p {
    font: 1.6em 'sourcesanspro-regular';
  }
  .complaints.info {
    padding: 38px 0;
  }
  .complaints.info li {
    font: 2em 'sourcesanspro-regular';
    color: #393939;
    margin-bottom: 10px;
  }
  .complaints.info li strong {
    font: 1em 'sourcesanspro-semibold';
  }
  .complaints.info li p {
    font-size: 0.8em;
  }
}
