
  nav {display: none;}
  .header-default-logo-client {display: none;}
  .suport {display: none;}
  .breadcrumb {display: none;}
  table a.btn {visibility: visible;}
  /*a.btn {visibility: hidden;}*/
  /* FOOTER */
  footer {display: none;}

  .title-page {
    height: 70px;
    padding-top: 18px;
    background: url("../images/desktop/bg-title-page.jpg") center top no-repeat;
  }
  .title-page h2 {
    font: 3.2em 'proximanova-bold';
    text-transform: uppercase;
    color: #005595;
    margin: 0;
  }
  .title-page .breadcrumb {
    margin-top: -5px;
    overflow: hidden;
  }
  .title-page .breadcrumb li {
    margin-right: 9px;
  }
  .title-page .breadcrumb li a {
    font: 1.4em 'sourcesanspro-regular' !important;
    color: #ffffff;
  }
  .title-page .breadcrumb li a.active {
    font: 1.4em 'sourcesanspro-bold';
    text-decoration: underline;
  }
  .title-page .breadcrumb li + li:before {
    content: ">";
    color: #ffffff;
    font: 1.4em 'sourcesanspro-regular';
    margin-right: 9px;
  }
  .controls .container {
    padding: 42px 0;
    overflow: hidden;
  }
  .controls .container .filter {
    overflow: hidden;
  }
  .controls .container h3 {
    color: #393939;
    font: 2.2em 'sourcesanspro-semibold';
    margin-bottom: 5px;
  }
  .table {
    width: 100%;
    list-style: none;
  }
  .table .btn {
    font: 1em 'proximanova-bold';
  }
  .table .theader {
    background-color: #404451;
    padding: 25px 0;
    text-align: center;
  }
  .table .theader .coluns {
    overflow: hidden;
  }
  .table .theader .coluns li {
    font: 2.2em 'sourcesanspro-semibold';
    color: #ffffff;
    border: 0;
    vertical-align: middle;
    display: table-cell;
  }
  .table .tbody {
    width: 100%;
    background-color: #efefef;
  }
  .table .tbody .coluns {
    overflow: hidden;
  }
  .table .tbody .coluns li {
    font: 1.3em 'sourcesanspro-semibold';
    color: #4b4b4b;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: table-cell;
  }
  .table .tbody.no-bg {
    background-color: #ffffff;
  }
  .table .col-btn-two a {
    margin-left: 15px;
  }
  .table .col-btn-two a + a {
    margin-right: 15px;
    margin-left: 0;
  }

  .request-detail {
    width: 694px;
    margin: 36px auto;
  }
  .table-request-detail {
    width: 100%;
    border: 1px solid #e7e7e7;
    margin-bottom: 45px;
  }
  .table-request-detail tr td {
    vertical-align: middle;
    text-align: center;
    font-family: 'sourcesanspro-semibold';
    color: #393939;
  }
  .table-request-detail thead.main-head tr td {
    height: 46px;
    background-color: #404451;
    color: #ffffff;
    font-size: 2.2em;
  }
  .table-request-detail thead.sub-head tr td {
    height: 31px;
    background-color: #dadada;
    font-size: 1.6em;
  }
  .table-request-detail tbody tr td {
    height: 49px;
    font-size: 1.5em;
    border-right: 1px solid #e7e7e7;
  }
  .table-request-detail tbody tr td:last-child {
    border-right: 0;
  }
  .table-request-detail tbody tr td.num-pedido {
    font-size: 2.4em;
    color: #1089e3;
  }
  .table-request-detail tbody tr td .btn {
    font: 0.8em 'proximanova-bold';
  }
  .table-request-detail tbody tr td.status {
    position: relative;
    width: 298px;
  }
  .table-request-detail tbody tr td.status:hover .tooltip {
    display: block;
    top: -50px;
    right: -260px;
  }
  .table-request-detail tbody tr td.status .tooltip {
    text-align: left;
  }
  .table-request-detail tbody tr td.status .tooltip h5 {
    font: 1.4em 'sourcesanspro-semibold' !important;
    text-transform: uppercase;
  }
  .table-request-detail tbody tr td.status .tooltip a {
    text-decoration: underline;
