@import "../tablet/manual.css";
.leia-mais{
  margin:0 auto;
  margin-top: 10px;
  color:#fff;
}
@media screen and (min-width: 1000px) {
  .center {
    margin: 0 auto;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .inline-block {
    list-style: none;
  }
  .clear {
    clear: both;
  }
  .inline-block li {
    display: block;
    float: left;
  }
  .overflow {
    overflow: hidden;
  }
  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
  .box-shadow {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }
  .banner-manual div {
    background-position: top center;
    height: 285px;
    width: 100%;
  }
  .pagination {
    margin: 0 auto;
  }
  .products-manual {
    background-color: #efefef;
    overflow: hidden;
    padding-top: 50px;
  }
  .products-manual ul {
    overflow: hidden;
    margin: 0 auto;
    display: table;
    width: auto;
  }
  .products-manual ul li {
    width: 154px;
    margin:0 35px 42px;
    height: 235px;
  }
  .products-manual ul li img {
    border: 1px solid #dadada;
  }
  .products-manual ul li h2 {
    font: 1.6em 'sourcesanspro-semibold';
    color: #393939;
  }
  .products-manual ul li span {
    font: 1.4em 'sourcesanspro-bold';
    color: #ae6ff4;
  }
}
