@import "../tablet/meus-pedidos.css";

.row>.title-default{
	float: left;
}
.row>ul{
	float: right;
}

.row .input-filtrar-pedidos{
	float: right;
	background: #64bdff;
}

.input-2, .select{
	border-color: #64bdff;
}

.filtrar-width-1{
	width: 486px;
}

.select.filtrar-width-2{
	width: 226px;
}

.filtrar-width-2{
	width: 188px;
}

.filtrar-width-3{
	width: 126px;
}
.select.filtrar-width-3{
	width: 164px;
}

.filtrar-width-4{
	width: 114px;
}

.filtrar-width-5{
	width: 104px;
}

@media screen and (min-width: 1000px) {
  .filter-meus-pedidos li + li {
    margin-left: 10px;
  }
  .table .theader .coluns>.col-1, .table .tbody .coluns>.col-1{
    width: 10%;
  }
  .table .theader .coluns>.col-2, .table .tbody .coluns>.col-2{
    width: 9%;
  }
  .table .theader .coluns>.col-3, .table .tbody .coluns>.col-3{
    width: 10%;
  }
  .table .theader .coluns>.col-4, .table .tbody .coluns>.col-4{
    width: 8%;
  }
  .table .theader .coluns>.col-5, .table .tbody .coluns>.col-5{
    width: 8%;
  }
  .table .theader .coluns>.col-6, .table .tbody .coluns>.col-6{
    width: 16%;
  }
  .table .theader .coluns>.col-7, .table .tbody .coluns>.col-7{
    width: 10%;
  }
  .table .theader .coluns>.col-8, .table .tbody .coluns>.col-8{
    width: 62px;
  }
  .col-1 {
    width: 66px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 95px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 95px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    width: 95px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-5 {
    width: 95px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    width: 95px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-7 {
    width: 130px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-8 {
    width: 65px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-9 {
    width: 120px;
    text-align: center;
    border-right: 1px solid #393939;
    padding: 0 10px;
  }
  .col-10 {
    width: 95px;
    text-align: center;
  }
  .table-meus-pedidos .icon-lupa {
    margin: 0 0 0 20px;
  }
  .pagination {
    margin: 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
