@import "../tablet/notas-fiscais.css";
@media screen and (min-width: 1000px) {
  .col-1 {
    width: 147px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 99px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 101px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    width: 155px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-5 {
    width: 153px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    width: 149px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .filter-notas-fiscais li {
    margin-right: 30px;
  }
  .pagination {
    margin: 0 auto;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
