@import "../tablet/noticias.css";
@media screen and (min-width: 1000px) {
  .news-block {
    float: right;
    width: 320px;
    background-color: #efefef;
    min-height: 662px;
    padding-top: 28px;
  }
  .news-block .news-block-detail {
    width: 322px;
    float: left;
  }
  .news-block .news-block-detail h3 {
    float: left;
    font: 3em 'proximanova-bold';
    text-transform: uppercase;
    color: #6c0000;
    margin-left: 10px;
  }
  .news-block .news-block-detail .select {
    background-color: #ffffff;
    float: right;
    margin-right: 10px;
  }
  .news-block .news-block-detail .news-list {
    float: left;
    list-style: none;
    margin-top: 15px;
    overflow:auto;
  }
  .news-block .news-block-detail .news-list li a {
    text-decoration: none;
    padding: 30px 24px 30px 25px;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #dbdbdb;
  }
  .news-block .news-block-detail .news-list li a:hover {
    background-color: #fd4949;
  }
  .news-block .news-block-detail .news-list li a:hover>h4, .news-block .news-block-detail .news-list li a:hover>p {
    color: #ffffff;
  }
  .news-block .news-block-detail .news-list li h4 {
    font: 1.9em 'proximanova-bold';
    color: #fd4949;
  }
  .news-block .news-block-detail .news-list li p {
    font-size: 1.4em;
    color: #fd4949;
    margin: 14px 0;
  }
  .news-block .news-block-detail .news-list li span {
    font-size: 1.2em;
    color: #393939;
  }
  .news-block .pagination {
    display: none;
    padding: 30px 0 0 54px;
  }
  .news-detail {
    float: left;
    background-color: #ffffff;
    min-height: 662px;
    padding:26px 0 0 15px;
  }
    .news-detail-content>img{
    float: left;
    margin-right: 20px;
    width: 310px;
  }

  .news-detail .news-detail-content {
    width: 580px;
    float: left;
  }
  .news-detail .news-detail-content .title-default {
    font: 2.8em 'sourcesanspro-semibold';
  }
  .news-detail .news-detail-content .author {
    font: 1.6em 'sourcesanspro-regular';
    margin-bottom: 25px;
    display: block;
  }
  .news-detail .news-detail-content .date {
    font: 1.6em 'sourcesanspro-bold';
    color: #fd4949;
    margin-bottom: 30px;
    display: block;
  }
  .red .select{
    border-color:#fd4949;
  }
  .imprimir{
    float: right;
    margin-top:20px;
  }
  .news-detail .news-detail-content .manchete {
    font: 2em 'sourcesanspro-regular';
    padding-bottom: 44px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 36px;
  }
  .news-detail .news-detail-content p {
    font: 1.4em 'sourcesanspro-regular';
    margin-bottom: 23px;
  }
}
