@import "../tablet/pedidos.css";
@media screen and (min-width: 1000px) {
  .theader .col-1 {
    text-align: center;
    width: 698px;
  }
  .tbody .col-1 {
    text-align: left;
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 658px;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 112px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 146px;
  }
  .pagination {
    margin: 0 auto;
  }
}
