@import "../tablet/protocolo-pedido.css";
@media screen and (min-width: 1000px) {
  .request-list>.title-default {
    font-size:28px;
    color: #005595;
    padding: 24px 0 16px 0;
    overflow: hidden;
  }
  .title-default{
    font-size: 26px;
    margin-bottom:8px;
  }
  .request {
    padding: 0 20px;
  }
  .request .request-list {
    list-style: none;
  }
  .request .request-list li {
    overflow: hidden;
    padding: 23px 28px;
    width: auto;
    background-color: #f2f2f2;
    margin-bottom: 10px;
  }
  .request .request-list>li a{
    margin-top: 22px;
  }
  .request .request-list li h3 {
    font: 2.6em 'sourcesanspro-semibold';
    color: #393939;
    margin-bottom: 7px;
  }
  .request .request-list li p {
    font: 2em 'sourcesanspro-semibold';
    color: #393939;
  }
  .request .request-list li p span {
    color: #0d6fb7;
  }
  .request .request-list li p + p {
    font: 1.6em 'sourcesanspro-semibold';
  }
  .request .request-list li p + p span {
    color: #393939;
    font: 1em 'sourcesanspro-regular';
  }
  .request .btn {
    float: right;
    margin-top: 32px;
    font-size: 13px;
  }
  .request .request-list-left {
    width: 500px;
    float: left;
  }
  .satisfaction-survey {
    margin-top: 24px;
    padding: 0 20px;
  }
  .satisfaction-survey .sub-title {
    font: 1.8em 'sourcesanspro-semibold';
    color: #393939;
    margin-bottom: 10px;
  }
  .satisfaction-survey ul {
    margin-bottom: 50px;
    list-style: none;
  }
  .satisfaction-survey ul li {
    margin-bottom: 16px;
    font: 1.4em 'sourcesanspro-regular';
  }
  .satisfaction-survey ul li input[type="radio"] {
    margin-right: 8px;
  }
}
