@media screen and (min-width: 1000px) {
.filter-meus-pedidos li{
  padding-left: 20px;
}
  .table .theader .coluns>.col-1, .table .tbody .coluns>.col-1{
    min-width: 8%;
  }
  .table .theader .coluns>.col-2, .table .tbody .coluns>.col-2{
    min-width: 8%;
  }
  .table .theader .coluns>.col-3, .table .tbody .coluns>.col-3{
    min-width: 8%;
  }
  .table .theader .coluns>.col-4, .table .tbody .coluns>.col-4{
    min-width: 8%;
  }
  .table .theader .coluns>.col-5, .table .tbody .coluns>.col-5{
    min-width: 8%;
  }
  .table .theader .coluns>.col-6, .table .tbody .coluns>.col-6{
    min-width: 8%;
  }
  .table .theader .coluns>.col-7, .table .tbody .coluns>.col-7{
    min-width: 8%;
  }
  .table .theader .coluns>.col-8, .table .tbody .coluns>.col-8{
    min-width: 8%;
  }
  .table .theader .coluns>.col-9, .table .tbody .coluns>.col-9{
    min-width: 8%;
  }
  .col-1 {
    width: 8%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 8%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 8%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-4 {
    width: 8%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-5 {
    width: 8%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-6 {
    width: 8%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-7 {
    width: 7%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-8 {
    width: 7%;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-9 {
    width: 7%;
    text-align: center;
    border-right: 1px solid #393939;
    padding: 0 10px;
  }
  .col-10 {
    width: 7%;
    text-align: center;
  }
  .table-meus-pedidos .icon-lupa {
    margin: 0 0 0 20px;
  }
  .pagination {
    margin: 0 auto;
  }

}
