@import "../tablet/sugestoes.css";
@media screen and (min-width: 1000px) {
  label.error{
    position: absolute;
  }
  .row{
    margin-bottom: 13px;
  }
  .suggestions {
    width: 630px;
    padding-top: 25px;
    margin: 0 auto;
  }
  .suggestions .title-default {
    margin-bottom: 30px;
  }
  .suggestions .requerid {
    font-size: 1.2em;
    color: #393939;
    margin-top: 10px;
    float: left;
  }
  .suggestions .row.historic .btn {
    margin-right: 45px;
  }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
