@import "../tablet/relatorios-gerenciais.css";
@media screen and (min-width: 1000px) {
  .pagination {
    margin: 0 auto;
  }
  .theader .col-1 {
    text-align: center;
  }
  .col-1 {
    width: 636px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: left;
    border-right: 1px solid #393939;
  }
  .col-2 {
    width: 155px;
    text-align: center;
    border-right: 1px solid #393939;
  }
  .col-3 {
    width: 133px;
    text-align: center;
  }
  .col-3 .icon-file {
    margin: 7px 0 0 40px;
  }
}
