@import "../tablet/usuario-cadastro.css";
@media screen and (min-width: 1000px) {
  .user-register {
    padding-top: 38px;
    min-height: 350px;
  }
  .user-register .title-default {
    margin-bottom: 38px;
  }
  .user-register .row-controls {
    padding-top: 26px;
  }
  .user-register p {
    font-size: 1.2em;
    margin: 10px 27px 0 0;
  }
  .row{
	margin-bottom:12px;
 }
  ::-webkit-input-placeholder {
    color: #393939;
  }
  :-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: #393939;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #393939;
  }
}
