<link type="text/css" rel="stylesheet" href="styles/pedidos-salvos.css"/>
<link type="text/css" rel="stylesheet" href="styles/fazer-pedido-responsivo.css"/>
<link type="text/css" rel="stylesheet" href="styles/fazer-pedido-responsivo.css"/>
<link type="text/css" rel="stylesheet" href="styles/easyzoom.css"/>

<script type="text/javascript">
	function validacaoQuantidade($this) {
		const $self = $this || $(this);
		const $parent = $('[data-id="'+$self.attr('data-qty')+'"]');		
		const value = parseInt($self.val());
		
		const maxValue = parseInt($parent.attr('data-qtde'));
		
		const type = $parent.attr('data-tipo');
		const control = $parent.attr('data-controle');
		
		if(type === 'X' && control === 'B' && value > maxValue) {
			$self.val(0)
			
			// blockNotification('valor maximo atingido'); 
			
			return {
				max: maxValue,
				passed: false
			};
		}
		
		return {passed: true}
	}
	
    var podeProsseguir = true;
    jQuery(function($) {
    $('#limparCarrinho').click(function() {
    $(".input").val(0);
    $("#totalPedido").html("R$ 0,00");
    $.ajax({
    url: '<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/limpar-carrinho?tipo=s',
            success: function(data) {
            if (data.success == true) {
            $('#totalPedido').html("R$ 0,00");
            window.location.href = window.location.href;
            } else {
            block("Houve um problema ao limpar o seu pedido.");
            setTimeout('unblock()', 5000);
            }
            }
    });
    $.unblockUI();
    });
    $('.input').mask('0000000000');
    $(".input").on('keyup, change, input', function() {
	
    var idProd = $(this).attr('id');
	const qtdeAtual = $(this).val();
	const $self = $(this);
    $.ajax({
    url: '<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/adicionar',
            data: {

<?php if ($this->pedido) { ?>
                pedido: <?php echo $this->pedido->getCodigo(); ?>,
                        loja: <?php echo $this->pedido->getLoja()->getCodigo(); ?>,
<?php } ?>

<?php if ($this->linha) { ?>
                linha: '<?php echo $this->linha->getCodigo(); ?>',
<?php } ?>
            produto: idProd,
                    qtde: $(this).val()
            },
            success: function(data) {
            if (data.success == true) {
            $('#precoProdTotal' + idProd).text("R$ " + data.precoProdTotal);
            $('#totalPedido').html("R$ " + data.totalPedido);
            $('#totalPecas' + idProd).html(data.totalPecas);
            }
                if(!data.prosseguir){
                    podeProsseguir = false;
                } else {
                    podeProsseguir = true;
                }
				
				if(data.message) {
					blockNotification(data.message);
				}
				
				if(data.indisponivel) {
					setTimeout(() => {
						$self.val(0).trigger('input');
					}, 200)
					 //$('#totalPedido').html("R$ " + data.totalPedido);
				}
				
				// if(data.maximo) $self.val(data.maximo).trigger('change');
            }
    });
    });
<?php if ($this->aviso) { ?>
        $.blockUI({
        message: $('#aviso'),
                css: {
                border: 'none',
                        padding: '15px',
                        backgroundColor: '#fff',
                        color: '#000',
                        width: '500px'
                }
        });
<?php } ?>
$('#buscar').click(function() {

    if ($('#linha').val() != '') {
        idLinha = '<?php echo $this->linha ? $this->linha->getCodigo() : ''; ?>';
        $.blockUI({
            message: $('#question'),
            css: {
            border: 'none',
                    padding: '15px',
                    backgroundColor: '#fff',
                    color: '#000',
                    width: '500px'
            }
        });
    }
});
    $('#sim').click(function() {
        $('#frmBusca').submit();
    });

    $('#nao').click(function() {
        $.unblockUI();
        return false;
    });
    $('#simAviso').click(function() {
    window.location.href = '<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/meus-pedidos';
    });
    $('#naoAviso').click(function() {
    $.unblockUI();
    return false;
    });
<?php if ($this->aprovador == true) { ?>
        $('#simReprovar').click(function() {
        $.ajax({
        url: '<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/reprovar',
                data: {
                pedido: <?php echo $this->pedido->getCodigo(); ?>
                },
                success: function(data) {
                block(data.message);
                setTimeout('unblock()', 5000);
                if (data.success == true) {
                window.location.href = "<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/meus-pedidos";
                }
                }
        });
        });
        $('#naoReprovar').click(function() {
        $.unblockUI();
        return false;
        });
<?php } ?>

<?php if ($this->presicaAprovar == true) { ?>
        $('#simFinalizar').click(function() {
        prosseguir();
        });
        $('#naoFinalizar').click(function() {
        $.unblockUI();
        return false;
        });
<?php } ?>
    });
    function limpar() {
    $(".input").each(function(value) {
    $(".input").val(0);
    $(".input").keyup();
    });
    }

    function prosseguir() {
        if (!podeProsseguir) {
            return;
        }

<?php if ($this->alterarQtde == true) { ?>
        var prosseguir = false;
        $.each($(".input"), function(index, value) {
        if (parseInt($(this).val()) > 0) prosseguir = true;
        });
<?php } else { ?>
        var prosseguir = true;
<?php } ?>

    if (prosseguir) {
    window.location.href = "<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/resumo?seuNumero=" + $("#seuNumero").val();
    } else {
    block("&Eacute; necess&aacute;rio informar a quantidade de pelo menos 1 produto!");
    setTimeout('unblock()', 5000);
    }
    }

    function zoom() {
    var $easyzoom = $('.easyzoom').easyZoom();
    }



    function abrirImagem(url) {
    $.colorbox({
    html:'<div class="easyzoom easyzoom--overlay"><a href="' + url + '"><img src="' + url + '" alt="" width="480" height="480" class="imagem-popup" onMouseOver="zoom();" /></a></div>',
            width: 480,
            height: 480,
    });
    }

<?php if ($this->aprovador == true) { ?>
        function reprovar() {
        $.blockUI({
        message: $('#reprovar'),
                css: {
                border: 'none',
                        padding: '15px',
                        backgroundColor: '#fff',
                        color: '#000',
                        width: '500px'
                }
        });
        }
<?php } ?>

<?php if ($this->presicaAprovar == true) { ?>
        function finalizar() {
        $.blockUI({
        message: $('#finalizar'),
                css: {
                border: 'none',
                        padding: '15px',
                        backgroundColor: '#fff',
                        color: '#000',
                        width: '500px'
                }
        });
        }
<?php } ?>

</script>
<div class="title-page">
    <div class="container">
        <h2>Fazer pedido</h2>
        <ul class="breadcrumb inline-block">
            <li><a href="<?php echo $this->BaseUrl(); ?>/home" title="P&aacute;gina Inicial">P&aacute;gina Inicial</a></li>
            <li><a href="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos" class="active" title="Fa&ccedil;a Seu Pedido">Fa&ccedil;a Seu Pedido</a></li>
        </ul>
    </div>
</div>
<div class="controls blue">
    <div class="container" style="width: 95%;margin-top: 40px;">
        <form name="frmBusca" id="frmBusca" action="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos" method="get" class="inativo-slide">
            <?php if (!$this->Combo()->getLinhas(false, false, false)->count() && !$this->linha) { ?>
                <h1>Nenhuma linha encontrada no sistema para fazer pedidos</h1>
            <?php } else { ?>
                <?php if ($this->aprovador == false) { ?>
                    <ul class="filter-fazer-pedido inline-block" style="margin-top: 15px;">
                        <li>
                            <label class="title-default">Buscar:</label>
                            <div>
                                <input type="text" class="input-busca" name="termo" id="Termo" placeholder="Digite c&oacute;d. ou descri&ccedil;&atilde;o" autocomplete="off" value='<?php echo $_GET["termo"]; ?>' />
                            </div>
                        </li>

                        <li>
                            <label class="title-default">Selecionar:</label>

                            <div class="select select-2" style="width: 345px;">
                                <select name="linha" id="linha">
                                    <?php
                                    foreach ($this->Combo()->getLinhas(false, false, false) as $linha) {
                                        $sel = '';
                                        ?>
                                        <?php if (isset($this->linha) && $this->linha->getCodigo() == $linha->getCodigo()) $sel = 'selected="selected"'; ?>
                                        <option value="<?php echo $linha->getCodigo(); ?>" <?php echo $sel; ?>>
                                            <?php echo $linha->getNome(); ?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </div>
                        </li>

                        <li>
                            <label class="title-default">Tipo de Produto:</label>

                            <div class="select select-2">
                                <select name="tipo" id="tipo">
                                    <option value="">Todos</option>
                                    <option value="0" <?php if ($_GET["tipo"] == "0") echo 'selected="selected"'; ?>>Consumo</option>
                                    <option value="1" <?php if ($_GET["tipo"] == "1") echo 'selected="selected"'; ?>>Personalizados</option>
                                </select>
                            </div>

                        </li>

                        <li style="padding-top: 28px;">
                            <input type="button" class="btni buscar" id="buscar" value="buscar">
                        </li>
                    </ul>
                <?php } else { ?>
                    <ul class="filter-fazer-pedido inline-block">
                        <li>
                            <h3 class="title-default"><?php echo $this->linha != null ? $this->linha->getNome() : ''; ?></h3>
                        </li>
                    </ul>
                <?php } ?>
            <?php } ?>
        </form>



        <form name="frmBusca" id="frmBusca" action="<?php echo $this->BaseUrl(); ?>/faca-seu-pedido/fazer-pedidos" method="get" class="responsivo" style="display:none;">
            <?php if (!$this->Combo()->getLinhas(false, false, false)->count() && !$this->linha) { ?>
                <h1>Nenhuma linha encontrada no sistema para fazer pedidos</h1>
            <?php } else { ?>
                <?php if ($this->aprovador == false) { ?>
                    <ul class="filter-fazer-pedido inline-block">
                        <li>
                            <label class="title-default">Buscar:</label>
                            <div>
                                <input type="text" class="input-busca" name="termo" id="Termo" placeholder="Digite c&oacute;d. ou descri&ccedil;&atilde;o" autocomplete="off" value='<?php echo $_GET["termo"]; ?>' />
                            </div>
                        </li>

                        <li>
                            <label class="title-default">Selecionar:</label>

                            <div class="select select-2" style="width: 345px;">
                                <select name="linha" id="linha">
                                    <?php
                                    foreach ($this->Combo()->getLinhas(false, false, false) as $linha) {
                                        $sel = '';
                                        ?>
                                        <?php if (isset($this->linha) && $this->linha->getCodigo() == $linha->getCodigo()) $sel = 'selected="selected"'; ?>
                                        <option value="<?php echo $linha->getCodigo(); ?>" <?php echo $sel; ?>>
                                            <?php echo $linha->getNome(); ?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </div>
                        </li>

                        <li>
                            <label class="title-default">Tipo de Produto:</label>

                            <div class="select select-2">
                                <select name="tipo" id="tipo">
                                        <option value="">Todos</option>
                                        <option value="0">Consumo</option>
                                        <option value="1">Personalizados</option>
                                </select>
                            </div>

                        </li>

                        <li>
                            <input type="button" class="btni buscar" id="buscar" value="buscar">
                        </li>
                    </ul>
                <?php } else { ?>
                    <ul class="filter-fazer-pedido inline-block">
                        <li>
                            <h3 class="title-default"><?php echo $this->linha != null ? $this->linha->getNome() : ''; ?></h3>
                        </li>
                    </ul>
                <?php } ?>
            <?php } ?>
        </form>
        <?php if ($this->linha != null) { ?>
            <?php if ($this->linha->getImagem()) { ?>
                <figure style="width: 25%;display: inline-block;">
                    <img style="width: 74%;display: inline-block;" src="<?php echo $this->linha->getImagem()->getBasePath(); ?>"  class="img-fazer-pedido" width="289" height="102">

                </figure>
            <?php } ?>
        <?php } ?>
    </div>
</div>


<div class="msg-rolar"><em><p>* Para visualizar a tabela por inteiro, role horizontalmente.</p></em><div class="fecha">x</div></div>

<div class="tabela-fixa">
    <?php if ($this->produtos) { ?>

        <ul class="table table-meus-pedidos">
            <li class="theader">
                <div class="container">
                    <ul class="coluns">
                        <li class="col-1">Imagem do Produto</li>
                        <li class="col-2">C&oacute;d. Antilhas</li>
                        <li class="col-3">C&oacute;d. Cliente</li>
                        <li class="col-4">Descri&ccedil;&atilde;o</li>
                        <li class="col-5">P&ccedil;. por M&oacute;dulo</li>
                        <li class="col-6">Qt. de M&oacute;dulos(s)</li>
                        <li class="col-6">Total Pe&ccedil;as</li>
                        <li class="col-7">V. Unit</li>
                        <li class="col-8">V. Total</li>
                    </ul>
                </div>
            </li>
            <?php
			//echo "<pre>" ; print_r($this->produtos);die();
            foreach ($this->produtos as $key => $produto) {
		
			
                $objProduto = App_Model_DAO_Produtos::getInstance()->createRow($produto);
                ?>
                <li class="tbody" data-qtde="20" data-tipo="<?php echo $produto['prod_cEstoque'] ?>" data-controle="<?php echo $produto['prod_tipocontrole']?>" data-id="<?php echo $key ?>" >			
				 <!-- <li class="tbody" data-qtde="<?php echo $produto['prod_Qtde'] ?>" data-id="<?php echo $key ?>" >-->
                    <div class="container">
                        <ul class="coluns">
                            <li class="pro col-1">
                                <?php if ($objProduto->getImagem()) { ?>
                                    <img style="width: 50px; cursor: pointer;" src="<?php echo $objProduto->getImagem()->getBasepath(); ?>" onclick="abrirImagem('<?php echo $objProduto->getImagem()->getBasepath(); ?>')">
                                <?php } ?>
                            </li>
                            <li class="col-2"><?php echo $objProduto->getCodigo(); ?></li>
                            <li class="col-3"><?php echo $objProduto->getIdClienteExterno(); ?></li>
                            <li class="col-4"><?php echo $objProduto->getDescricao(); ?></li>
                            <li class="col-5"><?php echo $objProduto->getPcModulo(); ?></li>
                            <li class="col-6">
                                <?php if ($this->alterarQtde == true) { ?>
                                    <input type="text" class="input input-size-9" name="produto[<?php echo $objProduto->getCodigo(); ?>]" id="<?php echo $objProduto->getCodigo(); ?>" value="<?php echo $produto['car_item_qtde'] ? $produto['car_item_qtde'] : 0; ?>" maxlength="10" data-qty="<?php echo $key ?>" >
                                <?php } else { ?>
                                    <?php echo $produto['car_item_qtde'] ? $produto['car_item_qtde'] : 0; ?>
                                <?php } ?>
                            </li>
                            <li class="col-6" id="totalPecas<?php echo $objProduto->getCodigo(); ?>"><?php echo $objProduto->getPcModulo() * ($produto['car_item_qtde'] ? $produto['car_item_qtde'] : 0); ?></li>
                            <?php
                            $valorProd = $produto['prec_preco'];
                            if ($this->aprovador) {
                                $icms = $this->pedido->getLoja()->getIcms();
                            } else {
                                $icms = App_Plugin_Login::getInstance()->getIdentity()->getLoja()->getIcms();
                            }
                            $valorProd = App_Funcoes_Calculo::calculo($valorProd, $objProduto->getCcf(), $icms, $objProduto->getAliquotaIpi());
                            ?>
                            <li class="col-7">R$ <?php echo number_format($valorProd, 2, ',', ''); ?></li>
                            <li class="col-8" id="precoProdTotal<?php echo $objProduto->getCodigo(); ?>">R$ <?php echo number_format(($produto['car_item_qtde'] * $valorProd), 2, ',', ''); ?></li>
                        </ul>
                    </div>
                </li>

            <?php } ?>
    </div>
    </ul>
    <div class="amount">
        <div class="container">
            <h4>Valor total do pedido</h4>
            <span id="totalPedido">R$ <?php echo App_Funcoes_Money::toCurrency($this->MinhaSacola()->getValor()); ?></span>
        </div>
    </div>
    <div class="buttons-page">
        <div class="container">
            <a href="javascript:history.back();" title="Voltar" class="btni voltar left">Voltar</a>
            <?php if ($this->aprovador == false) { ?>
                <a href="<?php if ($this->presicaAprovar == true) { ?>javascript:finalizar();<?php } else { ?>javascript:prosseguir();<?php } ?>" title="Prosseguir" class="btni prosseguir right">Prosseguir</a>
                <a href="javascript:;" title="Limpar" id="limparCarrinho" class="btni excluir right">Limpar</a>
            <?php } else { ?>
                <a href="javascript:prosseguir();" title="Aprovar" class="btni confirmar right">Aprovar</a>
                <a href="javascript:reprovar();" title="Reprovar" class="btni excluir right">Reprovar</a>
            <?php } ?>
        </div>
    </div>
<?php } ?>

<?php if ($this->aviso) { ?>
    <div id="aviso" style='display:none'>
        <h1>
            J&aacute; existem pedido(s) recente(s) para sua loja.<br />
            Deseja visualiz&aacute;-los?
        </h1>
        <input type="button" id="simAviso" value="Sim" class="btn" />
        <input type="button" id="naoAviso" value="N&atilde;o" class="btn" />
    </div>
<?php } ?>

<div id="question" style="display:none; cursor: default">
    <h1>Voc&ecirc; tem certeza que deseja mudar de linha? Se caso optar por 'sim', o pedido da linha atual ser&aacute; perdido.</h1>
    <br />
    <input type="button" id="sim" value="Sim" class="btn" />
    <input type="button" id="nao" value="N&atilde;o" class="btn" />
</div>

<?php if ($this->aprovador == true) { ?>
    <div id="reprovar" style="display:none; cursor: default">
        <h1>Tem certeza que deseja reprovar o pedido?</h1>
        <br />
        <input type="button" id="simReprovar" value="Sim" class="btn" />
        <input type="button" id="naoReprovar" value="N&atilde;o" class="btn" />
    </div>
<?php } ?>

<?php if ($this->presicaAprovar == true) { ?>
    <div id="finalizar" style="display:none; cursor: default">
        <h1>Tem certeza que deseja finalizar o pedido?</h1>
        <br />
        <ul class="lbls">
           <li><h2>Seu pedido: (Campo reservado para o seu controle)</h2></li>
        </ul>
         <ul class="campos">
         <input type="text" class="" id="seuNumero" name="seuNumero"/>
        </ul>
		
        <input type="button" id="simFinalizar" value="Sim" class="btn" />
        <input type="button" id="naoFinalizar" value="N&atilde;o" class="btn" />
    </div>
<?php } ?>

<script src="scripts/easyzoom.js"></script>

<script>
                                        $(document).ready(function(msg) {
                                        largura = $(document).width();
                                        $(".mascara").hide();
                                        $(".conteudo").hide();
                                        if (largura <= 768){
                                        $(".mascara").fadeIn('slow');
                                        $(".conteudo").fadeIn();
                                        $(".fecha").click(function(){
                                        $('.mascara').fadeOut();
                                        });
                                        } else{

                                        }
                                        });</script>

<script>
    // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();

</script>
