.x-btn-group-ribbonstyle .x-btn-group-bc {
    background-image: url(images/ribbon-group-bt.gif);
    text-align: center;
    vertical-align: top;
    padding: 2px 2px 5px 2px;
}

.x-btn-group-ribbonstyle .x-btn-group-header {
    font-size: 10px !important;
	 cursor: default;
}

.ui-ribbon .x-tab-strip-spacer {
    border: 0px;
    display: none;
}

.ui-ribbon .x-toolbar {
    background-image: url(images/ribbon-bg.gif);
}

.ui-ribbon .x-tab-strip-top .x-tab-right,
.ui-ribbon .x-tab-strip-top .x-tab-left,
.ui-ribbon .x-tab-strip-top .x-tab-strip-inner {
    background-image: url(images/ribbon-tabs-sprite.gif);
}

.ui-ribbon .x-tab-strip-text {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    font-weight: normal !important;
}

.ui-ribbon ul.x-tab-strip-top,
.ui-ribbon .x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    /* border-bottom-color: #a9bfd3; */
}

.ui-ribbon .x-tab-strip span.x-tab-strip-text,
.ui-ribbon .x-tab-strip-active span.x-tab-strip-text {
    color: #333333;
}

.ui-ribbon .x-toolbar-ct {
    padding: 0px !important;
}

.ui-ribbon .x-btn-text {
    text-align: center;
    width: 100%;
    display: block;
    overflow: hidden !important;
    white-space: normal !important;
}

.ui-ribbon .x-btn-as-arrow .x-btn-mc em {
    display: block;
    background-color: transparent;
	padding-bottom: 13px;
}

.x-btn-group-bwrap {
	height: 88px !important;
}

/* Toolbar adjustes */

.x-btn-group-notitle .x-btn-group-tc {
    background-image: none !important;
}

.x-btn-group-ml {
	background-image: none !important;
}

.x-btn-group-tl {
	background-image: none !important;
}

.x-btn-group-tr {
    background-image: none !important;
}

.x-btn-group-bl {
    background-image: none !important;
}

.x-btn-group-mr {
    background-image: none !important;
}

.x-btn-group-br {
    background-image: none !important;
}

.x-toolbar .xtb-sep.ribbon {
    background-repeat:repeat-y;
	height:75px;
}