@CHARSET "ISO-8859-1";

/* Login */
.icon-login-window { background-image: url('../images/icons/small/key.png') !important; }
.icon-login-logar { background-image: url('../images/icons/medium/logar.png') !important; }
.icon-login-esqueci { background-image: url('../images/icons/medium/esqueci.png') !important; }

/* Menus */
.icon-close-tab { background-image: url('../images/icons/small/close-tab.png') !important; }
.icon-close-alltab { background-image: url('../images/icons/small/close-alltab.png') !important; }

/* Site */
.icon-modulos-large { background-image: url('../images/icons/large/modulos.png') !important; }

.icon-experts-small { background-image: url('../images/icons/small/expert.png') !important; }

.icon-site-large { background-image: url('../images/icons/large/site.png') !important; }

.icon-grupos-large { background-image: url('../images/icons/large/grupos.png') !important; }

.icon-lojas-small { background-image: url('../images/icons/small/lojas.png') !important; }
.icon-lojas-large { background-image: url('../images/icons/large/lojas.png') !important; }

.icon-banners-small { background-image: url('../images/icons/small/banners.png') !important; }
.icon-banners-large { background-image: url('../images/icons/large/banners.png') !important; }

.icon-downloads-small { background-image: url('../images/icons/small/downloads.png') !important; }
.icon-downloads-large { background-image: url('../images/icons/large/downloads.png') !important; }

.icon-pedidos-large { background-image: url('../images/icons/large/pedidos.png') !important;}
.icon-pedidos-small { background-image: url('../images/icons/small/pedidos.png') !important;}


.icon-noticias-small { background-image: url('../images/icons/small/noticias.png') !important; }
.icon-noticias-large { background-image: url('../images/icons/large/noticias.png') !important; }

.icon-videos-small { background-image: url('../images/icons/small/videos.png') !important; }
.icon-videos-large { background-image: url('../images/icons/large/videos.png') !important; }

.icon-grupolojas-small { background-image: url('../images/icons/small/grupolojas.png') !important; }
.icon-grupolojas-large { background-image: url('../images/icons/large/grupolojas.png') !important; }

.icon-redes-small { background-image: url('../images/icons/small/redes.png') !important; }
.icon-redes-large { background-image: url('../images/icons/large/redes.png') !important; }

.icon-gruporedes-small { background-image: url('../images/icons/small/gruporedes.png') !important; }
.icon-gruporedes-large { background-image: url('../images/icons/large/gruporedes.png') !important; }

.icon-atendimento-small { background-image: url('../images/icons/small/atendimento.png') !important; }
.icon-atendimento-large { background-image: url('../images/icons/large/atendimento.png') !important; }

.icon-ouvidoria-small { background-image: url('../images/icons/small/ouvidoria.png') !important; }

.icon-faqs-small { background-image: url('../images/icons/small/faqs.png') !important; }
.icon-faqs-large { background-image: url('../images/icons/large/faqs.png') !important; }

.icon-sugestoes-small { background-image: url('../images/icons/small/sugestoes.png') !important; }
.icon-sugestoes-large { background-image: url('../images/icons/large/sugestoes.png') !important; }

.icon-reclamacoes-small { background-image: url('../images/icons/small/reclamacoes.png') !important; }
.icon-reclamacoes-large { background-image: url('../images/icons/large/reclamacoes.png') !important; }

.icon-usuarios-small { background-image: url('../images/icons/small/users.png') !important; }
.icon-usuarios-large { background-image: url('../images/icons/large/users.png') !important; }

.icon-produtos-small { background-image: url('../images/icons/small/produtos.png') !important; }
.icon-produtos-large { background-image: url('../images/icons/large/produtos.png') !important; }

.icon-pesquisas-small { background-image: url('../images/icons/small/pesquisas.png') !important; }
.icon-pesquisas-large { background-image: url('../images/icons/large/pesquisas.png') !important; }

.icon-comunicados-small { background-image: url('../images/icons/small/comunicados.png') !important; }
.icon-comunicados-large { background-image: url('../images/icons/large/comunicados.png') !important; }

.icon-status-small { background-image: url('../images/icons/small/status.png') !important; }
.icon-status-large { background-image: url('../images/icons/large/status.png') !important; }

.icon-embalagens-small { background-image: url('../images/icons/small/embalagens.png') !important; }

/* Configuração */
.icon-galeria-small { background-image: url('../images/icons/small/galeria.png') !important; }

.icon-tools-small { background-image: url('../images/icons/small/tools.png') !important; }

.icon-status-small { background-image: url('../images/icons/small/status.png') !important; }

.icon-tabela-small { background-image: url('../images/icons/small/tabela.png') !important; }
.icon-tabela-large { background-image: url('../images/icons/large/tabela.png') !important; }

/* Sistema */
.icon-logout { background-image: url('../images/icons/large/disconnect.png') !important; }
.icon-password { background-image: url('../images/icons/small/password.png') !important; }
.icon-perfiluser { background-image: url('../images/icons/small/users.png') !important; }

.icon-user-insert { background-image: url('../images/icons/small/user-insert.png') !important; }
.icon-user-update { background-image: url('../images/icons/small/user-update.png') !important; }
.icon-user-delete { background-image: url('../images/icons/small/user-delete.png') !important; }

/* Geral */
.icon-insert { background-image: url('../images/icons/small/insert.png') !important; }
.icon-update { background-image: url('../images/icons/small/update.png') !important; }
.icon-delete { background-image: url('../images/icons/small/delete.png') !important; }
.icon-tools { background-image: url('../images/icons/small/tools.png') !important; }
.icon-tools-large { background-image: url('../images/icons/large/tools.png') !important; }
.icon-filter-clean { background-image: url('../images/icons/small/filter-clean.png') !important; }
.icon-filter { background-image: url('../images/icons/small/filter.png') !important; }
.icon-refresh { background-image: url('../images/icons/small/refresh.png') !important; }
.icon-excel { background-image: url('../images/icons/small/excel.gif') !important; }

.icon-save-small { background-image: url('../images/icons/small/save.png') !important; }
.icon-save-medium { background-image: url('../images/icons/medium/save.png') !important; }

.icon-save-cancel-small { background-image: url('../images/icons/small/save-cancel.png') !important; }
.icon-save-cancel-medium { background-image: url('../images/icons/medium/save-cancel.png') !important; }

.icon-up { background-image: url('../images/icons/small/up.png') !important; }
.icon-down { background-image: url('../images/icons/small/down.png') !important; }

.icon-add-small { background-image: url('../images/icons/small/add.png') !important; }
.icon-add-medium { background-image: url('../images/icons/medium/add.png') !important; }

.icon-ok-small { background-image: url('../images/icons/small/ok.png') !important; }
.icon-ok-medium { background-image: url('../images/icons/medium/ok.png') !important; }

.icon-cancel-small { background-image: url('../images/icons/small/cancel.png') !important; }
.icon-cancel-medium { background-image: url('../images/icons/medium/cancel.png') !important; }

.icon-folder-pai { background: url('../images/icons/small/folder_add.png') no-repeat !important; }
.icon-folder { background: url('../images/icons/small/folder_closed.png') no-repeat !important; }

.icon-view { background-image: url('../images/icons/small/view.png') !important; }

.icon-send-small { background-image: url('../images/icons/small/send-image.png') !important; }

.icon-ativado { background-image: url('../images/icons/small/ok.png') !important; }
.icon-desativado { background-image: url('../images/icons/small/forbidden.png') !important; }

.icon-pause-small { background-image: url('../images/icons/small/pause.png') !important; }
.icon-printer-small { background-image: url('../images/icons/small/printer.png') !important; }
