@import "variables";

.btn
{
	border: 2px solid @blue;
	text-transform: uppercase;
	color: @blue;
	font: 1.2em 'proximanova-bold';
	padding: 7px 17px;
	background: none;
	cursor: pointer;

	sup
	{
		text-transform: lowercase;
	}
}