@font-face{ 
	font-family: 'proximanova-regular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proximanova-regular-webfont.woff') format('woff'),
	     url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
	     url('../fonts/proximanova-regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{ 
	font-family: 'proximanova-bold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proximanova-bold-webfont.woff') format('woff'),
	     url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
	     url('../fonts/proximanova-bold-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{ 
	font-family: 'opensans-regular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/opensans-regular-webfont.woff') format('woff'),
	     url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	     url('../fonts/opensans-regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{ 
	font-family: 'sourcesanspro-regular';
	src: url('../fonts/sourcesanspro-regular-webfont.eot');
	src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
	     url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
	     url('../fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{ 
	font-family: 'sourcesanspro-semibold';
	src: url('../fonts/sourcesanspro-semibold-webfont.eot');
	src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
	     url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
	     url('../fonts/sourcesanspro-semibold-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}