.row
{
	overflow: hidden;
	margin-bottom: 20px;
}

.row-space
{
	height: 33px;
}

.input
{
	border: 1px solid #929292;
	height: 26px;
	font-size: 1.8em;
	padding-left: 5px;
}

.input-2
{
	border: 2px solid @light-blue;
	height: 29px;
	font: 1.2em 'proximanova-bold';
	padding: 0 19px;
	text-transform: uppercase;
	color: #393939;
	&.off
	{
		border: 2px solid @gray;
	}
	&.margem
	{
		margin-left: 20px;
	}
}



.select
{
	background: url("@{image-path-default-desktop}/bg-select.jpg") 95% no-repeat;
	border: 2px solid @light-blue;
	.overflow;
	select
	{
		
		text-transform: uppercase;
		color: @black;
		font:1.2em 'proximanova-bold';
		appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
        background: transparent;
        width: 115%;
        margin: 6px 14px;
	}
}

.select-1{width: 120px;}
.select-2{width: 160px;}
.select-3{width: 212px;}
.select-4{width: 136px;}
.select-5{width: 247px;}
.select-6{width: 340px;}
.select-7{width: 156px;}


.input-size-1{width: 498px;}
.input-size-2{width: 209px;}
.input-size-3{width: 40px;}
.input-size-4{width: 124px;}
.input-size-5{width: 117px;}
.input-size-6{width: 74px;}
.input-size-7{width: 129px;}
.input-size-8{width: 174px;}
.input-size-9{width: 56px;}

.form{width: 541px; margin: 0 auto;}

.textarea
{
	border: 2px solid @light-blue;
	font:1.2em 'proximanova-bold';
	text-transform: uppercase;
	color: #393939; 
	padding: 10px 20px;
}

.textarea-size-1
{
	max-width: 496px;
	width: 496px;
	max-height: 130px;
	height: 130px;
}

.table
{
	.input
	{
		font-size: 1.0em;
	}
}

