
.center{margin: 0 auto;}
.left{float: left;}
.right{float: right;}
.inline-block{list-style: none;}
.clear{clear: both;}
.inline-block
{
	li
	{
		display: block;
		.left;
	}
}
.overflow{overflow: hidden;}
.display-none{display: none;}
.display-block{display: block;}

.box-shadow
{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
