@image-path-desktop: "../../images/desktop";
@image-path-tablet: "../../images/tablet";
@image-path-default: "../images";
@image-path-default-desktop: "../images/desktop";

//Colors

@gray: #a5a5a5;
@darck-gray: #4b4b4b;
@white: #fff;
@darck-blue: #0f3e62;
@blue: #005595;
@black : #393939;
@light-blue: #64bdff;

